{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/1141.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Begum Liaquat Ali Khan Meets James Killian, shown here at the far right during his tenure as the president of MIT</span>
                
                <br>
                <span class="milestone-caption-txt">Department of State, Harry S. Truman Library and Museum</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">President’s Science Advisory Committee</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">November 21, 1957</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Concerned that the United States was losing its primacy in the sciences to the Soviets after they launched Sputnik 1 and Sputnik 2, Eisenhower selected James R. Killian as the first Special Assistant for Science and Technology, a position that reported directly to the president. Eisenhower’s newly created President’s Science Advisory Committee (PSAC) supported the work of the special assistant. PSAC focused on science education and the establishment of NASA.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}