<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="8220see-it-now8221-debuts-on-national-television" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/736.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/737.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/738.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/741.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Edward R. Murrow</span>

                <br>
                <span class="milestone-caption-txt"><p>Ad for Pan American Coffee Bureau in <em>LIFE</em> magazine, pg. 59</p>

<p>Wikimedia Commons</p>
</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">“See it Now” debuts on national television</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">November 18, 1951</h2>



            <div class="milestone-body-txt xs-mb-36">
<p><em>See It Now</em> was a newsmagazine and documentary series broadcast from 1951 to 1958. Edward R. Murrow and Fred W. Friendly created the show and Murrow served as host. A number of controversial topics were covered including an episode on the Red Scare, which contributed to the eventual political downfall of Senator Joseph McCarthy.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>