<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="atoms-for-peace-speech" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/237.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/238.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/239.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/242.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Eisenhower standing before the U.N. General Assembly</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library, ID: 72-595-11</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">“Atoms for Peace” speech</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">December 8, 1953</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Before the United Nations General Assembly, Eisenhower gave his “Atoms for Peace” speech, in which he urged the creation of peaceful atomic programs for the benefit of humanity. The speech opened the debate over the control of nuclear science and technology to the public for the first time.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>