<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="first-working-model-of-microchip" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/862.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/863.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/864.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/867.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">A worker in a Naval Supply Depot warehouse loads small items into baskets that are equipped with coded microchips for inventory control purposes</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 6442600</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">First working model of microchip</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 12, 1958</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Jack Kilby of Texas Instruments produced a microcircuit with both active and passive components fabricated from semiconductor material. Kirby used gold “flying wires” to connect the transistor, capacitor and resistor elements.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>