<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="interstate-highway-system" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/293.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/294.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/295.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/299.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Sign for the Interstate Highway System, saluting President Eisenhower, who initiated the system in the 1950s</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: 2011633914</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Interstate Highway System</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 29, 1956</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Greatly influenced by his experience on the 1919 transcontinental convoy and his observation of European roadways during World War II, Eisenhower signed the Federal Aid Highway Act of 1956 investing in a safe, efficient and modern system of interstate highways. The logo has five stars in recognition of Eisenhower’s status as a five-star general.</p>
</div>



            <div class="sponsor">

                <img src="/modules/custom/ike_timeline/src/static/img/assets/296.png" width="" height="">


            </div>






        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>