<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="voting-rights-act" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/918.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/919.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/920.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/923.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Signing of the Voting Rights Act with President Johnson and Dr. Martin Luther King, Jr., President's Room, U.S. Capitol, Washington, DC</span>

                <br>
                <span class="milestone-caption-txt">Lyndon B. Johnson Presidential Library, ID: A1030-17a</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Voting Rights Act</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">August 6, 1965</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The Voting Rights Act of 1965 prohibited racial discrimination in voting and was designed to enforce voting rights guaranteed by the Fourteenth and Fifteenth Amendments to the U.S. Constitution. The Act was signed into law by President Lyndon B. Johnson and was later amended five times to expand its protections.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>