{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/1148.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Supreme Allied Commander Eisenhower, wearing the five-star cluster of the newly-created rank of General of the Army, pictured at his headquarters in the European Theater of Operations</span>
                
                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 520686</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Supreme Commander Allied Expeditionary Force</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">December 1943 - July 1945</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>After victory in North Africa, Eisenhower was appointed Supreme Commander Allied Expeditionary Force (SCAEF) in December 1943. He then had the opportunity to apply the lessons learned during his previous command to Operation Overlord, the planned invasion of German-occupied western Europe. Eisenhower's official command began on February 14, 1944, after he received his official directive (dated February 12) from the Combined Chiefs of Staff.   </p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}