<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="seato-formed" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/54.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/55.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/56.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/59.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Heads of state of member SEATO nations, Manila, Philippines, October 24, 1966 </span>

                <br>
                <span class="milestone-caption-txt">Lyndon Baines Johnson Presidential Library, ID: C-3638-6</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">SEATO formed</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 8, 1954</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Modeled on the North Atlantic Treaty Organization (NATO), the Southeast Asia Treaty Organization (SEATO) was formed by a group of nations with a collective interest in preventing the spread of Communism. However, SEATO did not experience the same success as NATO and disbanded in 1977.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>