{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    <div class="video-view">
                        <div class="video-container"></div>                      
                    </div>
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt"><i>D-Day, 1944 - The Decision That Changed the World</i>, E-Memorial Pivotal Moment Film</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer pivotal moment"></div>

            <h4 class="milestone-super-title-txt pivotal moment xs-mt-10">pivotal moment</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">D-Day</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">June 6, 1944</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>As the Supreme Commander of Allied Forces during World War II, Dwight D. Eisenhower changed the course of history by launching the D‑Day invasion of France.</p>
</div>
            

            
            
            
            <div class="sponsor">
                
                <img src="/modules/custom/ike_timeline/src/static/img/assets/173.png" width="" height="">
                
                
                <p class="sponsor-txt">
                    Made possible with the generous donation provided by Pfizer Inc
                </p>
                
            </div>
            

            
            <a href="https://emcteaching.s3.amazonaws.com/D_Day.zip" download>
                <div class="padding-btn milestone-download-btn xs-mt-20 xs-mb-10">
                    <div class="download-icon"></div>
                    
                    <div class="download-icon-hover"></div>
                   
                    <span class="button-txt">download lesson plans</span>               
                </div>
            </a>
                  
             
            
            <a href="http://eisenhowermemorial.gov/experience/#/dday" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        explore pivotal moment
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev pivotal moment">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}