<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="rosie-the-riveter" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/610.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/611.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/612.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/615.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">"We Can Do It!" poster featuring the cultural icon Rosie the Riveter</span>

                <br>
                <span class="milestone-caption-txt">National Museum of American History</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Rosie the Riveter</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">1941 - 1945</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>With many men leaving their jobs for the military, women played important roles in wartime production.  The “We Can Do It!” poster by artist J. Howard Miller was designed to inspire worker morale during the war. Americans at all levels were encouraged to aid the war effort.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>