<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="queen-elizabeth-ascends-the-throne" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/743.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/744.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/745.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/748.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Queen Elizabeth II and Prince Philip, Duke of Edinburgh, Coronation portrait, 1953</span>

                <br>
                <span class="milestone-caption-txt">Library and Archives Canada, ID: 3242153</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Queen Elizabeth Ascends The Throne</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">February 6, 1952</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Queen Elizabeth II ascended to the throne of the United Kingdom upon the death of her father, King George VI. As Head of the Commonwealth she was also queen regnant of Canada, Australia, New Zealand, South Africa, Pakistan, and Ceylon (Sri Lanka).</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>