{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    <div class="video-view">
                        <div class="video-container"></div>                      
                    </div>
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt"><i>Waging Peace, 1953 - Fighting To End All War</i>, <br>E-Memorial Pivotal Moment Film</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer pivotal moment"></div>

            <h4 class="milestone-super-title-txt pivotal moment xs-mt-10">pivotal moment</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">“The Chance for Peace”</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">April 16, 1953</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Speaking three months into his presidency and in response to the recent death of Joseph Stalin, Eisenhower gave “The Chance for Peace” speech before the American Society of Newspaper Editors in Washington, DC. Eisenhower stressed the cost in terms of human effort and lives, as well as money, in continuing an aggressive arms race with the Soviet Union.</p>
</div>
            

            
            
            

            
            <a href="https://emcteaching.s3.amazonaws.com/_8220_The_Chance_for_Peace_8221_.zip" download>
                <div class="padding-btn milestone-download-btn xs-mt-20 xs-mb-10">
                    <div class="download-icon"></div>
                    
                    <div class="download-icon-hover"></div>
                   
                    <span class="button-txt">download lesson plans</span>               
                </div>
            </a>
                  
             
            
            <a href="http://eisenhowermemorial.gov/experience/#/waging_peace" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        explore pivotal moment
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev pivotal moment">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}