<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="plessy-v-ferguson" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/421.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/422.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/423.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/426.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Newpaper article about the arrest of Homer Plessy</span>

                <br>
                <span class="milestone-caption-txt">Daily Picayune , New Orleans, Louisiana</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Plessy v. Ferguson</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 18, 1896</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Homer Plessy, a Creole of color, was arrested for riding in a white-only train car in Louisiana. After his conviction, Plessy filed a petition against the trial judge, Hon. John J. Ferguson, arguing that his arrest violated both the Thirteenth and Fourteenth Amendments. The Supreme Court decision in <em>Plessy v. Ferguson</em> upheld the constitutionality of “separate but equal” state laws that required racial segregation in public places.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>