<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="golden-age-of-television" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/708.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/709.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/710.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/713.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Father reading newspaper, two children viewing television</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: gsc 5a19812</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Golden Age of Television</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">1948 - 1960</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Regular television programming began in 1948 with many of the shows being adapted from their radio format such as <em>Gunsmoke</em> and <em>Our Miss Brooks</em>. Advertising played a big role in programming, then as now, and many anthology series and musical programs were named for their sponsors. By 1955, half of all households in the United States owned television sets.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>