<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="supreme-commander-allied-expeditionary-force" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1142.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1143.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1144.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1147.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Supreme Allied Commander Eisenhower, wearing the five-star cluster of the newly-created rank of General of the Army, pictured at his headquarters in the European Theater of Operations</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 520686</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Supreme Commander Allied Expeditionary Force</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">December 1943 - July 1945</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>After victory in North Africa, Eisenhower was appointed Supreme Commander Allied Expeditionary Force (SCAEF) in December 1943. He then had the opportunity to apply the lessons learned during his previous command to Operation Overlord, the planned invasion of German-occupied western Europe. Eisenhower's official command began on February 14, 1944, after he received his official directive (dated February 12) from the Combined Chiefs of Staff.   </p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>