<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="naacp-founded" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1037.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1038.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1039.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1042.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Platform of the National Negro Committee, 1909</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: na0024</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">NAACP founded</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">February 12, 1909</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The National Association for the Advancement of Colored People (NAACP) was founded by a diverse group of civil rights activists, including W. E. B. Du Bois, Ida B. Wells, Archibald Grimké, Henry Moskowitz and Mary White Ovington.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>