<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="transcontinental-army-convoy" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/89.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/90.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/91.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/95.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">The whole convoy, Utah</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library, ID: 98-3-140</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Transcontinental Army Convoy</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">July 7, 1919</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower, now a Lieutenant Colonel (temporary) in the Army, was assigned to a transcontinental Army convoy to test vehicles and dramatize the need for improved roads in the nation. This experience laid the foundation for Eisenhower’s efforts during his presidency to improve the nation’s highway systems.</p>
</div>



            <div class="sponsor">

                <img src="/modules/custom/ike_timeline/src/static/img/assets/92.png" width="" height="">


            </div>






        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>