/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}

.paragraph--type--text-and-links .field--name-field-call-to-action,
.paragraph--type--text-and-links .field--name-field-link-2,
.paragraph--type--text-and-links .field--name-field-link-3 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  height: 40px;
}

.paragraph--type--text-and-links .field--name-field-call-to-action a,
.paragraph--type--text-and-links .field--name-field-link-2 a,
.paragraph--type--text-and-links .field--name-field-link-3 a,
.paragraph--type--educator-s-guide-block .field--name-field-call-to-action a {
  background-color: var(--tertiary-40);
  color: var(--neutral-100);
  padding: 1rem 1.4rem;
  border-radius: 10rem;
  text-decoration: none;
}

.paragraph--type--educator-s-guide-block .field--name-field-call-to-action a {

}

.paragraph--type--two-column-text-collage .field--name-field-link {
  margin-top: 4rem;
}

.paragraph--type--link .button a,
.paragraph--type--two-column-text-collage .field--name-field-link a {
  display: inline-block;
  background-color: var(--primary-40);
  color: var(--neutral-100);
  padding: 1rem 1.4rem;
  border-radius: 10rem;
  text-decoration: none;
}

.paragraph--type--link .button a:hover {
  background-color: var(--primary-30);
  color: var(--neutral-100);
}

.paragraph--type--link .button-light a {
  background-color: var(--primary-90);
  color: var(--neutral-40);
  padding: 1rem 1.4rem;
  border-radius: 10rem;
  text-decoration: none;
}

.paragraph--type--link .button-light a:hover {
  background-color: var(--primary-80);
  color: var(--neutral-10);  
}
