
.ikes-life-item-wide {
  display: flex;
  margin-bottom: 64px;
}

.ikes-life-item-square {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.ikes-life-item-square-md {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.ikes-life-item-wide .views-row {
  display: flex;
  align-items: stretch;
  width: 960px;
  overflow: hidden;
  position: relative;
}

.ikes-life-item-square .views-row {
  width: 296px;
  margin: 0.5rem;
  border-radius: 1.3rem;
  overflow: hidden;
}

.ikes-life-item-square .views-row:hover {
  border-radius: 2.25rem;
  transition: border-radius 0.25s ease;
}

.ikes-life-item-square .views-row:hover img {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}

.ikes-life-item-square-md .views-row {
  width: 420px;
  margin: 0.5rem;
  border-radius: 1.3rem;
  overflow: hidden;
}

.ikes-life-item-square-md .views-row:hover {
  border-radius: 2.5rem;
  transition: border-radius 0.25s ease;
}

.ikes-life-item-square-md .views-row:hover img {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}

.view-ike-s-life-early-military .ikes-life-item-square .views-row {
  width: 296px;
  margin: 0.5rem;
}

.ikes-life-item-wide .view-header {
  width: 420px;
}

.ikes-life-item-square .view-header, .ikes-life-item-square-md .view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  width: 100%;
}

.ikes-life-item-square .view-header .title-text-container, 
.ikes-life-item-square-md .view-header .title-text-container {
  display: flex;
  align-items: center;
  width: 960px;
}

.ikes-life-item-wide .views-field-field-summary-image img {
  height: 268px;
  object-fit: cover;
  display: block;
  margin-top: 0px;
  border-radius: 1.3rem 0 0 1.3rem;
}

.ikes-life-item-wide .view-content {
  width: 960px;
}

.ikes-life-item-wide a, 
.ikes-life-item-square a, 
.ikes-life-item-square-md a {
  text-decoration: none;
}

.ikes-life-item-wide .views-row:hover {
  border-radius: 2.2rem 0 0 2.2rem;
  transition: transform 0.25s ease, border-radius 0.25s ease;
}

.ikes-life-item-wide .views-row:hover img {
  transition: transform 0.25s ease, border-radius 0.25s ease;
  transform: scale(1.03);
}


.ikes-life-item-square .view-content, .ikes-life-item-square-md .view-content  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 960px;
}

.ikes-life-item-square-md .view-content {
  width: 960px;
}

.ikes-life-item-square .view-header .ikes-life-heading-year {
  width: 344px;
}

.ikes-life-item-square .ikes-life-heading-title, .ikes-life-item-square-md .ikes-life-heading-title  {
  margin-right: 4rem;
}

.ikes-life-item-square .ikes-life-heading-text, .ikes-life-item-square-md .ikes-life-heading-text {
  max-width: 520px;
  margin-top: 0rem;
}

.ikes-life-item-square .views-field .views-field-title-1 {
  height: 122px;
}

.ikes-life-item-wide .views-field-title-1 {
  border-radius: 0 1.3rem 1.3rem 0;
  background: var(--primary-10);
  padding: 2rem 2.5rem;
}

.ikes-life-item-wide .views-row:hover .views-field-title-1 {
  border-radius: 0 2rem 2rem 0;
  transition: .25s all ease;
}

.ikes-life-item-square .views-field-title-1, .ikes-life-item-square-md .views-field-title-1 {
  border-radius: 0 0 1.5rem 1.5rem;
  background: var(--primary-10);
  padding: 1.8rem 2rem;
  height: 116px;
}

.view-ike-s-life-the-general .views-field-title-1 {
  height: 106px;
}

.ikes-life-item-square h3,
.ikes-life-item-square-md h3 {
  color: var(--primary-100);
  margin-top: 0px;
}

.ikes-life-item-square-md .views-field-field-summary-image {
  height: 300px;
  overflow: hidden;
}

.ikes-life-item-square .views-field-field-summary-image img {
  object-fit: none;
  max-width: 100%;
  height: 240px;
}

.ikes-life-item-square .views-field-field-summary-image .field-content {
  height: 240px;
}

.ikes-life-item-square-md .views-field-field-summary-image img {
  object-fit: cover;
  max-width: 100%;
  width: 420px;
}


/** Ike's Soldiers **/

.view-soliders-main .views-row .text-container,
.view-soldiers-featured .text-container {
  background-color: var(--secondary-90);
  padding: 1rem 1.5rem 1.35rem 1.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 56px;
  position: relative; 
  z-index: 2;
}

.view-soliders-main .views-row:hover .text-container,
.view-soldiers-featured .views-row:hover .text-container {
  background-color: var(--secondary-80);
  transition: 0.25s all ease;
}


.view-soliders-main .soldier-image img,
.view-soldiers-featured img {
  display: flex;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 220px;
  height: 310px;
}

.view-soliders-main .views-row p,
.view-soldiers-featured .views-row p {
  margin: 0px;
}

.view-soldiers-main .title-medium,
.view-soldiers-featured .title-small {
  margin-bottom: 4px !important;
  color: var(--primary-10);
}

p.text-light {
  color: var(--secondary-40) !important;
}

.view-soliders-main .text-container p,
.view-soldiers-featured .text-container p {
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*** card image title ***/


.card-image-title {
  width: 314px;
  margin: 0 1rem 2rem 1rem;
  background: var(--primary-95);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  right: 1rem;
}

.card-image-title .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  /* height: 112px; */
}

.card-image-title a {
  text-decoration: none;
}

.card-image-title img {
  max-width: 100%;
  height: 316px;
  object-fit: cover;
}

.card-image-title h3 {
  margin-top: 12px !important;
}

.card-image-title p {
  margin: 0;
  color: var(--neutral-40)
}


/*** card-news ***/

.card-news {
  margin-bottom: 4rem;
}

.card-news a {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.card-news .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  min-height: 348px;
  max-width: 960px;
  background-color: var(--primary-98);
  padding: 2rem 16rem 2.25rem 3rem;
  border-radius: 1.5rem;
  margin-right: -128px;
}

.card-news h2 {
  color: var(--primary-10);
}

.card-news .subheading {
  min-height: 180px;
  color: var(--primary-90) !important;
}

.card-news .label-medium {
  margin-bottom: 3rem;
}

.card-news .views-field-field-summary-image .field-content {
  border-radius: 1.5rem;
  margin-top: 5rem;
  overflow: hidden;
}

.card-news img {
  height: 316px;
  width: 420px;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-top: 3rem;
}

.card-news p {
  color: var(--neutral-40);
}

/** card news featured **/

.view-events-featured .card-news .text-container {
  background-color: var(--primary-10);
}

.view-events-featured .card-news h2 {
  color: var(--primary-98)
}

.view-events-featured .card-news p {
  color: var(--primary-90)
}

