
.ikes-life-item-wide {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.ikes-life-item-wide .view-content {
  width: 952px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .view-content {
    width: 100%;
  }
}

.ikes-life-item-wide .views-row {
  display: flex;
  align-items: stretch;
  width: 960px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .views-row {
    width: auto;
  }
}

@media screen and (max-width: 712px) {
  .ikes-life-item-wide .views-row {
    flex-direction: column;
  }
}

.ikes-life-item-wide .views-row:hover {
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 0.25s ease, border-radius 0.25s ease;
}

@media screen and (max-width: 968px) {
  .ikes-life-item-wide .views-row:hover {
    border-radius: 2rem;
    transition: transform 0.25s ease, border-radius 0.25s ease;
  }
}

.ikes-life-item-wide .views-row:hover img {
  transition: transform 0.25s ease, border-radius 0.25s ease;
  transform: scale(1.03);
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide {
    margin: 0 var(--gutter-xl);
  }
}

.ikes-life-item-wide .view-header {
  width: 420px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .view-header .ikes-life-heading-year {
    margin-bottom: 2rem;
  }
}

.ikes-life-item-wide .views-field-title-1 {
  border-radius: 0 1.3rem 1.3rem 0;
  background: var(--primary-10);
  padding: 3rem 2.5rem;
  max-width: 620px;
  min-height: 197px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .views-field-title-1 {
    max-width: 560px;
  }
}

@media screen and (max-width: 1216px) {
  .ikes-life-item-wide .views-field-title-1 {
    max-width: 480px;
  }
}

@media screen and (max-width: 968px) {
  .ikes-life-item-wide .views-field-title-1 {
    max-width: 400px;
    
  }
}

@media screen and (max-width: 712px) {
  .ikes-life-item-wide .views-field-title-1 {
    max-width: 100%;
    border-radius: 0 0 1.3rem 1.3rem;
  }
}

.ikes-life-item-wide .views-row:hover .views-field-title-1 {
  border-radius: 0 2rem 2rem 0;
  transition: .25s all ease;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .views-row:hover .views-field-title-1 {
    border-radius: 0 2rem 2rem 0;
    transition: .25s all ease;
  }
}

.ikes-life-item-wide .views-field-field-summary-image img {
  height: 100%;
  display: block;
  margin-top: 0px;
  border-radius: 1.3rem 0 0 1.3rem;
}

.ikes-life-item-wide .views-field-field-summary-image .field-content,
.ikes-life-item-wide .views-field-field-summary-image a {
  display: block;
  height: 100%;
}

.ikes-life-item-wide .views-field-field-summary-image {
  overflow: hidden;
  width: 320px;
}

@media screen and (max-width: 968px) { 
  .ikes-life-item-wide .views-field-field-summary-image {
    width: 100%;
  }
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-wide .views-field-field-summary-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.3rem 0 0 1.3rem;
  }
}

@media screen and (max-width: 968px) {
  .ikes-life-item-wide .views-field-field-summary-image img {
    border-radius: 1.3rem 0 0 1.3rem;
  }
}

@media screen and (max-width: 712px) {
  .ikes-life-item-wide .views-field-field-summary-image img {
    border-radius: 1.3rem 1.3rem 0 0;
  }
}


/*****/
/** Ike's Life Item Square **/
/*****/

.ikes-life-item-square {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square {
    margin-right: var(--gutter-xl);
    margin-left: var(--gutter-xl);
    align-items: flex-start;
  }
}

@media screen and (max-width: 712px) {
  .ikes-life-item-square {
    margin-right: var(--gutter-sm);
    margin-left: var(--gutter-sm);
    align-items: flex-start;
  }
}

.ikes-life-item-square .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 960px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square .view-content {
    width: 100%;
    /* flex-wrap: nowrap; */
  }
}

@media screen and (max-width: 968px) {
  .ikes-life-item-square .view-content {
    flex-wrap: wrap;
  }
}

.ikes-life-item-square .views-row {
  max-width: 296px;
  margin: 0.5rem;
  border-radius: 1.3rem;
  overflow: hidden;
}

@media screen and (max-width: 1216px) {
  .ikes-life-item-square .views-row {
    max-width: 380px;
    min-width: 280px;
  }
}


@media screen and (max-width: 968px) {
  .ikes-life-item-square .views-row {
    max-width: 100%;
  }
}

.ikes-life-item-square .views-row:hover {
  border-radius: 2.25rem;
  transition: border-radius 0.25s ease;
}

.ikes-life-item-square .views-row:hover img {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}

.ikes-life-item-square .view-header, .ikes-life-item-square-md .view-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  width: 100%;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square .view-header, .ikes-life-item-square-md .view-header {
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.ikes-life-item-square .view-header .ikes-life-heading-year {
  width: 344px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square .view-header .ikes-life-heading-year {
    width: 280px;
  }
}

.ikes-life-item-square .ikes-life-heading-title, .ikes-life-item-square-md .ikes-life-heading-title  {
  margin-right: 4rem;
}

.ikes-life-item-square .ikes-life-heading-text, .ikes-life-item-square-md .ikes-life-heading-text {
  max-width: 520px;
  margin-top: 0rem;
}

.ikes-life-item-square .views-field .views-field-title-1 {
  height: 122px;
}

.ikes-life-item-square .views-field-title-1 {
  border-radius: 0 0 1.5rem 1.5rem;
  background: var(--primary-10);
  padding: 1.8rem 2rem;
  height: 116px;
  /* max-width: 620px; */
}

.ikes-life-item-square .views-field-field-summary-image a {
  display: block;
  width: 100%;
}

.ikes-life-item-square .views-field-field-summary-image img {
  object-fit: cover;
  max-width: 100%;
  height: 240px;
}

.ikes-life-item-square .views-field-field-summary-image .field-content {
  height: 240px;
}


/*****/
/** Ike's Life Item Medium **/
/*****/

.ikes-life-item-square-md {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square-md {
    margin-right: var(--gutter-xl);
    margin-left: var(--gutter-xl);
    align-items: flex-start;
  }
}

@media screen and (max-width: 712px) {
  .ikes-life-item-square-md {
    margin-right: var(--gutter-sm);
    margin-left: var(--gutter-sm);
    align-items: flex-start;
  }
}

.ikes-life-item-square-md .view-content  {
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square-md .view-content  {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .ikes-life-item-square-md .view-content  {
    flex-wrap: wrap;
  }
}

.ikes-life-item-square-md .views-row {
  width: 420px;
  margin: 0.5rem;
  border-radius: 1.3rem;
  overflow: hidden;
}

.ikes-life-item-square-md .views-row:hover {
  border-radius: 2.5rem;
  transition: border-radius 0.25s ease;
}

.ikes-life-item-square-md .views-row:hover img {
  transform: scale(1.03);
  transition: transform 0.25s ease;
}

.view-ike-s-life-early-military .ikes-life-item-square .views-row {
  width: 296px;
  margin: 0.5rem;
}

.ikes-life-item-square .view-header .title-text-container, 
.ikes-life-item-square-md .view-header .title-text-container {
  display: flex;
  align-items: center;
  width: 960px;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square .view-header .title-text-container, 
  .ikes-life-item-square-md .view-header .title-text-container {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.ikes-life-item-wide a, 
.ikes-life-item-square a, 
.ikes-life-item-square-md a {
  text-decoration: none;
}

@media screen and (max-width: 1376px) {
  .ikes-life-item-square-md .view-header .ikes-life-heading-year {
    width: 280px;
  }
}

.ikes-life-item-square-md .views-field-title-1 {
  border-radius: 0 0 1.5rem 1.5rem;
  background: var(--primary-10);
  padding: 1.8rem 2rem;
  height: 116px;
  max-width: 620px;
}

.view-ike-s-life-the-general .views-field-title-1 {
  height: 106px;
}

.ikes-life-item-square h3,
.ikes-life-item-wide h3,
.ikes-life-item-square-md h3 {
  color: var(--primary-100);
  margin-top: 0px;
}

.ikes-life-item-square-md .views-field-field-summary-image {
  height: 300px;
  overflow: hidden;
}

.ikes-life-item-square-md .views-field-field-summary-image img {
  object-fit: cover;
  max-width: 100%;
  width: 420px;
}


/** Ike's Soldiers **/
.view-soliders-main .views-row .text-container,
.view-soldiers-featured .text-container {
  background-color: var(--secondary-90);
  padding: 1rem 1.5rem 1.35rem 1.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 56px;
  position: relative; 
  z-index: 2;
}

.view-soliders-main .views-row:hover .text-container,
.view-soldiers-featured .views-row:hover .text-container {
  background-color: var(--secondary-80);
  transition: 0.25s all ease;
}


.view-soliders-main .soldier-image img,
.view-soldiers-featured img {
  display: flex;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 220px;
  height: 310px;
}

@media screen and (max-width: 560px) {
  .view-soliders-main .soldier-image img,
  .view-soldiers-featured img {
    display: flex;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 310px;
  }
}

.view-soliders-main .views-row p,
.view-soldiers-featured .views-row p {
  margin: 0px;
}

.view-soldiers-main .title-medium,
.view-soldiers-featured .title-small {
  margin-bottom: 4px !important;
  color: var(--primary-10);
}

p.text-light {
  color: var(--secondary-40) !important;
}

.view-soliders-main .text-container p,
.view-soldiers-featured .text-container p {
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*** card image title ***/

.card-image-title {
  width: 312px;
  margin: 0 1rem 2rem 1rem;
  background: var(--primary-95);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  /* right: 1rem; */
}

@media screen and (max-width: 712px) {
  .card-image-title {
    width: 100%;
    right: 0rem;
    margin-bottom: 3rem;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 712px) {
  .view-education-programs .card-image-title {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .card-image-title {
    right: 0px;
  }
}

.card-image-title .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}

.view .card-image-title .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem 2.3rem 1.9rem 2.3rem;
}

.view-primary-source-main  .card-image-title .text-container {
  padding: 1.5rem 2.5rem 1.8rem 2rem;
}


.card-image-title a {
  text-decoration: none;
}

.card-image-title img {
  width: 100%;
  height: 316px;
  object-fit: cover;
}

.card-image-title h3 {
  margin-top: 6px !important;
}

.card-image-title p {
  margin: 0;
  color: var(--neutral-40)
}


/*** card-news ***/

.card-news {
  margin-bottom: 4rem;
}

.card-news a {
  display: flex;
  text-decoration: none;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .card-news a {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -16rem;
  }
}

.card-news .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  min-height: 348px;
  max-width: 960px;
  background-color: var(--primary-98);
  padding: 2rem 16rem 2.25rem 3rem;
  border-radius: 1.5rem;
  margin-right: -128px;
}

@media screen and (max-width: 1216px) {
  .card-news .text-container {
    padding: 2rem 16rem 2.25rem 3rem;
    margin-right: -188px;
  }
}

@media screen and (max-width: 968px) {
  .card-news .text-container {
    padding: 2rem 3rem 14rem 3rem;
    margin-right: 0px;
    justify-content: flex-start;
    min-height: auto;
  }
}

.card-news h2 {
  color: var(--primary-10);
}

.card-news .subheading {
  min-height: 180px;
  color: var(--primary-90) !important;
}

.card-news .label-medium {
  margin-bottom: 3rem;
}

.card-news .views-field-field-summary-image .field-content {
  border-radius: 1.5rem;
  margin-top: 5rem;
  overflow: hidden;
}

.card-news img {
  height: 316px;
  width: 420px;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .card-news img {
    height: 304px;
    width: 408px;
    overflow: hidden;
    position: relative;
    right: 60px;
    bottom: 274px;
  }
}

.card-news p {
  color: var(--neutral-40);
}

/** card news featured **/

.view-events-featured .card-news .text-container {
  background-color: var(--primary-10);
}

.view-events-featured .card-news h2 {
  color: var(--primary-98)
}

.view-events-featured .card-news p {
  color: var(--primary-90)
}
