:root {
  --primary-10: #001945;
  --primary-20: #002d6f;
  --primary-30: #1A438F;
  --primary-35: #294F9C;
  --primary-40: #375ca9;
  --primary-50: #5275C3;
  --primary-80: #B0C6FF;
  --primary-90: #d9e2ff;
  --primary-95: #eef0ff;
  --primary-98: #faf8ff;
  --primary-100: #ffffff;

  --secondary-5: #091121;
  --secondary-10: #141B2C;
  --secondary-15: #1F2536;
  --secondary-20: #293042;
  --secondary-25: #343B4D;
  --secondary-30: #404659;
  --secondary-35: #4B5265;
  --secondary-40: #575E71;
  --secondary-80: #c0c6dc;
  --secondary-90: #DCE2F9;
  --secondary-95: #EEF0FF;
  --secondary-98: #FAF8FF;
  --secondary-99: #FEFBFF;

  --tertiary-40: #ba1926;

  --neutral-10: #191B23;
  --neutral-20: #303034;
  --neutral-25: #3B3B3F;
  --neutral-40: #5E5E62;
  --neutral-80: #C7C6CA;
  --neutral-90: #E3E2E6;
  --neutral-95: #F2F0F4;
  --neutral-100: #FFFFFF;
}

.primary-10 {
  color: var(--primary-10);
}

.primary-90 {
  color: var(--primary-90);
}

.primary-100 {
  color: var(--primary-100);
}

.neutral-90 {
  color: var(--neutral-90);
}