
.content-card-light {
  display: inline-block;
  background: var(--primary-95);
  padding: 1.5rem 3rem 2rem 2.5rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.label-value {
  display: flex;
}

.soldier-details {
  position: relative; 
  z-index: 2;
  background-color: var(--primary-95);
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.soldier-details .label-value {
  margin-bottom: 1rem;
  color: var(--neutral-40);
}

.soldier-details .label {
  font-weight: 600;
  margin-right: 0.3rem;
  color: var(--neutral-10);
}

.pow-kia-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.pow, .kia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
}

.pow img, .kia img {
  max-width: 140px;
  margin-bottom: 1rem;
}