
.content-card-light {
  display: inline-block;
  background: var(--primary-95);
  padding: 1.5rem 3rem 2rem 2.5rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.label-value {
  display: flex;
}

.soldier-details {
  position: relative; 
  z-index: 2;
  background-color: var(--primary-95);
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.soldier-details .label-value {
  margin-bottom: 1rem;
  color: var(--neutral-40);
}

.soldier-details .label {
  font-weight: 600;
  margin-right: 0.3rem;
  color: var(--neutral-10);
}

.pow-kia-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.pow, .kia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
}

.pow img, .kia img {
  max-width: 140px;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.flag-link {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 3rem;
  background: var(--tertiary-40);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
}

.flag-link a {
  color: var(--neutral-100);
  text-decoration: none;
}

/** friends of the foundation body text **/

.node-id-1809 .field--name-body {
  background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}


/* friends of foundation */

.node-id-1809 .node__content,
.node-id-1918 .node__content {
  display: flex;
  flex-wrap: wrap;
}

.node-id-1809 .field--name-field-paragraphs {
  max-width: 760px;
}

.node-id-1918 .field--name-field-paragraphs {
  max-width: 890px;
  position: relative;
  bottom: 3rem;
}

.node-id-1809 .field--name-field-sections-sidebar-right,
.node-id-1918 .field--name-field-sections-sidebar-right {
  max-width: 358px !important;
  margin-left: 2rem;
  flex-grow: 2 !important;
}

.node-id-1918 .field--name-field-sections-sidebar-right {
  position: relative;
  bottom: 2rem;
}

.node-id-1809 .field--name-field-sections-sidebar-right .paragraph,
.node-id-1918 .field--name-field-sections-sidebar-right .paragraph {
  background: var(--neutralVariant-95);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.node-id-1809 .field--name-field-sections-sidebar-right .paragraph h3,
.node-id-1918 .field--name-field-sections-sidebar-right .paragraph h3 {
  margin-top: 0px !important;
  margin-bottom: 2rem !important;
}

.node-id-1809 .field--name-field-sections-sidebar-right .paragraph .field--name-field-heading-2,
.node-id-1809 .field--name-field-sections-sidebar-right .paragraph .heading-medium  {
  margin-top: 0px !important;
  margin-bottom: 2rem !important;
}

.field--name-field-sections-sidebar-right .field--name-field-heading-2,
.field--name-field-sections-sidebar-right h3 {
  margin-top: 0px !important;
  margin-bottom: 3rem !important;
}

/** lesson plans **/

.page-node-type-lesson-plan .node__content {
  display: flex;
}

.page-node-type-lesson-plan .layout-content {
  padding-top: 4rem !important;
  padding-bottom: 8rem !important;
}

.page-node-type-lesson-plan .text-container {
  background-color: var(--primary-95);
  border-radius: 1.5rem;
  padding: 2.5rem 3rem 4rem 3rem;
  margin-right: 4rem;
}

.page-node-type-lesson-plan .field--name-field-summary-image img {
  height: 520px;
  width: 520px;
  object-fit: cover;
  border-radius: 1.5rem;
  overflow: hidden;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select {
  display: flex;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select label {
  margin-bottom: 0px;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select .field__item {
  margin-right: 8px;
}

.page-node-type-lesson-plan .grade-levels {
  margin-bottom: 1rem;
}

.page-node-type-lesson-plan .lesson-plan-documents {
  margin-top: 3rem;
}

.page-node-type-lesson-plan .lesson-plan-documents .heading-small {
  margin-bottom: 1rem;
}

/** primary source sidebar **/

.view-primary-source-sidebar .views-field {
  margin-bottom: 1rem;
}

.view-primary-source-sidebar .views-label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.view-primary-source-sidebar .field-content {
  color: var(--neutral-40);
}

.view-primary-source-sidebar p {
  margin: 0px;
  color: var(--neutral-40);
}

/** join newsletter form **/

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 {
  max-width: var(--xl);
  margin: 4rem auto;
}

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .block-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 432px;
  background-color: var(--primary-10);
  padding: 3rem;
  border-radius: 1.5rem;
}

#block-iketheme-formforemaillist .text-container {
  max-width: 600px;
  margin-top: 2rem;
}

#block-iketheme-formforemaillist .label-medium {
  color: var(--primary-90);
  margin-bottom: 2rem;
}

#block-iketheme-formforemaillist .heading-large {
  margin-bottom: 1.5rem;
  color: var(--primary-95);
}

#block-iketheme-formforemaillist .body-medium {
  color: var(--primary-90);

}

/** donor wall **/

/* .view-donor-wall .view-content {
  display: flex;
} */

.view-donor-wall h3 {
  margin-top: 2rem;
}

.view-donor-wall .views-row {
  /* background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem; */
  margin-bottom: 0.5rem;
}