
/** make logo push nav and donate button to the right **/
#block-iketheme-site-branding {
  flex: 2;
}

.donate-button {
  margin-top: 45px;
}

@media screen and (max-width: 712px) {
  .donate-button {
    display: none;
  }
}

.donate-button a {
  padding: 1.1rem 1.6rem;
  display: inline-block;
  background: var(--tertiary-40) !important;
  color: var(--neutral-95);
  font-size: 1.05rem;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10rem;
  text-decoration: none;
}

.content-card-light {
  display: inline-block;
  background: var(--primary-95);
  padding: 1.5rem 3rem 2rem 2.5rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.page-node-type-page .field--name-body {
  padding-top: 1rem;
}

.page-node-type-page #block-iketheme-pardonourdust .field--name-body {
  padding-top: 0;
}

/* .has-paragraphs .field--name-body.field--type-text-with-summary {
  margin-bottom: 14rem;
} */

.label-value {
  display: flex;
  align-items: center;
}

.soldier-details {
  position: relative; 
  z-index: 2;
  background-color: var(--primary-95);
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.soldier-details .label-value {
  margin-bottom: 1rem;
  color: var(--neutral-40);
}

.soldier-details .label {
  font-weight: 600;
  margin-right: 0.3rem;
  color: var(--neutral-10);
}

.pow-kia-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.pow, .kia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
}

.pow img, .kia img {
  max-width: 140px;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.flag-link {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 3rem;
  background: var(--tertiary-40);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
}

.flag-link a {
  color: var(--neutral-100);
  text-decoration: none;
}

/** friends of the foundation body text **/

.node-id-1809 .field--name-body {
  background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}


/* friends of foundation */

.node-id-1809 .node__content {
  display: flex;
  flex-wrap: wrap;
}

.node-id-1918 .node__content {
  display: flex;
  flex-wrap: wrap;
}


.node-id-1809 .field--name-field-paragraphs {
  max-width: 760px;
}

.node-id-1918 .field--name-field-paragraphs {
  max-width: 800px;
  position: relative;
  bottom: 12rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1216px) {
  .node-id-1918 .field--name-field-paragraphs {
    max-width: none;
    /* position: relative;
    bottom: 3rem;
    margin-bottom: 4rem; */
  }
}

.field--name-field-sections-sidebar-right .paragraph h2 {
  margin-top: 0;
}

.node-id-1918 .field--name-field-sections-sidebar-right {
  position: relative;
  bottom: 3rem;
}

.node-id-1809 .field--name-field-sections-sidebar-right .paragraph,
.node-id-1918 .field--name-field-sections-sidebar-right .paragraph {
  background: var(--neutralVariant-95);
  width: 372px;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.field--name-field-sections-sidebar-right .paragraph {
  background: var(--neutralVariant-95);
  width: 372px;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 440px) {
  .field--name-field-sections-sidebar-right .paragraph {
    width: auto;
  }
}

@media screen and (max-width: 968px) {
  .node-id-1809 .field--name-field-sections-sidebar-right .paragraph,
  .node-id-1918 .field--name-field-sections-sidebar-right .paragraph {
    width: 100%;
  }
}

.field--name-field-sections-sidebar-right .paragraph .paragraph {
  width: auto;
}

.node-id-1918 .field--name-field-sections-sidebar-right .paragraph-inner {
  padding: 2rem;
  padding-top: 2.5rem;
}

.field--name-field-sections-sidebar-right .paragraph-inner {
  padding: 2rem;
  padding-top: 2.5rem;
}

.field--name-field-sections-sidebar-right .paragraph-inner .paragraph-inner {
  padding: 0rem;
}

.node-id-1809 .field--name-field-sections-sidebar-right .paragraph .field--name-field-heading-2,
.node-id-1809 .field--name-field-sections-sidebar-right .paragraph .heading-medium  {
  margin-top: 0px !important;
  margin-bottom: 2rem !important;
}

.field--name-field-sections-sidebar-right .field--name-field-heading-2,
.field--name-field-sections-sidebar-right h3 {
  margin-top: 0px !important;
  margin-bottom: 1rem !important;
}

.field--name-field-sections-sidebar-right .paragraph--type--body-text {
  padding: 0;
  background: var(--primary-95);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}


/** content sections of basic pages **/

.page-node-type-page #block-iketheme-content {
  max-width: 100%;
  margin-top: 1rem;
}

.node-id-1918 #block-iketheme-content {
  max-width: var(--lg);
  margin-top: 1rem;
}

/** lesson plans **/

.page-node-type-lesson-plan .node__content {
  display: flex;
}

@media screen and (max-width: 1376px) {
  .page-node-type-lesson-plan .node__content {
    flex-direction: column;
  }
}

.page-node-type-lesson-plan .layout-content {
  padding-top: 4rem !important;
  padding-bottom: 8rem !important;
}

.page-node-type-lesson-plan .text-container {
  max-width: 532px;
  background-color: var(--primary-95);
  border-radius: 1.5rem;
  padding: 2.5rem 3rem 4rem 3rem;
  margin-right: 4rem;
}

@media screen and (max-width: 1376px) {
  .page-node-type-lesson-plan .text-container {
    max-width: none;
    margin-right: 0rem;
    margin-bottom: 4rem;
  }
}

.page-node-type-lesson-plan .field--name-field-summary-image img {
  height: 520px;
  width: 520px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  overflow: hidden;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select {
  display: flex;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select label {
  margin-bottom: 0px;
}

.page-node-type-lesson-plan .field--name-field-grade-levels-select .field__item {
  margin-right: 8px;
}

.page-node-type-lesson-plan .grade-levels {
  margin-bottom: 1rem;
}

.page-node-type-lesson-plan .lesson-plan-documents {
  margin-top: 3rem;
}

.page-node-type-lesson-plan .lesson-plan-documents .heading-small {
  margin-bottom: 1rem;
}

/** primary source sidebar **/

.view-primary-source-sidebar .views-field {
  margin-bottom: 1rem;
}

.view-primary-source-sidebar .views-label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.view-primary-source-sidebar .field-content {
  color: var(--neutral-40);
}

.view-primary-source-sidebar p {
  margin: 0px;
  color: var(--neutral-40);
}

/** join newsletter form **/

.subscription-form {
  max-width: var(--xl);
  margin: 4rem auto;
}

.subscription-form .block-inner {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-10);
  padding: 3rem;
  border-radius: 1.5rem;
}

@media screen and (max-width: 712px) {
  .subscription-form .block-inner {
    padding: 2rem;
    border-radius: 1.25rem;
  }
}

@media screen and (max-width: 1216px) {
  .subscription-form .block-inner {
    /* flex-wrap: nowrap; */
    height: auto;
    flex-direction: column;
  }
}

.subscription-form .text-container {
  max-width: 520px;
  margin-top: 1rem;
  margin-right: 4rem;
}

@media screen and (max-width: 1216px) {
  .subscription-form .text-container {
    max-width: 100%;
    margin-right: 0rem;
  }
}

.subscription-form .label-medium {
  color: var(--primary-90);
  margin-bottom: 2rem;
}

.subscription-form .heading-large {
  margin-bottom: 1.5rem;
  color: var(--primary-95);
}

.subscription-form .body-medium,
.block-block-contentc39111bd-c41f-4539-9e64-7ce51cc26b0f {
  color: var(--primary-90);
}

.subscription-form .form-container {
  max-width: 520px;
  /* margin-top: -2.3rem; */
}


/** education event content **/

.page-node-type-education-event .body-image-container {
  display: flex;
  flex-wrap: wrap;
}

.page-node-type-education-event .field--name-field-summary-image img {
  margin-top: 2rem;
  max-width: 520px;
  max-height: 440px;
  border-radius: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 712px) {
  .page-node-type-education-event .field--name-field-summary-image img {
    max-width: 100%;
  }
}

.page-node-type-education-event .body-content {
  padding-right: 4rem;
  max-width: 600px;
}

@media screen and (max-width: 1376px) {
  .page-node-type-education-event .body-content {
    max-width: 100%;
    padding-right: 0;
  }
}

.page-node-type-education-event .education-event-date {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.page-node-type-education-event .field__label {
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1rem;
  font-size: 1.05rem;
}

.page-node-type-education-event .field--name-field-grade-levels-select .field__items {
  display: flex;
  flex-wrap: wrap;
}

.page-node-type-education-event .field--name-field-grade-levels-select .field__item {
  margin-right: 0.75rem;
}

.page-node-type-education-event .education-event-details {
  display: flex;
  flex-wrap: wrap;
}


.page-node-type-primary-source .field.field--name-field-audio-file {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.page-node-type-primary-source .field.field--name-field-audio-file audio {
  width: 100%;
}

.page-node-type-newsletter-article .node__content {
  margin-top: 3rem;
}

.view-content-for-events .views-row,
.view-content-for-programs .views-row  {
  display: flex;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1040px) {
  .view-content-for-events .views-row,
  .view-content-for-programs .views-row  {
    flex-direction: column-reverse;
  }
}

.view-content-for-events .heading-small,
.view-content-for-programs .heading-small {
  margin-top: 0px;
}

.view-content-for-events img,
.view-content-for-programs img {
  width: 560px;
  height: 100%;
  margin-left: 3rem;
  object-fit: contain;
}

@media screen and (max-width: 1040px) {
  .view-content-for-events img,
  .view-content-for-programs img {
    margin-left: 0rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
  }
}

#block-iketheme-pardonourdust {
  background: var(--tertiary-40);
}

#block-iketheme-pardonourdust p {
  padding: 12px 32px;
  color: #fff;
}
