
/** site logo **/
#block-iketheme-site-branding img {
  max-width: 136px;
  background: #fff;
  padding: 6px 6px 5px 8px;
  margin-top: 1rem;
  border-radius: 0.6rem;
}

/* hide site name */
.site-name {
  display: none;
}

.menu {
  display: flex;
}

.menu .menu-item {
  margin-right: 16px;
}

.block-views-blockhero-homepage-block-1 {
  width: 100%;
}

.viewsreference--view-title {
  display: none;
}


/* pages with light background */

.page-node-type-basic-page-b .layout-content {
  background: var(--primary-98);
}
