
/** site logo **/
#block-iketheme-site-branding img {
  max-width: 140px;
}

/* hide site name */
.site-name {
  display: none;
}

.region-header {
  display: flex;
  justify-content: center;
}

.region-header .region-inner {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

/* The width of the content  */
.content-container-default {
  max-width: 1200px;
}

.menu {
  display: flex;
}

.menu .menu-item {
  margin-right: 16px;
}

.block-views-blockhero-homepage-block-1 {
  width: 100%;
}

.region-secondary-menu, .region-highlighted {
  max-width: 1200px;
}

.viewsreference--view-title {
  display: none;
}
