/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */

details {
  margin-top: 1em;
  margin-bottom: 1em;
}

details > .details-wrapper {
  padding: 0.5em 1.5em;
  width: 100%;
}

details svg {
  fill: var(--neutral-40)
}

summary {
  /* width: 300px; */
  /* padding: 0.2em 0.5em; */
  cursor: pointer;
  list-style: none; /* Hide the default marker */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-80);
  border-radius: 2rem;
  padding: 1rem 1.45rem;
}

.node-soldier-form summary {
  background: var(--neutral-90);
}

details{
  border: none;
}

summary::marker {
  display: none; /* Hide the default marker in Firefox */
}

summary::-webkit-details-marker {
  display: none; /* Hide the default marker in WebKit browsers */
}

.custom-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
}

summary span {
  display: none;
}

#block-iketheme-views-block-soliders-main-block-1 details.form-item {
  width: 340px;
  background: var(--secondary-90);
  border-radius: 2rem;
}

@media screen and (max-width: 1376px) {
  #block-iketheme-views-block-soliders-main-block-1 details.form-item {
    width: auto;
  }
}

#edit-field-gender-value-collapsible {
  margin-bottom: 1.5rem;
}