

/* footer */

.footer-container {
  background: var(--neutral-10);
  padding: 6rem 0rem;
}

.footer-inner {
  max-width: var(--lg);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .footer-inner {
    margin: 0 var(--gutter-lg);
  }
}

.footer-container .logo {
  background: #fff;
  width: 160px;
  height: 160px;
  display: block;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.footer-container .logo img {
  width: 160px;
  height: 160px;
}

@media screen and (max-width: 1216px) {
  .footer-container .logo {
    margin-right: 3rem;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 712px) {
  .footer-container .logo {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-info {
  width: 260px;
  margin-right: 2rem;
}

@media screen and (max-width: 1216px) {
  .footer-info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 712px) {
  .footer-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-info .label-medium,
.footer-info .label-small {
  color: var(--neutral-80);
  margin-bottom: 1.2rem;
}

.footer-info p, .footer-info h4 {
  color: var(--neutral-90);
  line-height: 0.7rem;
}

.footer-info-item.address,
.footer-info-item.hours,
.footer-info-item.phone {
  margin-bottom: 3rem;
}

.footer-info-item.social .icons {
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.footer-info-item.social i {
  color: #fff;
  font-size: 1.6rem;
}

.footer-info-item.social a {
  color: rgba(0,0,0,0);
  margin-right: 6px;
  padding: 3px 5px;
}

.footer-info-item.social a:hover {
  background: var(--neutral-20);
  border-radius: 6px;
}

.footer-info-item.social a:hover > i {
  color: var(--primary-80);
}

@media screen and (max-width: 1216px) {
  .footer-address {
    margin-bottom: 0rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 712px) {
  .footer-address {
    margin-bottom: 1.5rem;
    margin-right: 0rem;
  }
}

.footer-cards-container,
.footer-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 768px;
  max-width: 680px;
  padding-left: 0px;
}

@media screen and (max-width: 1216px) {
  .footer-cards-container,
  .footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .footer-cards-container,
  .footer-menu {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

ul.footer-submenu {
  padding-left: 0px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.footer-menu .menu-label {
  color: var(--neutral-80);
}

.menu-child a {
  color: var(--neutral-90);
  text-decoration: none;
  padding: 6px 0;
  display: block;
}

li.menu-child {
  list-style-type: none;
}

.footer-card,
.footer-menu li.menu-parent {
  display: flex;
  flex-direction: column;
  background: var(--neutral-20);
  padding: 1.8rem 2.2rem 1.25rem 2rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem; 
}

@media screen and (max-width: 560px) {
  .footer-card,
  .footer-menu li.menu-parent {
    flex-grow: 2;
    margin-right: 0px;
  }
}

.footer-card .nav-section-links {
  display: flex;
  flex-direction: column;
}

.footer-card p, .footer-card a {
  color: var(--neutral-100);
  text-decoration: none;
  font-size: 1rem;
}

.footer-card .label-medium {
  margin-top: 0;
  margin-bottom: 1.2rem;
  color: var(--neutral-80);
}

.footer-card a {
  margin-bottom: 1rem;
}

.footer-bottom {
  border-top: 1px solid var(--neutral-40);
  padding: 3rem 0;
  margin-top: 2rem;
}

.footer-bottom p, .footer-bottom a {
  color: var(--neutral-80);
  margin-right: 2rem;
}

.footer-bottom .row1 {
  margin-bottom: 2rem;
}