
/* .hero {
  padding: 8rem 0;
} */

.header-hero {
  background: #333;
}

.hero-home {
  padding: 8rem 0 4rem 0;
}
.hero-home .view-content {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-home h1, .hero-home .label-large {
    color: #fff;
  }