

.header-hero {
  background: #333;
}

.page-node-type-page .header-hero,
.page-node-type-primary-source .header-hero,
.page-node-type-ike-s-life .header-hero,
.page-node-type-news-home .header-hero,
.page-node-type-newsletter-article .header-hero,
.page-node-type-education .header-hero,
.page-node-type-education-event .header-hero,
.page-node-type-lesson-plan .header-hero,
.page-node-type-ike-s-life-era-group .header-hero {
  background-image: linear-gradient(to right, var(--primary-20), var(--primary-40)) !important;
}

.page-node-type-news-home .header-hero {
  background-image: linear-gradient(to right, var(--primary-30), var(--primary-40)) !important;
}

.hero-home { 
  padding: 26rem 0 6rem 0;
  position: relative;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 712px) {
  .hero-home {
    padding: 12rem 0 4rem 0;
  }
}

.path-frontpage .header-hero {
  position: relative;
  overflow: hidden;
}

/* vertical gradient - darkens top behind nav and header */

.path-frontpage .header-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44%; /* Adjust height as needed */
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0) 100%);
}

.header-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%; /* Adjust height as needed */
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0) 100%);
}

/* vertical gradient - darkens bottom of hero */

.path-frontpage .block-views-blockhero-homepage-block-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 48%; /* Adjust the height as needed for gradient coverage */
  pointer-events: none;
  z-index: 1;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);
}

/* horizontal gradient - darkens the left side */

.page-node-type-basic-page-b .header-hero::after,
.page-node-type-homepage .header-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, .44) 0%, rgba(0, 0, 0, 0.16) 100%);
  pointer-events: none; /* This makes the overlay 'click-through' */
}

.hero-video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/** restrict width and center hero **/
.hero-basic {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 4rem 0 16rem 0;
}

.page-node-type-ike-s-life .hero-basic {
  padding: 4rem 0 14rem 0;
}

.header-hero.no-image .hero-basic {
  padding: 4rem 0 14rem 0;
}

.no-paragraphs.no-image .hero-basic {
  padding: 4rem 0 4rem 0 !important;
}

.node-id-1791 .hero-basic {
  padding: 4rem 0 16rem 0 !important;
}

/* @media screen and (max-width: 1216px) {
  .node-id-36 .hero-basic {
    padding: 4rem 0 16rem 0 !important;
  }
} */

.node-id-1791 .region-content {
  margin-top: -13rem !important;
}



.view-hero-education-event {
  max-width: var(--lg);
  margin: 0 auto;
  padding: 4rem 0 4rem 0;
}

.view-hero-education-event h1 {
  color: var(--primary-100);
  max-width: 680px;
}

/** heroes with views **/

/**
lesson plans
primary sources
**/

.node-id-37 .hero-basic .view-content {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 4rem 0 20rem 0 !important;
}

.node-id-1967 .hero-basic .view-content {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 0rem 0 20rem 0 !important;
}

/** reset for pages that need extra padding and have no image **/
/* .node-id-36 .header-hero.no-image .hero-basic, */
.node-id-37 .header-hero.no-image .hero-basic {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1376px) {
  .node-id-37 .hero-basic,
  .node-id-1967 .hero-basic .view-content {
    max-width: var(--md);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1216px) {
  .node-id-37 .header-hero.no-image .hero-basic,
  .node-id-1967 .hero-basic .view-content {
    margin: 0 var(--gutter-xl);
  }
}

@media screen and (max-width: 1216px) {
  .node-id-36 .header-hero.no-image .hero-basic {
    max-width: var(--md);
    margin: 0 auto;
    padding: 0;
  }
}

.node-id-1967 .header-hero.no-image .hero-basic {
  padding-top: 0;
}

.page-node-type-primary-source .hero-basic {
  max-width: var(--lg);
  padding: 4rem 0 5rem 0;
}

.node-id-36 .region-content {
  margin-top: -22rem !important;
}

@media screen and (max-width: 1216px) {
  .node-id-36 .region-content {
    margin-top: -36rem !important;
  }
}

@media screen and (max-width: 968px) {
  .node-id-36 .region-content {
    margin-top: -4rem !important;
  }
}

.node-id-36 .hero-basic .view-content {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 0rem 0 20rem 0 !important;
}

@media screen and (max-width: 1216px) {
  .node-id-36 .hero-basic .view-content {
    max-width: var(--xl);
    margin: 0 auto;
    padding: 4rem 0 36rem 0 !important;
  }
}

@media screen and (max-width: 968px) {
  .node-id-36 .hero-basic .view-content {
    max-width: var(--sm);
    margin: 0 auto;
    padding: 4rem 0 4rem 0 !important;
  }
}

@media screen and (max-width: 712px) {
  .node-id-36 .hero-basic .view-content {
    max-width: none;
    margin: 0 var(--gutter-lg);
  }
}


.node-id-37 .region-content
{
  margin-top: -22rem !important;
}

@media screen and (max-width: 712px) {
  .node-id-37 .region-content
  {
    margin-top: 0rem !important;
  }
}

.node-id-1967 .region-content {
  margin-top: -12rem !important;
}

@media screen and (max-width: 968px) {
  .node-id-1967 .region-content {
    margin-top: -6rem !important;
  }
}

@media screen and (max-width: 712px) {
  .node-id-37 .hero-basic {
    max-width: var(--xl);
    margin: 0 auto;
    padding: 4rem 0 24rem 0;
  }
}

.node-id-2117 .hero-basic {
  max-width: var(--lg);
}

.page-node-type-news-home .hero-basic {
  padding: 4rem 0 22rem 0;
  max-width: var(--lg);
}

.node-id-1967 .hero-basic {
  padding: 4rem 0 24rem 0;
}

@media screen and (max-width: 968px) {
  .node-id-1967 .hero-basic {
    padding: 4rem 0 30rem 0;
  }
}

.hero-alt {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 6rem 0 6rem 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1376px) {
  .hero-alt {
    margin: 0 var(--gutter-xl);
  }
}

.hero-alt h1 {
  color: #fff;
}

.page-node-type-basic-page-b .header-hero,
.page-node-type-homepage .header-hero,
.page-node-type-education .header-hero {
  position: relative;
  background-size: cover;
  background-position: center;
}

.hero-basic .views-field-title, .hero-basic .views-field-subheading {
  max-width: 840px;
}

.page-node-type-page .view-hero-basic-page-image .row-wrapper,
.page-node-type-primary-source .views-field-field-hero-image ,
.page-node-type-ike-s-life .views-field-field-hero-image,
.page-node-type-newsletter-article .views-field-field-hero-image,
.page-node-type-newsletter-article .view-hero-basic-page-image .row-wrapper,
.page-node-type-ike-s-life-era-group .views-field-field-hero-image {
  max-width: var(--lg);
  position: relative;
  bottom: 12rem;
  margin-bottom: -12rem;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
}

.page-node-type-page .view-hero-basic-page-image img {
  width: 100%;
  object-fit: cover;
  height: 440px;
}

.page-node-type-page .field--name-field-paragraphs {
  position: relative;
  /* bottom: 12rem; */
  margin-top: 2rem;
}

.page-node-type-page .has-paragraphs.has-image .field--name-field-paragraphs {
  position: relative;
  bottom: 0rem;
}

.page-node-type-page .has-paragraphs.no-image .field--name-field-paragraphs {
  position: relative;
  bottom: 12rem;
}

.page-node-type-page .has-sidebar .field--name-field-sections-sidebar-right {
  position: relative;
  bottom: 12rem;
  margin-top: 2rem;
}

.page-node-type-page .has-sidebar.has-image .field--name-field-sections-sidebar-right {
  bottom: 0px;
}

.page-node-type-ike-s-life-era-group .views-field-field-hero-image {
  margin-bottom: -14rem;
}

@media screen and (max-width: 1376px) {
  .page-node-type-ike-s-life-era-group .views-field-field-hero-image {
    margin-bottom: -14rem;
  }
}

.page-node-type-page .views-field-field-hero-image {
  max-width: var(--xl);
}

.page-node-type-page .views-field-field-hero-image img {
  width: 100%;
}

.page-node-type-page .views-field-field-hero-image {
  max-width: var(--xl);
}

/* base pages with no hero image */
.node-id-36 .views-field-field-hero-image,
.node-id-1791 .views-field-field-hero-image {
  display: none;
  margin-bottom: 0px;
}

.page-node-type-education .hero {
  padding: 4rem 0 14rem 0;
  margin-bottom: -14rem;
}


.page-node-type-page .views-field-field-hero-image img,
.page-node-type-ike-s-life .views-field-field-hero-image img
.page-node-type-newsletter-article .views-field-field-hero-image img {
  object-fit: cover;
  max-height: 440px;
  max-width: 100%;
}

.hero-home .views-field-field-hero-image,
.hero-basic .views-field-field-hero-image {
  display: flex;
  justify-content: center;
}

.views-field-field-hero-image .field-content {
  display: flex;
}

.page-node-type-ike-s-life .views-field-field-hero-image .field-content img,
.page-node-type-ike-s-life-era-group .views-field-field-hero-image .field-content img ,
.page-node-type-education .views-field-field-hero-image .field-content img {
  height: 400px;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-right: 1rem;
  max-width: 100%;
}

.page-node-type-education .views-field-field-hero-image {
  margin-bottom: 3rem;
}

.education-home-hero .views-field-field-hero-image .field-content img:first-of-type {
  max-width: 500px !important;
  margin-right: 2rem;
}

.education-home-hero .views-field-field-hero-image .field-content img:nth-child(2) {
  max-width: 680px !important;
  margin-right: 0;
}

@media screen and (max-width: 1376px) {
  .education-home-hero .views-field-field-hero-image .field-content img:first-of-type {
    max-width: 100% !important;
    margin-right: 0;
  }
}

@media screen and (max-width: 1376px) {
  .education-home-hero .views-field-field-hero-image .field-content img:nth-child(2) {
    display: none;
  }
}

.hero-home .view-content {
  position: relative;
  z-index: 2;
  max-width: var(--lg);
  margin: 0 auto;
}

.hero-basic .view-content {
  max-width: var(--xl);
  margin: 0 auto;
}

@media screen and (max-width: 1216px) {
  .page-node-type-news-home .hero-basic .view-content {
    margin-right: var(--gutter-lg);
    margin-left: var(--gutter-lg);
  }
}

.page-node-type-newsletter-article .hero-basic .view-content {
  max-width: var(--lg-article);
  margin: 0 auto;
}

.page-node-type-newsletter-article .views-field-field-newsletter-article-date {
  color: var(--primary-90);
  margin-top: 2rem;
}

.hero-home h1, 
.hero-home .label-large, 
.hero-basic h1 {
  color: var(--primary-100);
}

/* subheading */
.header-hero .views-field-field-subheading, .view-hero-basic-page-alt .views-field-field-subheading {
  max-width: 960px;
  color: var(--neutral-90);
}

/** Ike's Life **/
.view-hero-ike-s-life img {
  border-radius: 24px;
}

.hero-bottom {
  background: #fff;
}

.region-hero-bottom {
  max-width: 1200px;
  margin: 0 auto; 
}

.ikes-life-breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.ikes-life-breadcrumbs a, .ikes-life-breadcrumbs p {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.ikes-life-breadcrumbs a:hover {
  text-decoration: underline;
}

.ikes-life-breadcrumbs .right-arrow {
  margin: 0 8px;
}


/** Ike's Soldiers **/

.page-node-type-soldier .header-hero {
  position: relative; /* Ensure that the container can be positioned relatively */
  background: url('/sites/default/files/2024-07/ike-soldiers-background.png');
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center; /* Center the background image */
}

.page-node-type-soldier .header-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #001945, #002D6F);
  opacity: 0.9; /* Adjust the transparency here */
  z-index: 1; /* Ensure the gradient is on top */
}

/* Ensure any content inside the .header-hero is above the gradient */
.page-node-type-soldier .soldier-hero {
  position: relative;
  z-index: 2;
}

.soldier-hero {
  display: flex;
  justify-content: space-between;
  max-width: var(--lg);
  margin: 0 auto;
}

.soldier-hero {
  padding: 5rem 0 16rem 0;
}

.soldier-hero .soldier-image { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.soldier-hero img {
  min-height: 300px;
  max-height: 400px;
}

.soldier-hero h1, 
.soldier-hero p,
.soldier-hero .birth-death {
  color: var(--primary-95)
}

.soldier-hero p.label {
  font-weight: 600;
}

.soldier-hero .label-medium,
.page-node-type-primary-source .hero-basic .label-medium {
  margin-bottom: 4rem;
  color: var(--primary-95)
}

.page-node-type-primary-source .hero-basic .label-medium {
  margin-bottom: 2rem;
}


/** Ikeducation **/

.view-hero-basic-page-education .views-row .row-wrapper {
  display: flex; 
  /* align-items: center; */
  text-decoration: none;
}

.view-hero-basic-page-education img {
  width: 128px;
  object-fit: contain;
  margin-right: 2.8rem;
  margin-top: -1rem;
}

@media screen and (max-width: 968px) {
  .view-hero-basic-page-education img {
    display: none;
  }
}

.view-hero-basic-page-education .text-container {
  max-width: 960px;
}

.view-hero-basic-page-education .label-medium,
.view-hero-basic-page-education .subheading {
  color: var(--primary-90);
}

.page-node-type-education .view-hero-basic-page-education .label-medium {
  display: none;
}


/*** lesson plans ***/

.hero-lesson-plans .views-row {
  display: flex;
  align-items: center;
  max-width: 960px;
}

.hero-lesson-plans .label-medium {
  color: var(--primary-90);
}

/** primary source **/

.view-hero-primary-source .view-content {
  display: flex;
}

.view-hero-primary-source .view-content img {
  max-width: 120px;
  margin-right: 3rem;
  object-fit: contain;
  height: 180px;
}

/** hero buttons **/

.hero-buttons {
  display: flex;
  margin-top: 2.5rem;
  /* margin-bottom: 7em; */
}


@media screen and (max-width: 1216px) {
  .hero-buttons {
    display: flex;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 968px) {
  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}

.hero-buttons a {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.hero-buttons a {
  background: var(--primary-90);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  text-decoration: none;
  line-height: 24px;
  color: var(--primary-10);
}
