
:root {
  --xl: 1376px;
  --lg: 1216px;
  --md: 968px;
  --sm: 712px;
  --xs: 440px;
  --gutter-xl: 32px;
  --gutter-lg: 30px;
  --gutter-md: 28px;
  --gutter-sm: 26px;
  --gutter-xs: 24px;
}

.region-header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.region-header .region-inner {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

@media screen and (max-width: 1376px) {
  .region-header .region-inner {
    justify-content: flex-start;
  }
}

.node-id-1807 {
  background-color: var(--primary-98);
}

.node-id-1807 .layout-content {
  background: none;
}

.layout-content {
  flex: 2;
  /* padding-right: 8rem; */
  background: #fff;
}

.region-content {
  width: 100%;
  position: relative;
}

/** containers **/
.lg-container, .container-lg {
  max-width: var(--lg);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .lg-container, .container-lg {
    margin: 0 var(--gutter-lg);
  }
}

.container-xl {
  max-width: var(--xl);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .container-xl {
    margin: 0 var(--gutter-lg);
  }
}

.page-node-type-basic-page-b .layout-content,
.page-node-type-page .layout-content,
.page-node-type-newsletter-article .layout-content,
.page-node-type-ike-s-life .layout-content,
.page-node-type-soldier .layout-content,
.page-node-type-news-home .layout-content,
.page-node-type-lesson-plan .layout-content,
.page-node-type-education .layout-content,
.page-node-type-education-event .layout-content {
  display: flex;
  justify-content: center;
  padding-right: 0rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

.page-node-type-page main {
  display: flex;
  justify-content: center;
}

.node-id-1791 main {
  background-color: var(--primary-95);
}

.node-id-1791 .layout-content {
  background-color: var(--primary-95);
}

/******/
/** Max Width Large **/
/******/

.page-node-type-page .layout-content,
.page-node-type-lesson-plan .layout-content,
.page-node-type-education .layout-content,
.page-node-type-education-event .layout-content,
.page-node-type-primary-source .layout-content,
.page-node-type-newsletter-article .layout-content,
.page-node-type-ike-s-life-era-group .layout-content,
.node-id-2117 .layout-content {
  max-width: var(--lg);
  margin: 0 auto;
}

.node-id-2161 .layout-content {
  margin-top: 12rem;
}

.page-node-type-education-event .layout-content {
  margin-top: 3rem;
}


/** lesson plan page **/
.node-id-37 .layout-content {
  max-width: var(--xl);
}

@media screen and (max-width: 1376px) {
  .page-node-type-page .layout-content,
  .page-node-type-lesson-plan .layout-content {
    max-width: var(--lg);
    margin: 0 var(--gutter-xl);
  } 
}

@media screen and (max-width: 1376px) {
  /* .page-node-type-lesson-plan .layout-content, */
  .page-node-type-primary-source .layout-content,
  .node-id-2117 .layout-content  {
    margin: 0 var(--gutter-lg);
  }
}

@media screen and (max-width: 1376px) {
  .page-node-type-education-event .layout-content {
    margin-right: var(--gutter-lg);
    margin-left: var(--gutter-lg);
  }
}

@media screen and (max-width: 1216px) {
  .page-node-type-page .layout-content,
  .page-node-type-lesson-plan .layout-content {
    max-width: var(--md);
    margin: 0 var(--gutter-xl);
  } 
}

@media screen and (max-width: 968px) {
  .page-node-type-page .layout-content,
  .page-node-type-lesson-plan .layout-content {
    max-width: var(--sm);
    margin: 0 var(--gutter-xl);
  } 
}


.page-node-type-soldier main,
.page-node-type-primary-source main {
  display: flex;
  max-width: var(--lg);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .page-node-type-soldier main,
  .page-node-type-primary-source main {
    flex-direction: column;
    margin: 0 var(--gutter-lg);
  }
}

.page-node-type-ike-s-life .region-content,
.page-node-type-ike-s-life-era-group .region-content,
.page-node-type-soldier .region-content,
.page-node-type-news-home .region-content {
  max-width: var(--lg);
}

@media screen and (max-width: 1376px) {
  .page-node-type-ike-s-life .region-content,
  .page-node-type-ike-s-life-era-group .region-content,
  .page-node-type-soldier .region-content,
  .page-node-type-news-home .region-content {
   margin: 0 var(--gutter-xl);
   width: auto;
  }
}

.page-node-type-primary-source main {
  padding-top: 4rem;
}

.node-id-37 .layout-content {
  background: none;
}

.node-id-37 main {
  background-color: var(--primary-98);
}

.block-views-blocksoliders-main-block-1 {
  padding-top: 2rem;
}

.page-node-type-soldier .layout-content {
  margin-top: -16rem;
}

/******/
/** Max Width XL **/
/******/

.page-node-type-basic-page-b .region-content,
.page-node-type-newsletter-article .region-content,
.node-id-1918 .region-content {
  max-width: var(--xl);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .page-node-type-basic-page-b .region-content,
  .page-node-type-newsletter-article .region-content {
    max-width: 1096px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1216px) {
  .page-node-type-basic-page-b .region-content,
  .page-node-type-newsletter-article .region-content {
    max-width: 846px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1216px) {
  .page-node-type-basic-page-b .region-content,
  .page-node-type-newsletter-article .region-content,
  .page-node-type-education .region-content {
    max-width: none;
    margin: 0 var(--gutter-md);
  }
}

@media screen and (max-width: 440px) {
  .page-node-type-basic-page-b .region-content,
  .page-node-type-newsletter-article .region-content,
  .page-node-type-education .region-content {
    max-width: none;
    margin: 0 var(--gutter-sm);
  }
}

.page-node-type-primary-source .layout-content {
  padding-right: 4rem;
  padding-bottom: 5rem;
  max-width: 800px;
}

@media screen and (max-width: 1376px) {
  .page-node-type-primary-source .layout-content {
    padding-right: 0rem;
  }
}

.page-node-type-newsletter-article .layout-content {
  max-width: var(--lg);
}

.path-user .layout-content {
  max-width: var(--lg);
  margin: 0 auto;
  padding: 2rem 2rem;
}

@media screen and (max-width: 1360px) {
  .path-user .layout-content {
    padding: 2rem 2rem;
  }
}


/** sidebar right **/

.has-sidebar .node__content {
  display: flex;
}

@media screen and (max-width: 968px) {
  .has-sidebar .node__content {
    flex-direction: column;
  }
}

.has-sidebar .field--name-field-sections-sidebar-right,
.layout-sidebar-second {
  flex: 2;
  max-width: 360px;
}

@media screen and (max-width: 968px) {
  .has-sidebar .field--name-field-sections-sidebar-right,
  .layout-sidebar-second {
    max-width: 100%;
  }
}

.has-sidebar .field--name-field-paragraphs {
  margin-right: 3rem;
  flex: 1;
}

@media screen and (max-width: 968px) {
  .has-sidebar .field--name-field-paragraphs {
    margin-right: 0rem;
  }
}

.page-node-type-primary-source .layout-sidebar-second {
  max-width: 360px;
}

@media screen and (max-width: 1376px) {
  .page-node-type-primary-source .layout-sidebar-second {
    max-width: 100%;
    width: auto;
    margin: 0 var(--gutter-lg);
  }
}


.page-node-type-primary-source .layout-sidebar-second .block {
  background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  min-width: 248px;
}

/** soliders documents section **/
.documents {
  margin-top: 4rem;
  background: var(--primary-95);
  padding: 1.5rem 3rem 3rem 2.5rem;
  border-radius: 2rem;
  max-width: 600px;
}

