
:root {
  --xl: 1376px;
  --lg: 1216px;
  --md: 968px;
  --sm: 712px;
  --xs: 327px;
  --gutter-xl: 32px;
  --gutter-lg: 32px;
  --gutter-md: 28px;
  --gutter-sm: 28px;
  --gutter-xs: 24px;
}

/** breakpoints
 xl - 1440px
 lg - 1280px
 md - 1024px
 sm - 768px
 xs - 375px
**/

.region-header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.region-header .region-inner {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.layout-content {
  flex: 2;
  padding-right: 8rem;
  background: #fff;
}

/* .content-container-default {
  max-width: var(--xl);
} */

.lg-container {
  max-width: var(--xl);
  margin: 0 auto;
}

.page-node-type-basic-page-b .layout-content,
.page-node-type-page .layout-content,
.page-node-type-newsletter-article .layout-content,
.page-node-type-ike-s-life .layout-content,
.page-node-type-soldier .layout-content {
  display: flex;
  justify-content: center;
  padding-right: 0rem;
  padding-top: 1rem;
}

.page-node-type-soldier main {
  display: flex;
  max-width: var(--lg);
  margin: 0 auto;
}

.page-node-type-soldier .layout-content {
  margin-top: -8rem;
}

.page-node-type-basic-page-b .region-content,
.page-node-type-newsletter-article .region-content {
  max-width: var(--xl);
}

.page-node-type-ike-s-life .region-content,
.page-node-type-soldier .region-content {
  max-width: var(--lg);
}

.node__content .field--name-body .field-inner {
  max-width: var(--lg);
}

/** sidebar right **/
.layout-sidebar-second {
  max-width: 360px;
}

/** soliders documents section **/
.documents {
  margin-top: 4rem;
  background: var(--primary-95);
  padding: 1.5rem 3rem 3rem 2.5rem;
  border-radius: 2rem;
  max-width: 600px;
}
