/**
 * @file
 * Style another element as a link.
 */

button.link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
}
label button.link {
  font-weight: bold;
}

.field--name-field-link-button a {
  background: var(--primary-40);
  padding: 16px 22px;
  color: var(--neutral-100);
  border-radius: 10rem;
  text-decoration: none;
}