/**
 * @file
 * Visual styles for menu.
 */

 body.menu-open {
  overflow: hidden;
  height: 100%; /* Prevent background scrolling */
}

.mobile-menu-icon {
  display: none;
  margin-top: 32px;
  margin-right: 2rem;
}

.mobile-menu-icon svg {
  width: 36px;
  fill: var(--neutral-90);
}

@media screen and (max-width: 1376px) {
  .mobile-menu-icon {
    display: block;
   }
}

.mobile-nav-container {
  position: absolute;
  left: -800px;
  overflow-y: auto;
  background: var(--primary-10);
  width: 380px;
  height: 90vh;
  padding: 2rem;
  z-index: 1000; /* Ensure it is above other elements */
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .mobile-nav-container {
    width: 72%;
  }
}

.mobile-nav-container.visible {
  left: 0px
}

.menu-header {
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  background: var(--neutral-100);
  padding: 0.8rem 1rem 0.5rem 1rem;
  margin-bottom: 2rem;
}

.menu-logo img {
  width: 64px;
  height: 64px;
}

.menu-close svg {
  width: 40px;
  height: 40px;
  fill: var(--neutral-100);
}

.menu-close path {
  fill: var(--neutral-100);
}

.accordionToggle {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding-left: 2rem;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.accordionToggle.visible {
  max-height: 500px; /* Adjust to fit content */
  opacity: 1;
  visibility: visible;
  padding: 0.75rem 2rem 1rem 2rem;
}

.accordionToggle.lastNav.visible {
  margin-bottom: 2rem;
}

.mobile-nav-container .nav1 {
  display: block;
  background: rgba(255,255,255, 0.1);
  padding-bottom: 0rem;
  border-radius: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
}

.mobile-nav-container a.lvl1 {
  cursor: pointer;
  color: var(--neutral-90);
  text-decoration: none;
}

.mobile-nav-container .lvl1 {
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
}

.mobile-nav-container .lvl1 .label {
  font-weight: 400;
}

.lvl1 svg {
  width: 24px;
  height: 24px;
}

.lvl1 path {
  fill: var(--neutral-90);
}

.mobile-nav-container a.lvl1:hover {
  background: rgba(255,255,255, 0.15);
}

.mobile-nav-container .nav2-item {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: var(--secondary-80);
}

.mobile-nav-container .nav2-item:hover {
  color: var(--neutral-100);
}
