/**
 * @file
 * Visual styles for menu.
 */

 .navigation {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container .nav1 {
  margin-right: 32px;
}

.dropdown {
  /* display: none; */
  flex-direction: column;
  position: absolute;
  margin-top: 32px;
  background: #fff;
  z-index: 2;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px hsl(227, 0%, 0%) / 0.333;
  box-shadow: 2px 4px 4px hsl(227, 0%, 0%) / 0.333;
  box-shadow: 3px 6px 6px hsl(227, 0%, 0%) / 0.333;
}

#aboutUsDropDown {
  /* display: none; */
}

.nav2-item {
  padding: 8px 0px;
}