/**
 * @file
 * Visual styles for menu.
 */

.navigation {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

@media screen and (max-width: 1376px) {
  .nav-container {
    display: none;
  }
}

.nav-container .nav1 {
  margin-right: 0.25rem;
}

.nav-container .dropdown {
  flex-direction: column;
  position: absolute;
  margin-top: 20px;
  background: var(--neutral-95);
  z-index: 2;
  padding: 19px 40px 24px 28px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px hsl(227, 0%, 0%) / 0.333;
  box-shadow: 2px 4px 4px hsl(227, 0%, 0%) / 0.333;
  box-shadow: 3px 6px 6px hsl(227, 0%, 0%) / 0.333;
}

.nav-container #joinDropdown {
  width: 210px;
  right: 0px;
}

.nav-container .nav2-item {
  padding: 10px 0px;
}

.nav-container .dropdown a {
  color: var(--primary-50);
}

.nav-container .dropdown a:hover {
  color: var(--primary-30);
}

.nav-container a.nav1-item {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.6rem;
  border-radius: 10rem;
}

.nav-container a.in-progress {
  color: red !important;
}

.nav-container a.nav1-item:hover {
  background: rgba(255,255,255,0.16);
}

.nav1-wrapper {
  display: flex;
  align-items: center;
}

.nav1-wrapper svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  left: 4px;
  transition: transform 0.3s ease-in-out; /* Adjust timing and easing as needed */
  transform: rotate(0deg);
}

.nav1-wrapper path {
  stroke: var(--neutral-90)
}

.nav2-section {
  display: flex;
  flex-direction: column;
}

.nav2-section.first {
  border-bottom: 1px solid var(--neutral-80);
  margin-bottom: 8px;
  padding-bottom: 12px;
}

.nav2-section .highlight {
  font-weight: 600;
}

body.dropdown-visible-aboutUsDropdown .nav-about a.nav1-item,
body.dropdown-visible-ikesLifeDropdown .nav-ikes-life a.nav1-item,
body.dropdown-visible-eduDropdown .nav-edu a.nav1-item,
body.dropdown-visible-soldiersDropdown .nav-soldiers a.nav1-item,
body.dropdown-visible-visitDropdown .nav-visit a.nav1-item,
body.dropdown-visible-joinDropdown .nav-join a.nav1-item {
  background: rgba(255,255,255,0.16);
}

body.dropdown-visible-aboutUsDropdown .nav-about svg,
body.dropdown-visible-ikesLifeDropdown .nav-ikes-life svg,
body.dropdown-visible-eduDropdown .nav-edu svg,
body.dropdown-visible-soldiersDropdown .nav-soldiers svg,
body.dropdown-visible-visitDropdown .nav-visit svg,
body.dropdown-visible-joinDropdown .nav-join svg {
  transition: transform 0.1s ease-in-out; /* Adjust timing and easing as needed */
  transform: rotate(180deg);
}