

.lg-padding-bottom {
  padding-bottom: 96px;
}
.lg-padding-top {
  padding-top: 96px;
}

.md-padding-bottom {
  padding-bottom: 64px;
}
.md-padding-top {
  padding-top: 64px;
}
.sm-padding-bottom {
  padding-bottom: 32px;
}
.sm-padding-top {
  padding-top: 32px;
}

.paragraph-padding {
  padding: 8rem 0;
}

.field--name-field-column-one,
.field--name-field-column-two {
  background-color: var(--primary-95);
  padding: 32px 72px 48px 48px;
  border-radius: 24px;
}

.field--name-field-column-one {
  margin-right: 32px;
}

.sm-lg-width .field--name-field-column-one {
  max-width: 400px;
}

.sm-lg-width .field--name-field-column-two {
  max-width: 720px;
  flex: 2;
}

.md-md-width .field--name-field-column-one {
  max-width: 620px; 
}

.md-md-width .field--name-field-column-two {
  max-width: 620px;
}

.sm-lg-width .field--name-field-column-one {
  max-width: 720px;
}

.sm-lg-width .field--name-field-column-two {
  max-width: 400px;
  flex: 2;
}

.paragraph--type--two-column-section > .paragraph-inner,
.paragraph--type--two-column-image-text-block > .paragraph-inner,
.paragraph--type--two-column-text-collage > .paragraph-inner {
  display: flex;
  max-width: var(--xl);
  margin: 0 auto;
}

.paragraph-featured-soldiers > .paragraph-inner {
  max-width: var(--lg);
  margin: 0 auto;
}

.paragraph--type--two-column-text-collage > .paragraph-inner {
  flex-direction: column;
  justify-content: space-between;
}

/** two column image and text  **/
.paragraph--type--two-column-image-text-block {
  margin-top: 40px;
}
.paragraph--type--two-column-image-text-block .paragraph-inner {
  align-items: center;
}
.paragraph--type--two-column-image-text-block .field--name-field-block-image img {
  /* max-width: 400px; */
  margin-right: 48px;
}
.paragraph--type--two-column-image-text-block h2 {
  max-width: 560px;
}

/** text collages two coloumn **/
.paragraph--type--two-column-text-collage .text-column {
  padding: 64px 280px 160px 64px;
  border-radius: 1.5rem;
  margin-right: -64px;
  background: var(--neutral-95);
  width: 540px;
}
.paragraph--type--two-column-text-collage .text-background {
  background-color: var(--primary-95);
  position: absolute;
  width: 1200px;
  height: 560px;
  z-index: -1;
  border-radius: 24px;
}
.paragraph--type--two-column-text-collage .collage {
  width: 700px;
  align-self: flex-end;
  position: relative;
  bottom: 440px;
  margin-bottom: -400px;
}

.paragraph--type--two-column-text-collage .image-row-1 .image-item  {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 560px;
  height: 280px;
}

.paragraph--type--two-column-text-collage .image-row-1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.paragraph--type--two-column-text-collage .image-row-1 img {
  width: 560px;
  height: 280px;
  object-fit: cover;
}

.paragraph--type--two-column-text-collage .image-row-2 {
  display: flex;
  justify-content: flex-end;
}

.paragraph--type--two-column-text-collage .image-row-2 .image-item:first-child {
  margin-right: 2rem;
}

.paragraph--type--two-column-text-collage .image-row-2 .image-item:first-child {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 280px;
  height: 220px;
}

.paragraph--type--two-column-text-collage .image-row-2 .image-item:first-child img {
  width: 280px;
  height: 220px;
  object-fit: cover;
}

.paragraph--type--two-column-text-collage .image-row-2 .image-item:nth-child(2) {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 360px;
  height: 220px;
}

.paragraph--type--two-column-text-collage .image-row-2 .image-item:nth-child(2) img {
  width: 360px;
  height: 220px;
  object-fit: cover;
}


/** body paragraph styles, body-text-image **/

.paragraph--type--body-text-image {
  display: flex; 
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
}

.paragraph--type--body-text-image h2 {
  margin-bottom: 2.5rem;
}

.paragraph--type--body-text-image .field--name-field-text {
  margin-right: 4rem;
}

.paragraph--type--body-text-image .field--name-field-image {
  margin: 0 1rem;
}

.paragraph--type--body-text-image .field--type-image img {
  max-width: 440px;
  height: auto;
  border-radius: 1.1rem;
}

/** body quote **/

.paragraph--type--body-quote {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.field--name-field-text-quote,
.field--name-field-text blockquote p,
.field--name-body blockquote p {
  quotes: "“" "”" "‘" "’";
  font-size: 2rem;
  line-height: 2.1rem;
  font-family: 'Newsreader';
  color: var(--primary-40);
  margin-bottom: 1rem;
}

.field--name-body blockquote {
  margin-left: 0px;
  margin-bottom: 2rem;
}

.field--name-field-quote-attribution {
  font-size: 1.1rem;
  font-family: 'Newsreader';
  color: var(--primary-40);
}

.field--name-field-text blockquote::before {
  content: open-quote;
}

.field--name-field-text blockquote::after {
  content: close-quote;
}


/** text and image array **/

.paragraph--type--body-text-image-array {
  display: flex;
  justify-content: space-between;
}

.paragraph--type--body-text-image-array .field--name-field-body {
  max-width: 560px;
  padding-right: 3rem;
}

.field--name-field-image-array {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 680px;
  margin-top: 1rem;
}

.field--name-field-image-array .field__item img {
  max-width: 280px;
  margin-right: 1rem;
  object-fit: cover;
}

.field--name-field-image-array img {
  border-radius: 1.5rem;
}

/** cards array **/

.paragraph--type--cards-array {
  max-width: var(--xl);
  margin: 0 auto;
  padding: 4rem 0 4rem 0;
}

.field--name-field-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  right: 1rem;
  width: 100%;
}

.card-image-title {
  background-color: var(--primary-95);
  border-radius: 1.5rem;
  max-width: 360px;
  margin: 0 1rem;
}

.card-image-title img {
  max-width: 360px;
  height: auto;
}

.card-image-title a {
  text-decoration: none;
}

.card-title {
  padding: 1.2rem 1rem 1.6rem 1.5rem;
  color: var(--primary-10) !important;
}

.paragraph--type--cards-array .field--name-field-text {
  max-width: var(--sm);
}

.page-node-type-ike-s-life .imageLeft, .page-node-type-ike-s-life .imageRight {
  display: flex;
  margin-bottom: 3rem;
}

.page-node-type-ike-s-life .imageLeft img, .page-node-type-ike-s-life .imageRight img {
  max-width: 420px;
  height: auto;
  margin-right: 3rem;
  object-fit: contain;
  margin-top: 1rem;
  border-radius: 1rem;
}

.page-node-type-ike-s-life .imageRight img {
  margin-right: 0px;
  margin-left: 3rem;
}

/* featured soldiers */

.paragraph-featured-soldiers .field--name-field-section-icon img {
  max-width: 240px;
  object-fit: contain;
  height: auto;
}

.paragraph-featured-soldiers .paragraph-heading {
  display: flex;
}

.paragraph-featured-soldiers .heading-text {
  max-block-size: 720px;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.paragraph-featured-soldiers .body-large {
  margin-bottom: 3rem;
}

.view-soldiers-featured .view-content {
  display: flex;
}

/* ike education - upcoming programs */

.field--name-field-column-two {
  min-width: 360px;
}

/* text array */

.paragraph--type--text-array {
  position: relative;
  bottom: 3rem;
  margin-bottom: 2rem;
}

.paragraph--type--text-array .field--name-field-paragraph-reference {
  background-color: var(--primary-95);
  display: flex;
  flex-wrap: wrap;
  padding: 2.25rem 2.8rem;
  border-radius: 1.5rem;
}

.paragraph--type--text-array .field__item {
  width: 480px;
  padding: 0 2rem 0.5rem 0;
}

.paragraph--type--text-array .field__item p {
  margin-top: 0px;
}

.paragraph--type--text-array h4 {
  margin-bottom: 0.5rem;
}

/** friends of the foundation - body paragraph wrapper **/

.node-id-1809 .field--name-field-paragraphs {
  background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem;
}

.paragraph--type--membership-level .field--name-field-heading-3 {
  color: var(--tertiary-40);
  margin-bottom: 0.25rem;
  margin-right: 2rem;
  flex-grow: 2;
}

.paragraph--type--membership-level {
  display: flex;
  flex-wrap: wrap;
}

.paragraph--type--membership-level .field--name-field-body {
  width: 100%;
}

.paragraph--type--membership-level .paragraph--type--text-and-links {
  margin-bottom: 4rem;
}

/** text and links **/

.paragraph--type--text-and-links .field--name-field-call-to-action {
  margin-top: 2rem;
  height: 40px;
}


/** sponsorship level **/

.sponsorship-level-item {
  margin-bottom: 4rem;
}

.sponsorship-level-item .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sponsorship-level-item .field--name-field-image {
  margin-right: 4rem;
}

.sponsorship-level-item img {
  width: 248px;
  height: 248px;
  object-fit: cover;
}

.sponsorship-level-item .text-container {
  max-width: 800px;
}

.sponsorship-level-item .heading-price p {
  color: var(--tertiary-40);
}

/** about page **/

.node-id-2 .field--name-field-paragraphs {
  display: flex;
  flex-wrap: wrap;
}

.node-id-2 .field--name-field-paragraphs .field__item:nth-child(1) {
  width: 560px;
}

.node-id-2 .field--name-field-paragraphs .field__item:nth-child(2) {
  width: 560px;
}

.node-id-2 .field--name-field-paragraphs .field__item:nth-child(3) {
  width: 100%;
}

/** node id 1807 - Book Your Experience **/

.node-id-1807 .field--name-field-paragraphs {
  display: flex;
  flex-wrap: wrap;
}

.node-id-1807 .field--name-field-paragraphs .field__item:nth-child(1) {
  width: 100%;
}

.node-id-1807 .paragraph--type--cards-array {
  background-color: var(--primary-95);
  padding: 3rem 4rem 4rem 4rem;
  border-radius: 1.5rem;
}

.node-id-1807 .paragraph--type--cards-array .field__item:nth-child(1) {
  width: auto;
}

.node-id-1807 .field--name-field-paragraphs .field__item:nth-child(3) {
  flex: 1;
}

.node-id-1807 .paragraph--type--cards-array .field__item:nth-child(3) {
  flex: auto;
}

.node-id-1807 .paragraph--type--markup {
  width: 920px;
  margin-top: 1rem;
  margin-right: 2rem;
}

.node-id-1807 .paragraph--type--body-text {
  width: auto;
  margin-top: 4rem;
  background-color: var(--primary-95);
  padding: 2rem 2.5rem 3rem 2.5rem;
  border-radius: 1.5rem;

}

.node-id-1807 .paragraph--type--body-text h3 {
  margin-bottom: 1rem;
}

.paragraph--type--heading-with-icon-text {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-90);
  padding: 1.25rem 2rem 2rem 2rem;
  border-radius: 1rem;
  margin: 0 1rem;
  height: 160px;
}

.paragraph--type--heading-with-icon-text .field--name-field-body {
  width: 100%;
  max-width: 240px;
}

.paragraph--type--heading-with-icon-text .field--name-field-card-icon img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-top: 12px;
  margin-right: 12px;
}

/** webform block - join mailing list **/

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 {
  max-width: var(--xl);
  margin: 0 auto;
}

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .block-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 432px;
  background-color: var(--primary-10);
  padding: 3rem;
  border-radius: 1.5rem;
}

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .field--name-field-title {
  color: var(--primary-90);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .field--name-field-headline {
  color: var(--primary-98);
  margin-bottom: 0.5rem;
}

.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .field--name-body p {
  max-width: 520px;
  color: var(--primary-90);
  padding-right: 4rem;
}


/** paragraph--type--card-image-title-description **/

.paragraph--type--card-image-title-description {
  max-width: 412px;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 1rem;
  background-color: var(--primary-95);
}

.paragraph--type--card-image-title-description img {
  width: 412px;
  height: 328px;
  object-fit: cover;
}

.paragraph--type--card-image-title-description .field--name-field-heading-3 {
  padding-top: 0.5rem;
  padding-left: 2rem;
  color: var(--primary-10);
}

.paragraph--type--card-image-title-description .field--name-field-body p {
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: var(--neutral-40);
}
