

.lg-padding-bottom {
  padding-bottom: 96px;
}
.lg-padding-top {
  padding-top: 96px;
}

.md-padding-bottom {
  padding-bottom: 64px;
}
.md-padding-top {
  padding-top: 64px;
}
.sm-padding-bottom {
  padding-bottom: 32px;
}
.sm-padding-top {
  padding-top: 32px;
}

.paragraph-padding {
  padding: 6rem 0;
}

/* .field--name-field-column-one,
.field--name-field-column-two {
  background-color: var(--neutral-90);
  padding: 32px 72px 48px 48px;
  border-radius: 24px;
  margin-bottom: 2rem;
} */

/* @media screen and (max-width: 712px) {
  .field--name-field-column-one,
  .field--name-field-column-two {
    padding: 32px 32px 40px 32px;
  }
} */

/* .field--name-field-column-one .paragraph--type--link-array,
.field--name-field-column-two .paragraph--type--link-array,
.field--name-field-column-one .paragraph--type--body-text,
.field--name-field-column-two .paragraph--type--body-text,
.field--name-field-column-one .paragraph--type--upcoming-programs,
.field--name-field-column-two .paragraph--type--upcoming-programs,
.field--name-field-column-one .paragraph--type--text-and-links,
.field--name-field-column-two .paragraph--type--text-and-links {
  background-color: var(--neutral-95);
  padding: 28px 68px 48px 40px;
  border-radius: 24px;
} */

/* @media screen and (max-width: 440px) {
  .field--name-field-column-one .paragraph--type--link-array,
  .field--name-field-column-two .paragraph--type--link-array,
  .field--name-field-column-one .paragraph--type--body-text,
  .field--name-field-column-two .paragraph--type--body-text,
  .field--name-field-column-one .paragraph--type--upcoming-programs,
  .field--name-field-column-two .paragraph--type--upcoming-programs,
  .field--name-field-column-one .paragraph--type--text-and-links,
  .field--name-field-column-two .paragraph--type--text-and-links {
    padding: 28px 32px 44px 32px;
  }
} */

.paragraph--type--text-and-links .paragraph-inner .paragraph-inner {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0rem;
  padding-top: 0rem;
}

.field--name-field-column-one {
  margin-right: 32px;
}

@media screen and (max-width: 968px) {
  .field--name-field-column-one {
    margin-right: 0;
  }
}

@media screen and (max-width: 712px) {
  .field--name-field-column-one {
    margin-right: 0px;
  }
}

.sm-lg-width .field--name-field-column-one {
  max-width: 420px;
}

@media screen and (max-width: 1216px) {
  .sm-lg-width .field--name-field-column-one {
    max-width: 100%;
  }
}

.sm-lg-width .field--name-field-column-two {
  max-width: 880px;
  flex: 2;
}

.md-md-width .field--name-field-column-one {
  max-width: 620px; 
  margin-bottom: 2rem;
}

.md-md-width .field--name-field-column-two {
  max-width: 620px;
}

.lg-sm-width .field--name-field-column-one {
  max-width: 720px;
  margin-bottom: 2rem;
}

.lg-sm-width .field--name-field-column-two {
  max-width: 400px;
  flex: 2;
}

@media screen and (max-width: 968px) {
  .lg-sm-width .field--name-field-column-two {
    max-width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .two-column-left {
    width: 100%;
  }
}

.paragraph--type--two-column-section {
  margin-bottom: 3rem;
}

.path-frontpage .field--name-field-column-one {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1376px) {
  .path-frontpage .paragraph--type--two-column-section {
    margin-right: var(--gutter-xl);
    margin-left: var(--gutter-xl);
  }
}

.paragraph--type--two-column-section > .paragraph-inner,
.paragraph--type--two-column-image-text-block > .paragraph-inner,
.paragraph--type--two-column-text-collage > .paragraph-inner {
  display: flex;
  max-width: var(--xl);
  margin: 0 auto;
  align-items: flex-start;
}

@media screen and (max-width: 1376px) {
  .paragraph--type--two-column-image-text-block > .paragraph-inner,
  .paragraph--type--two-column-text-collage > .paragraph-inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: var(--gutter-xl);
    margin-left: var(--gutter-xl);
  }
}

@media screen and (max-width: 1376px) {
  .paragraph--type--two-column-section > .paragraph-inner {
    flex-wrap: wrap;
  }
}

.paragraph-featured-soldiers > .paragraph-inner {
  max-width: var(--xl);
  margin: 0 auto;
}

@media screen and (max-width: 1376px) {
  .paragraph-featured-soldiers > .paragraph-inner {
    margin: 0 var(--gutter-xl);
  }
}

.paragraph--type--two-column-text-collage > .paragraph-inner {
  flex-direction: column;
  justify-content: space-between;
}

/** two column image and text  **/
.paragraph--type--two-column-image-text-block {
  margin-top: 40px;
}

/* .paragraph--type--two-column-image-text-block .paragraph-inner {
  align-items: center;
} */

.paragraph--type--two-column-image-text-block .field--name-field-block-image {
  margin-right: 48px;
  margin-bottom: 2rem;
  width: 360px;
  height: 320px;
  border-radius: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 968px) {
  .paragraph--type--two-column-image-text-block .field--name-field-block-image {
    margin-right: 0px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 712px) {
  .paragraph--type--two-column-image-text-block .field--name-field-block-image {
    width: 100%;
    height: 320px;
  }
}

.paragraph--type--two-column-image-text-block .field--name-field-block-image img {
  width: 360px;
  height: 320px;
  object-fit: cover;
}

@media screen and (max-width: 712px) {
  .paragraph--type--two-column-image-text-block .field--name-field-block-image img {
    width: 100%;
    height: 320px;
  }
}


.paragraph--type--two-column-image-text-block .field--name-field-block-image img {
  max-width: 100%;
}

.paragraph--type--two-column-image-text-block h2 {
  max-width: 560px;
}

.paragraph--type--two-column-image-text-block .label-medium {
  margin-bottom: 2rem;
}

.paragraph--type--two-column-image-text-block .tertiary-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-width: 420px;
}

.paragraph--type--two-column-image-text-block .tertiary-links p {
  margin: 0;
}

.paragraph--type--two-column-image-text-block .tertiary-links a {
  display: inline-block;
  background: var(--primary-40);
  padding: 10px 18px;
  border-radius: 10rem;
  color: var(--primary-90);
  text-decoration: none;
  margin: 0 1rem 1rem 0;
}

.paragraph--type--two-column-image-text-block .tertiary-links a:hover {
  background: var(--primary-30);
  transition: all 0.3s;
}

/** text collages two coloumn **/
.paragraph--type--two-column-text-collage .text-column {
  padding: 64px 380px 160px 64px;
  border-radius: 1.5rem;
  margin-right: -64px;
  background: var(--neutral-90);
  width: 640px;
}

@media screen and (max-width: 1216px) {
  .paragraph--type--two-column-text-collage .text-column {
    padding: 48px 40px 160px 40px;
    margin-right: 0px;
    width: auto;
  }
}


@media screen and (max-width: 712px) {
  .paragraph--type--two-column-text-collage .text-column {
    padding: 32px 32px 160px 32px;
    margin-right: 0px;
    width: auto;
  }
}

.paragraph--type--two-column-text-collage .text-background {
  background-color: var(--primary-95);
  position: absolute;
  max-width: 1200px;
  height: 560px;
  z-index: -1;
  border-radius: 24px;
}

.paragraph--type--two-column-text-collage .collage {
  width: 700px;
  align-self: flex-end;
  position: relative;
  bottom: 480px;
  margin-bottom: -460px;
}

@media screen and (max-width: 1216px) {
  .paragraph--type--two-column-text-collage .collage {
    width: 800px;
    bottom: 100px;
    margin-bottom: -100px;
    right: 4rem;
  }
}

@media screen and (max-width: 968px) {
  .paragraph--type--two-column-text-collage .collage {
    width: auto;
    bottom: 100px;
    margin-bottom: -100px;
    right: 2rem;
  }
}

@media screen and (max-width: 712px) {
  .paragraph--type--two-column-text-collage .collage {
    width: auto;
    bottom: 100px;
    margin-bottom: -100px;
    right: 0rem;
  }
}

.paragraph--type--two-column-text-collage .image-row-1 .image-item  {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 560px;
  height: 280px;
}

@media screen and (max-width: 960px) {
  .paragraph--type--two-column-text-collage .image-row-1 .image-item  {
    border-radius: 1rem;
  }
}

.paragraph--type--two-column-text-collage .image-row-1 .image-item img {
  width: 560px;
  height: 280px;
  object-fit: cover;
}

@media screen and (max-width: 960px) {
  .paragraph--type--two-column-text-collage .image-row-1 .image-item  {
    width: auto;
    height: 280px;
  }
}

@media screen and (max-width: 960px) {
  .paragraph--type--two-column-text-collage .image-row-1 img {
    max-width: 100%;
  }
}

.paragraph--type--two-column-text-collage .image-row-1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

/* .paragraph--type--two-column-text-collage .image-row-1 img {
  width: 560px;
  height: 280px;
  object-fit: cover;
} */

.paragraph--type--two-column-text-collage .image-row-2 {
  display: flex;
  justify-content: flex-end;
  gap: 2rem; /* Adjust as needed for spacing between images */
  align-items: flex-end; /* Align images to the bottom */
  position: relative; 
}

/** Image 1 **/
.paragraph--type--two-column-text-collage .image-row-2 .image-item:first-child {
  border-radius: 1.5rem;
  width: 280px;
  height: 230px;
}

/** Image 1 **/
.paragraph--type--two-column-text-collage .image-row-2 .image-item:first-child img {
  width: 280px;
  height: 230px;
  object-fit: cover;
  border-radius: 1.5rem;
}

/** Image 2 **/
.paragraph--type--two-column-text-collage .image-row-2 .image-item:nth-child(2) {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 400px;
  height: 236px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/** Image 2 **/
.paragraph--type--two-column-text-collage .image-row-2 .image-item:nth-child(2) img {
  width: 400px;
  height: 236px;
  object-fit: cover;
}

@media screen and (max-width: 960px) {
  .paragraph--type--two-column-text-collage .image-row-2 {
    display: none;
  }
}


/** body paragraph styles, body-text-image **/

.paragraph--type--body-text-image {
  display: flex; 
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 1216px) {
  .paragraph--type--body-text-image {
    flex-direction: column;
  }
}

.paragraph--type--body-text-image h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.paragraph--type--body-text-image .field--name-field-text {
  margin-right: 3rem;
}

@media screen and (max-width: 712px) {
  .paragraph--type--body-text-image .field--name-field-text {
    margin-right: 0rem;
  }
}

.paragraph--type--body-text-image .field--name-field-image {
  margin: 0 1rem;
}

@media screen and (max-width: 1216px) {
  .paragraph--type--body-text-image .field--name-field-image {
    margin: 0;
  }
}

.paragraph--type--body-text-image .field--type-image img,
.paragraph--type--body-text-image .field-image-container img {
  max-width: 460px;
  min-width: 300px;
  height: auto;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-right: 2.5rem;
}

@media screen and (max-width: 712px) {
  .paragraph--type--body-text-image .field-image-container img {
    max-width: 100%;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 712px) {
  .paragraph--type--body-text-image .field--type-image img {
    max-width: none;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 1216px) {
  .paragraph--type--body-text-image .field--type-image img {
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
  }
}


/** Body Quote Paragraph **/

.body-quote {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  background: var(--neutral-95);
  padding: 3.5rem 4rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}


/** text and image array **/

.paragraph--type--body-text-image-array {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 968px) {
  .paragraph--type--body-text-image-array {
    flex-direction: column;
  }
}

.paragraph--type--body-text-image-array .field--name-field-body {
  max-width: 560px;
  padding-right: 3rem;
}

@media screen and (max-width: 968px) {
  .paragraph--type--body-text-image-array .field--name-field-body {
    max-width: 100%;
    padding-right: 0px;
  }
}

.field--name-field-image-array {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 680px;
  margin-top: 1rem;
}

@media screen and (max-width: 968px) {
  .field--name-field-image-array {
    justify-content: flex-start;
    max-width: none;
  }
}

.field--name-field-image-array .field__item img {
  max-width: 280px;
  margin-right: 1rem;
  object-fit: cover;
}

@media screen and (max-width: 968px) {
  .field--name-field-image-array .field__item img {
    max-width: 280px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
  }
}

.field--name-field-image-array img {
  border-radius: 1.5rem;
}

/** cards array **/

.page-node-type-education .paragraph--type--cards-array .card-title {
  padding: 1.4rem 2rem 1.6rem 1.8rem;
  font-family: 'Newsreader';
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-10);
}

.paragraph--type--cards-array .card-title {
  padding: 1.4rem 2rem 1.6rem 1.8rem;
  font-family: 'Newsreader';
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-10);
}

.field--name-field-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 968px) {
}

@media screen and (max-width: 1216px) {
  .node-id-1918 .field--name-field-card {
    justify-content: center;
  }
}

@media screen and (max-width: 712px) {
  .field--name-field-card {
    right: 0px;
    flex-direction: column;
  }
}

@media screen and (max-width: 712px) {
  .node-id-1918 .field--name-field-card .field__item,
  .node-id-1919 .field--name-field-card .field__item {
    width: 100%;
  }
}

.node-id-1807 .field--name-field-card {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  position: relative;
  right: 1rem;
  margin-top: 3rem;
}

.paragraph--type--cards-array .field--name-field-text {
  max-width: var(--sm);
}

.page-node-type-ike-s-life .imageLeft, .page-node-type-ike-s-life .imageRight {
  display: flex;
  margin-bottom: 3rem;
}

.page-node-type-ike-s-life .imageLeft img, .page-node-type-ike-s-life .imageRight img {
  max-width: 420px;
  height: auto;
  margin-right: 3rem;
  object-fit: contain;
  margin-top: 1rem;
  border-radius: 1rem;
}

.page-node-type-ike-s-life .imageRight img {
  margin-right: 0px;
  margin-left: 3rem;
}

/* featured soldiers */

.paragraph-featured-soldiers {
  max-width: var(--xl);
  margin: 3rem auto 4rem auto;
}

.paragraph-featured-soldiers .paragraph-inner {
  background: var(--primary-95);
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 1.5rem;
  max-width: auto;
}

@media screen and (max-width: 712px) {
  .paragraph-featured-soldiers .paragraph-inner {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
}

.paragraph-featured-soldiers .field--name-field-section-icon img {
  max-width: 240px;
  object-fit: contain;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.paragraph-featured-soldiers .paragraph-heading {
  display: flex;
}

@media screen and (max-width: 1376px) {
  .paragraph-featured-soldiers .paragraph-heading {
    flex-direction: column-reverse;
  }
}

.paragraph-featured-soldiers .heading-text {
  max-width: 720px;
  margin-right: 6rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 712px) {
  .paragraph-featured-soldiers .heading-text {
    max-width: 720px;
    margin-right: 0rem;
    margin-bottom: 4rem;
  }
}

.paragraph-featured-soldiers .field--name-field-link-button {
  margin-top: 3.5rem;
}

.paragraph-featured-soldiers .soldiers-row-text {
  max-width: var(--lg);
}

.paragraph-featured-soldiers .body-large {
  margin-bottom: 3rem;
}

.view-soldiers-featured .view-content {
  display: flex;
  flex-wrap: wrap;
}


/* ike education - upcoming programs */

.field--name-field-column-two {
  min-width: 360px;
}

@media screen and (max-width: 560px) {
  .field--name-field-column-two {
    min-width: auto;
  }
}

/* text array */
.paragraph--type--text-array {
  position: relative;
  /* bottom: 3rem; */
  margin-bottom: 2rem;
}

.paragraph--type--text-array .field--name-field-paragraph-reference {
  background-color: var(--primary-95);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.25rem 2.8rem;
  border-radius: 1.5rem;
  margin-top: 3rem;
}

.node-id-1793 .paragraph--type--text-array .field--name-field-paragraph-reference {
  margin-bottom: 4rem;
}

.paragraph--type--text-array .field__item {
  width: 440px;
  padding: 0 2rem 0.5rem 0;
}

@media screen and (max-width: 640px) {
  .paragraph--type--text-array .field__item {
    width: auto;
    padding: 0;
  }
}

.paragraph--type--text-array .field__item p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph--type--text-array h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/** friends of the foundation - body paragraph wrapper **/

.node-id-1809 .field--name-field-paragraphs {
  background-color: var(--primary-95);
  padding: 2rem;
  border-radius: 1.5rem;
}

.paragraph--type--membership-level .field--name-field-heading-3 {
  color: var(--tertiary-40);
  margin-bottom: 0.25rem;
  margin-right: 2rem;
  flex-grow: 2;
}

.paragraph--type--membership-level {
  display: flex;
  flex-wrap: wrap;
}

.paragraph--type--membership-level .field--name-field-body {
  width: 100%;
}

.paragraph--type--membership-level .paragraph--type--text-and-links {
  margin-bottom: 4rem;
}

.field--name-field-sections-sidebar-right .paragraph--type--text-and-links {
  margin-top: 0rem;
  padding-bottom: 0rem;
}

.paragraph--type--text-and-links h2,
.paragraph--type--text-and-links .field--name-field-heading-2 {
  margin-top: 0px;
}

.field--name-field-sections-sidebar-right .paragraph .field--name-field-image img {
  max-width: 100%;
  object-fit: cover;
  max-height: 360px;
  border-radius: 1.5rem;
}


/** sponsorship level **/

.sponsorship-level-item {
  margin-bottom: 4rem;
}

.sponsorship-level-item .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sponsorship-level-item .field--name-field-image {
  margin-right: 4rem;
}

.sponsorship-level-item img {
  width: 248px;
  height: 248px;
  object-fit: cover;
}

.sponsorship-level-item .text-container {
  max-width: 800px;
}

.sponsorship-level-item .heading-price p {
  color: var(--tertiary-40);
}

.node-id-1807 .field--name-field-paragraphs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: var(--primary-95);
  border-radius: 1.5rem; */
}

.node-id-1807 .field--name-field-paragraphs .field__item {
  max-width: 100%;
}

@media screen and (max-width: 1216px) {
  .node-id-1807 .field--name-field-paragraphs .field__item {
    width: 100%
  }
}

.node-id-1807 .paragraph--type--markup {
  width: 784px;
  margin-top: 1rem;
  margin-right: 2rem;
}

@media screen and (max-width: 1216px) {
  .node-id-1807 .paragraph--type--markup {
    width: 100%;
    margin-top: 1rem;
    margin-right: 0rem;
  }
}

.node-id-1807 .paragraph--type--body-text {
  width: 320px;
  margin-top: 1rem;
  background-color: var(--primary-95);
  padding: 2rem 2.5rem 3rem 2.5rem;
  border-radius: 1.5rem;
}

@media screen and (max-width: 1216px) {
  .node-id-1807 .paragraph--type--body-text {
    width: auto;
  }
}

.node-id-1807 .paragraph--type--body-text h3 {
  margin-bottom: 1rem;
}


.paragraph--type--body-text {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}


/** .paragraph--type--heading-with-icon-text **/

.paragraph--type--heading-with-icon-text {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-90);
  border-radius: 1rem;
  margin: 0 1rem;
  width: 286px;
}

.paragraph--type--heading-with-icon-text .paragraph-inner {
  padding: 2rem 2rem 2rem 2rem;
}

@media screen and (max-width: 1376px) {
  .paragraph--type--heading-with-icon-text {
    width: auto;
  }
}

@media screen and (max-width: 968px) {
  .paragraph--type--heading-with-icon-text {
    width: 100% !important;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .paragraph--type--heading-with-icon-text {
    width: auto;
  }
}

.paragraph--type--heading-with-icon-text h3 {
  margin-top: 0px;
  margin-bottom: 0.75rem;
}

.paragraph--type--heading-with-icon-text .field--name-field-body {
  width: 100%;
  max-width: 240px;
}

.paragraph--type--heading-with-icon-text img {
  width: 44px;
  height: 32px;
  object-fit: contain;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.paragraph--type--card-image-title-description {
  max-width: 412px;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: var(--primary-95);
}

@media screen and (max-width: 712px) {
  .paragraph--type--card-image-title-description {
    max-width: none !important;
    margin: 1rem 0 !important;
    background-color: var(--primary-95);
  }
}

.node-id-1918 .paragraph--type--card-image-title-description {
  max-width: 368px;
}

@media screen and (max-width: 1216px) {
  .node-id-1918 .paragraph--type--card-image-title-description {
    max-width: 412px;
  }
}

@media screen and (max-width: 968px) {
  .node-id-1918 .paragraph--type--card-image-title-description {
    max-width: 528px;
  }
}

.node-id-1919 .paragraph--type--card-image-title-description {
  max-width: 370px;
}

@media screen and (max-width: 712px) {
  .node-id-1918 .paragraph--type--card-image-title-description {
    max-width: none;
  }
}

.paragraph--type--card-image-title-description img {
  width: 412px;
  height: 328px;
  object-fit: cover;
}

@media screen and (max-width: 968px) {
  .paragraph--type--card-image-title-description img {
    width: 100%;
  }
}

.paragraph--type--card-image-title-description .field--name-field-heading-3 {
  padding-top: 0.25rem;
  padding-left: 2rem;
  color: var(--primary-10);
}

.paragraph--type--card-image-title-description .field--name-field-body p {
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  color: var(--neutral-40);
}

.paragraph--type--card-image-title-description a {
  text-decoration: none;
}


/** paragraph type link **/

.path-frontpage .field--name-field-link-reference {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-top: 2rem;
}

.path-frontpage .paragraph--type--link {
  margin-right: 1rem !important;
}

.paragraph--type--link-array h2 {
  margin-bottom: 2rem;
}

.paragraph--type--link {
  padding: 0px !important;
  margin: 0px !important;
}

.paragraph--type--link .button {
  margin-bottom: 2rem;
  height: 40px;
}

.paragraph--type--link .text {
  margin-bottom: 1.25rem;
  margin-left: 0.25rem;
}

.paragraph--type--view-reference .field--name-field-tertiary-links a {
  display: block;
  margin-top: 2rem;
  font-size: 1.15rem;
}


/** educator's guide block **/

.paragraph--type--educator-s-guide-block {
  background: var(--neutral-95);
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
}

@media screen and (max-width: 440px) {
  .paragraph--type--educator-s-guide-block {
    background: var(--neutral-95);
    padding: 2rem 1.5rem 3rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 1.5rem;
  }
}

.paragraph--type--educator-s-guide-block .paragraph--type--heading-with-icon-text {
  width: 350px;
  height: 100%;
  margin: 0;
}

.paragraph--type--educator-s-guide-block .subheading {
  max-width: var(--md);
}

.paragraph--type--educator-s-guide-block .paragraph--type--heading-with-icon-text .paragraph-inner {
  padding: 2rem 2rem 1rem 2rem;
}

@media screen and (max-width: 440px) {
  .paragraph--type--educator-s-guide-block .paragraph--type--heading-with-icon-text .paragraph-inner {
    padding: 1.5rem 1.25rem 2rem 1.5rem;
  }
}

.paragraph--type--educator-s-guide-block .paragraph--type--heading-with-icon-text .field--name-field-body {
  max-width: 100%;
}
.paragraph--type--educator-s-guide-block .field--name-field-call-to-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.paragraph--type--educator-s-guide-block .field--name-field-call-to-action a {
  margin-right: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
}

p.image-caption {
  /* position: relative;
  bottom: 54px;
  left: 12px;
  background: var(--neutral-90);
  display: inline-block;
  padding: 6px 14px;
  border-radius: 1rem;
  font-size: 14px;
  line-height: 1.2rem;
  color: var(--neutral-30);
  max-width: 80%; */

  display: inline-block;
  border-radius: 1rem;
  font-size: 14px;
  line-height: 1.2rem;
  color: var(--neutral-30);
  margin-top: 6px;
  margin-left: 12px;
}
