@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


body {
  font-family: 'Figtree', sans-serif;
  color: var(--neutral-10);
  font-size: 18px;
}

h1, .display-large {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 4.2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.display-medium, h2.display-medium, .view-news-main .view-content > h3 {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.display-small, h2.display-small {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading-large, .view-content h3, 
.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .field--name-field-headline {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.7rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}


.heading-medium, 
.field--name-field-heading-2,
.paragraph--type--membership-level .field--name-field-heading-3,
.paragraph--type--sponsorship-level .field--name-field-heading-3,
.field--name-field-level-price,
.view-header h2,
.text-formatted h2 {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--neutral-10)
}

.heading-small, .field-text h3, .views-row h3,
.node-id-1809 .field--name-field-sections-sidebar-right .paragraph h3,
.node-id-1809 .field--name-field-sections-sidebar-right .paragraph .field--name-field-heading-2,
.paragraph--type--heading-with-icon-text .field--name-field-heading-3,
.text-formatted h3  {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: var(--neutral-10)
}

.title-large {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.35rem;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.title-medium, h4 {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.title-small {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.075rem;
  line-height: 1.6em;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.body-large, 
.views-element-container .subheading {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.15rem;
  line-height: 1.8rem;
}

p, li, .body-medium {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.05rem;
  line-height: 1.6rem;
  color: var(--neutral-10);
}

.body-small {
  font-family: 'Figtree', Georgia, serif;
  font-size: 0.95rem;
  line-height: 1.45rem;
  color: var(--neutral-10);
}

.label-large {
    font-family: 'Figtree', Georgia, serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;  
}

.label-medium,
.block-block-content40e06a90-048a-412c-938f-55be4d8845b2 .field--name-field-title {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 4px;  
  margin-bottom: 1.4rem;
}

a {
  color: var(--primary-50);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.field--name-field-body ul {
  padding-left: 1rem;
}
