@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
  font-family: 'Figtree', sans-serif;
}

h1, .display-large {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 16px;
}


.heading-large, .field--name-field-heading-2 {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.heading-small {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.body-large {
  font-size: 1.1rem;
}

p, .body-medium {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.05rem;
  line-height: 1.45rem;
}

.label-large {
    font-family: 'Figtree', Georgia, serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;  
}