@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  color: var(--neutral-10);
  font-size: 18px;
}

h1, .display-large {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 4.2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.display-medium, h2.display-medium {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.display-small, h2.display-small {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading-large, .field--name-field-heading-2 {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.heading-medium {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.heading-small {
  font-family: 'Newsreader', Georgia, serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 300;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.title-medium {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.7em;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.title-small {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.075rem;
  line-height: 1.6em;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.body-large, .views-element-container .subheading {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.15rem;
  line-height: 1.8rem;
}

p, li, .body-medium {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.05rem;
  line-height: 1.45rem;
  color: var(--neutral-10);
}

.label-large {
    font-family: 'Figtree', Georgia, serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;  
}

.label-medium {
  font-family: 'Figtree', Georgia, serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 4px;  
  margin-bottom: 1.4rem;
}

a {
  color: var(--primary-50);
}
