
.block-views-blockike-s-life-boyhood-block-1 {
  margin: 4rem 0 4rem 0;
}

.block-views-blockike-s-life-boyhood-block-1 h2,
.block-views-blockike-s-life-west-point-block-1 h2,
.block-views-blockike-s-life-early-military-block-1 .ikes-life-heading-year {
  width: 480px;
  color: var(--primary-10);
}

/** Ike's Soldiers **/

.view-soliders-main .view-content {
  display: flex;
}

.view-soliders-main .views-row {
  margin: 1rem;
}
