
.block-views-blockike-s-life-boyhood-block-1 {
  margin: 4rem 0 4rem 0;
}

.block-views-blockike-s-life-boyhood-block-1 h2,
.block-views-blockike-s-life-west-point-block-1 h2,
.block-views-blockike-s-life-early-military-block-1 .ikes-life-heading-year {
  width: 480px;
  color: var(--primary-10);
}


/** Ike's Soldiers **/

.view-soliders-main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.view-soliders-main .view-content {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--xl);
}

.view-soliders-main .views-row, 
.view-soldiers-featured .views-row {
  margin: 0.8rem;
  max-width: 220px;
}

.view-soliders-main .view-filters {
  flex: 1 1 22%;
  margin-right: 2rem;
}

.view-soliders-main .view-content {
  flex: 1 1 68%;
}

.view-soliders-main .pager {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 1 1 100%;
}

.view-soliders-main .views-row a {
  text-decoration: none;
}

.view-soliders-main .views-row:hover {
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 0.2s all ease;
}

.view-soliders-main .views-row:hover {
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 0.25s all ease;
}

.view-soliders-main .views-row:hover img {
  transition: transform 0.25s ease, border-radius 0.25s ease;
  transform: scale(1.05) !important;
  max-height: 310px;
  overflow: hidden;
}


.view-user-soldier-collection {
  display: inline-block;
  background: var(--primary-95);
  padding: 1rem 3rem 2rem 2rem;
  border-radius: 1.5rem;
}

.view-user-soldier-collection a {
  color: var(--primary-10);
}

.view-user-soldier-collection .views-row {
  margin-bottom: 0.8rem;
}

/* news home */
.view-news-main .view-content {
  display: flex;
  flex-wrap: wrap;
}

.view-news-main h3 {
  flex: 1 1 100%;
}

.view-news-main h3 a {
  text-decoration: none;
}

.view-content > h3 {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important
}

.view-content > h3 a {
  color: var(--primary-10);
}

.view-news-main .views-row {
  flex: 1 1 370px;
  max-width: 370px;
  margin: 0 1rem 2rem 1rem;
  position: relative;
  right: 1rem;
}

.view-news-main .views-row:hover .text-container {
  background: var(--primary-90);
}

.view-news-main .text-container {
  background: var(--primary-95);
  padding: 0.8rem 2rem;
  margin-top: -4px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.view-news-main .article-summary-image {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  overflow: hidden;
}

.view-news-main img {
  max-width: 384px;
  max-height: 400px;
  object-fit: cover;
}

.view-news-main h4 {
  display: none;
}

.view-news-main h3.title-medium {
  height: 56px;
  color: var(--primary-10) !important;
  text-decoration: none;
}

.view-news-main a {
  text-decoration: none;
}

.view-news-featured {
  margin-top: -18rem;
}

.view-news-featured .views-row {
  display: flex;
}

.view-news-featured .views-field-nothing {
  background: var(--primary-10);
  padding: 4rem 22rem 3rem 3rem;
  border-radius: 1.5rem;
  margin-right: -18rem;
}

@media screen and (max-width: 1200px) {
  .view-news-featured .views-field-nothing {
    padding: 4rem 5rem 3rem 3rem;
    margin-right: 0rem;
  }
}

.view-news-featured .views-field-nothing h2,
.view-news-featured .views-field-nothing p,
.view-news-featured .views-field-nothing a,
.view-news-featured .label-medium {
  color: #fff;
}

.view-news-featured .views-field-nothing h2 {
  max-width: 560px;
}

.view-news-featured .subheading {
  min-height: 180px;
  color: var(--primary-90) !important;
}

.view-news-featured .label-medium {
  margin-bottom: 4rem;
}

.view-news-featured .views-field-nothing a {
  text-decoration: none; 
}

.view-news-featured .views-field-field-summary-image .field-content {
  border-radius: 1.5rem;
  margin-top: 5rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .view-news-featured .views-field-field-summary-image .field-content {
    display: none;
  } 
}

.view-news-featured img {
  height: 340px;
  width: 380px;
  object-fit: cover;
}
