<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="immigration-and-nationality-act" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/750.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/751.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/752.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/755.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Senator Pat McCarran</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: hec2008009249</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Immigration and Nationality Act</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 27, 1952</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The Immigration and Nationality Act of 1952 also known as the McCarran–Walter Act, restricted immigration into the United States by establishing a quota system for nationalities. Later, a preference system determined which ethnic groups were "desirable" immigrants. Additionally, the act abolished racial restrictions in place since 1790.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>