{# 
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}



{% 
  --------------
  No longer used - footer code in /block/block--foter-nav.html.twig 
  -------------
%}


  <div class="footer-container">
  <div class="footer-inner">

    <div class="footer-top">

      <div class="footer-info">
        <a class="logo" href="/">
          <img src="/sites/default/files/EF_New_transparent_0.png">
        </a>
        <div class="footer-info-item address">
          <p class="label-small">Address</p>
          <p>200 SE Fourth Street</p>
          <p>PO Box 295</p>
          <p>Abilene, KS 67410</p>
        </div>
        <div class="footer-info-item hours">
          <p class="label-small">Office Hours</p>
          <p>8 am - 5 pm</p>
        </div>
        <div class="footer-info-item phone">
          <p class="label-small">Phone</p>
          <p>785-280-9531</p>
        </div>
        <div class="footer-info-item social">
          <p class="label-small">Social</p>
          <div class="icons">
            <a href="https://www.facebook.com/eisenhowerfoundation" target="_blank">
              <i class="ri-facebook-fill"></i>
            </a>
            <a href="https://twitter.com/eisenhowerfound" target="_blank">
              <i class="ri-twitter-x-line"></i>
            </a>  
            <a href="https://www.youtube.com/user/EisenhowerMemorial" target="_blank">
              <i class="ri-youtube-fill"></i>
            </a>  
            <a href="https://www.instagram.com/eisenhowerfoundation/" target="_blank">
              <i class="ri-instagram-fill"></i>
            </a>  
          </div>
        </div>
        
      </div>
  
      <div class="footer-cards-container">
        <div class="footer-card">
          <p class="label-medium">Ike's Life</p>
          <div class="nav-section-links break">
            <a href="/ikes-life/boyhood" class="highlight">See All Eras</a>
            <a href="/ikes-life/boyhood">Boyhood</a>
            <a href="/ikes-life/west-point">West Point</a>
            <a href="/ikes-life/great-war-years">Early Military</a>
            <a href="/ikes-life/clouds-of-war">The General</a>
            <a href="/ikes-life/candidate">Presidency</a>
            <a href="/ikes-life/statesman">The Statesman</a>
          </div>
          <div class="nav-section-links">
            <a href="https://app.eisenhowerfoundation.net/timeline" target="_blank">Interactive Timeline</a>
            <a href="https://app.eisenhowerfoundation.net/experience" target="_blank">Pivotal Moments</a>
          </div>
        </div>

        <div class="footer-card">
          <p class="label-medium">Ike's Soldiers</p>
          <div class="nav-section-links">
            <a href="/page/ikes-soldiers">See Ike's Soldiers</a>
            <a href="/page/submit-soldier">Submit A Soldier</a>
          </div>
        </div>

        <div class="footer-card">
          <p class="label-medium">IKEducation</p>
          <div class="nav-section-links">
            <a href="/education-home/ikeducation">Explore Education</a>
            <a href="/page/educators-guide">Educator's Guide</a>
            <a href="/page/ike-online">IKE Online</a>
            <a href="/page/book-your-experience">Book Your Experience</a>
            <a href="/page/primary-source-library">Primary Source Library</a>
          </div>
        </div>

        <div class="footer-card">
          <p class="label-medium">The Foundation</p>
          <div class="nav-section-links">
            <a href="/page/about-foundation">About The Foundation</a>
            <a href="/resources/home">IKE Insight</a>
            <a href="https://eisenhowerfoundation.net/page/events" target="_blank">Program and Events</a>
            <a href="/page/research-travel-grants">Research Travel Grants</a>
            <a href="https://app.eisenhowerfoundation.net/legacy">Legacy Organizations</a>
          </div>
        </div>

        <div class="footer-card">
          <p class="label-medium">Plan Your Visit</p>
          <div class="nav-section-links">
            <a href="/page/hours-visit-details">Hours & Visit Details</a>
            <a href="/page/events">Events</a>
            <a href="/page/book-your-learning-experience">Book Your Experience</a>
          </div>
        </div>

        <div class="footer-card">
          <p class="label-medium">Join & Give</p>
          <div class="nav-section-links">
            <a href="/page/ways-give">Ways To Give</a>
            <a href="/page/80th-anniversary-giving">80th Anniversary Giving</a>
            <a href="/page/club-eisenhower">Planned Giving</a>
            <a href="/page/kansas-tax-credits">Kansas Tax Credits</a>
          </div>
        </div>

      </div>

    </div>

    <div class="footer-bottom">
      <div class="bottom-left">
        <div class="row1">
          <a href="/page/privacy-policy">Privacy Policy</a>
        </div>
        <div class="">
          <p class="label-small">© 2025 Eisenhower Foundation</p>
        </div>
      </div>
      <div class="bottom-right">
        <p class="signature">Built by <a href="https://www.demandstack.io">Demand Stack</a></p>
      </div>
    </div>

  </div>
  </div>
 
{% endmacro %} #}
