{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/39.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Ship passing through the Suez Canal</span>
                
                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: matpc 23043</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Suez Crisis</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">October 29, 1956</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">Eisenhower played a key role in ending the Suez Crisis of 1956. Following the President of Egypt Gamal Abdel Nasser’s decision to nationalize the Suez Canal on July 26, 1956, the French, British, and Israelis began a tripartite military mobilization against Egypt. Eisenhower pressured Britain and France to accept a United Nations cease-fire. Eisenhower’s handling of the Suez Crisis showed that he valued peace in the Middle East over protecting allied interests, as he barred even his closest allies from further military action.</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}