<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="meets-with-governor-orval-faubus" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/40.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/41.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/42.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/45.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Arkansas Governor Faubus besieged by newsmen following his two hour conference with President Eisenhower</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library, ID: 67-178-9</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Meets with Governor Faubus</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 14, 1957</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>In September 1957, nine African-American students enrolled at Central High School in Little Rock, Arkansas, in response to the Supreme Court decision in <em>Brown v. Board of Education</em> that ordered the desegregation of schools. Arkansas Governor Orval E. Faubus ordered the Arkansas National Guard to bar the nine students from the school. Eisenhower met with Governor Faubus, but the governor refused to back down.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>