<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="Burial" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1023.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1024.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1025.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1028.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Place of Meditation</span>

                <br>
                <span class="milestone-caption-txt">Eisenhower Foundation</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Burial</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 2, 1969</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower was laid to rest in the Place of Meditation on the grounds of the Eisenhower Presidential Library and Museum in his hometown of Abilene, Kansas. He is buried beside Mamie and their first-born son, Icky.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>