/* 1382 =================================================== */


/*************************************
 * NAVIGATION
 *************************************/
 



 /*************************************
 * MODULES
 *************************************/





 /*************************************
 * TYPOGRPAHY
 *************************************/ 
.slide-subchapter-body-txt,
.slide-subchapter-body-txt p{
	font-size: 1.25rem; 
}

.module-text{
	max-width: 55ch;
}

.slide-subchapter-date-txt,
.asset-module-quote-txt{
	font-size: 2rem;
}
