<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="nuremberg-trials" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/659.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/660.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/661.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/664.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">View of the judges' panel during testimony at the Nuremberg Trials</span>

                <br>
                <span class="milestone-caption-txt">Harvard Law School Library, Harvard University</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Nuremberg trials</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">November 20, 1945</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The Nuremberg Trials were two sets of trials of Nazis involved in crimes against humanity committed during the Holocaust of World War II. The first, entitled the Trial of the Major War Criminals, was held before the International Military Tribunal and the second was conducted at the U.S. Nuremberg Military Tribunals.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>