{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    <div class="video-view">
                        <div class="video-container"></div>                      
                    </div>
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt"><i>Winning the Presidency, 1952 - Daring All For Our Country</i>, E-Memorial Pivotal Moment Film</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer pivotal moment"></div>

            <h4 class="milestone-super-title-txt pivotal moment xs-mt-10">pivotal moment</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Announces Candidacy for GOP Presidential Nomination</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">June 4, 1952</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Eisenhower declared his candidacy for the Republican Party nomination for president in his hometown of Abilene, Kansas. The contest for the Republican nomination between Eisenhower and Senator Robert A. Taft of Ohio was a close race, but Eisenhower won the nomination based largely on the belief that he would be better for Cold War America with his focus on internationalism versus Taft’s isolationist stance.</p>
</div>
            

            
            
            
            <div class="sponsor">
                
                <img src="/modules/custom/ike_timeline/src/static/img/assets/1134.png" width="" height="">
                
                
                <p class="sponsor-txt">
                    Made possible with the generous donation provided by The J. Willard and Alice S. Marriott Foundation
                </p>
                
            </div>
            

            
            <a href="https://emcteaching.s3.amazonaws.com/Announces_Candidacy_for_GOP_Presidential_Nomination.zip" download>
                <div class="padding-btn milestone-download-btn xs-mt-20 xs-mb-10">
                    <div class="download-icon"></div>
                    
                    <div class="download-icon-hover"></div>
                   
                    <span class="button-txt">download lesson plans</span>               
                </div>
            </a>
                  
             
            
            <a href="http://eisenhowermemorial.gov/experience/#/winning_the_presidency" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        explore pivotal moment
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev pivotal moment">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}