<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="nuclear-non-proliferation-treaty" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1156.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1157.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1158.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1161.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Air Force file photo of the first launch of a Trident missile, January 18, 1977, Cape Canaveral, Florida</span>

                <br>
                <span class="milestone-caption-txt">Naval Historical Center</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Nuclear Non-Proliferation Treaty</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">July 1, 1968</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The Non-Proliferation Treaty is an international agreement with the objective of preventing the spread of nuclear weapons, promoting cooperation in peaceful uses of nuclear energy and the goal of eventual complete nuclear disarmament. Signed by some of the world's major nuclear and non-nuclear powers including the Soviet Union and the United States, the treaty codified many of the ideals envisioned by Eisenhower.  For example, all signatories agreed to report to oversight by the International Atomic Energy Agency, which was created in response to Eisenhower's 1953 "Atoms for Peace" speech.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>