<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="eisenhower-doctrine" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/309.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/310.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/311.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/314.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">"Any Route Figured Out?" political cartoon on Eisenhower Doctrine</span>

                <br>
                <span class="milestone-caption-txt">The State Historical Society of Missouri</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Eisenhower Doctrine</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 5, 1957</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower outlined what would become known as the Eisenhower Doctrine in a speech to Congress. It stated that a Middle Eastern country could request American economic or military assistance if it was being threatened by armed aggression from another state.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>