<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="chosen-as-NATO-SACEUR" data-mediatype="video" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1105.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1106.png" data-pivotalmomentlink="http://eisenhowermemorial.gov/experience/#/nato" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="video-view">
                        <div class="video-container"></div>

                        <div class="fullscreen-wrapper">
                            <div class="fullscreen-icon"></div>
                        </div>
                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt"><i>NATO, 1951 - A Coalition United For Peace</i>, E-Memorial Pivotal Moment Film</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">pivotal moment</h4>

            <h1 class="milestone-title-txt xs-mb-5">Chosen as NATO’s SACEUR</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">December 19, 1950</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower's reputation and status as a world leader made him the first choice to be the Supreme Allied Commander, Europe (SACEUR) of the newly formed North Atlantic Treaty Organization (NATO). No other person had the qualifications and experience leading and managing forces and personalities across such a wide range of interests during Cold War tensions.</p>
</div>



            <div class="sponsor">

                <img src="/modules/custom/ike_timeline/src/static/img/assets/1107.png" width="" height="">


                <p class="sponsor-txt">
                    Made possible with the generous donation provided by The Starr Foundation, Maurice R. Greenberg, Chairman
                </p>

            </div>



            <a href="https://eisenhower-ike.s3-us-west-2.amazonaws.com/Chosen_as_NATO_8217_s_SACEUR.zip" download>
                <div class="padding-btn milestone-download-btn xs-mb-10">
                    <div class="download-icon"></div>

                    <div class="download-icon-hover"></div>

                    <span class="button-txt">download lesson plans</span>
                </div>
            </a>



            <a href="/experience/#/nato" class="padding-btn milestone-explore-btn" target="_blank">
                <div class="explore-icon"></div>

                <div class="explore-icon-hover"></div>

                <span class="button-txt">

                        explore pivotal moment

                </span>
            </a>


        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>
