{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">



                        <div class="full-width">
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/194.png">
                        </div>


            </div>

            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Cover of <i>The Secretary of State</i> by the American Assembly</span>

                <br>
                <span class="milestone-caption-txt">University of Michigan</span>

            </div>

        </div>
        <div class="milestone-text">




            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mt-20">American Assembly at Columbia University</h1>

            <h2 class="milestone-timespan-txt xs-mt-15">October 2, 1950</h2>


            <div class="milestone-body-txt xs-mt-30">
<p>While president of Columbia University, Eisenhower founded the American Assembly, a public policy institute to foster non-partisan discussions through meetings, research and publications. The organization’s home was at Arden House, a conference center owned by Columbia University and seen in the logo in the image.</p>
</div>









            <a href="https://www.eisenhowerfoundation.net/legacy#5767f78654cdbf2b8e4741cd" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>

                <div class="explore-icon-hover"></div>

                <span class="button-txt">

                        Click here to learn more about The American Assembly

                </span>
            </a>



        </div>
    </div>

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>

        <div class="milestone-next clearfix">
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>

</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}
