<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="operation-overlord-preparation" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/161.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/162.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/163.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/166.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Panoramic view of supplies being brought ashore for Allied troops</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary, ID: 71-243</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Operation Overlord preparation</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">February - June, 1944</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Operation Overlord was the code name for the invasion of northwestern Europe to establish an Allied foothold on the continent. The invasion involved the complex planning of the United States, Great Britain, Canada, and other allies under the command of General Eisenhower to bring all of their land, sea, and air forces to work together in an effective way.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>