<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="emmett-till-murdered" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/820.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/821.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/822.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/825.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Street rally in New York City under joint sponsorship of NAACP and Retail, Wholesale and Department Store Workers Union (District 65) in protest of the slaying of Emmett Till</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: cph 3c21590</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Emmett Till murdered</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">August 28, 1955</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Emmett Till, a fourteen year-old African-American boy, was murdered in Mississippi after reportedly flirting with a white woman. Two white men were indicted in the case, but not found guilty. Media attention was intense both nationally and internationally with Till’s case becoming emblematic of the disparity of justice for blacks in the South.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>