<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="closing-of-the-american-frontier" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1111.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1112.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1113.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1116.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Frederick Jackson Turner</span>

                <br>
                <span class="milestone-caption-txt"><em>The World's Work</em>, 1902</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Closing of the American Frontier</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 1, 1890</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Based on data gathered from the 1890 United States Census, the Superintendent of the Census declared that the American frontier no longer existed. Historian Frederick Jackson Turner presented his “frontier thesis” at the World’s Columbian Exposition in Chicago on July 12, 1893. Turner believed that westward expansion was the most important factor in American history, but by 1890 there was no longer any unclaimed land left in the United States. Turner stated that the closing of the frontier signified the end of the “first period of American history.”</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>