{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/385.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Dwight and Mamie Eisenhower</span>
                
                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower LIbrary, ID: 65-766-1</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Retires to Gettysburg farm</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">January 20, 1961</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Dwight and Mamie retired to the farm at Gettysburg, Pennsylvania, adjacent to the Civil War battlefield. After a lifetime of transient military service this was the Eisenhowers' first and only permanent home, which they purchased in 1950. Eisenhower first became familiar with the area in 1915 when his West Point class visited to study the battlefield and later was appointed commander at Camp Colt during World War I. Today the U.S. National Park Service operates the farm as the Eisenhower National Historic Site.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}