<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="serves-under-general-macarthur" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/133.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/134.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/135.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/138.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">General MacArthur and Major Eisenhower reviewing a parade in the Philippines</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary, ID: 77-18-20</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Serves Under General MacArthur</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 1933 - December 1939</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower was chosen as military aide to Chief of Staff General Douglas MacArthur. From 1935-1939, MacArthur and Eisenhower served as military advisors to the government of the Philippines. In many ways, Eisenhower’s duties were as much diplomatic as they were military, and involved frequent coordination with the American High Commissioner and the government of the Philippines.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>