{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/847.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Hungarian Revolution of 1956 Memorial near Parliament Building in Budapest</span>
                
                <br>
                <span class="milestone-caption-txt">Wikimedia Commons</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Hungarian Revolution</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">October 23, 1956</h2>
            
            
            <div class="milestone-body-txt xs-mt-30"><p>The Hungarian Revolution of 1956 was a nationwide revolt against the government of the Hungarian People’s Republic and its Soviet-imposed policies. The uprising was one of many challenges to Soviet rule including that of Yugoslavia under the leadership of Josip Tito in 1948 and the East German Uprising of 1953.</p></div>
            

            
            
            

                  
             
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}