{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}


  <div class="nav-container">
  
    <div class="nav1 nav-about">
      <div class="nav1-wrapper">
        <a href="" class="nav1-item" id="aboutUsLink">
          <span>About Us</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>        
      <div class="dropdown" id="aboutUsDropdown" style="display: none">
        <a href="/page/about-foundation" class="nav2-item">About The Foundation</a>
        <a href="/resources/home" class="nav2-item">IKE Insight</a>
        <a href="https://www.eisenhowerlibrary.gov/" class="nav2-item" target="_blank">Eisenhower Presidential Library</a>
        <a href="/page/research-travel-grants" class="nav2-item">Research Travel Grants</a>
        <a href="/legacy" class="nav2-item">Legacy Organizations</a>
        {# <a href="/page/eisenhower-memorial" class="nav2-item in-progress">Eisenhower Memorial</a> #}
      </div>
    </div>

    <div class="nav1 nav-ikes-life">
      <div class="nav1-wrapper">
        <a href="" class="nav1-item" id="ikesLifeLink">
          <span>Ike's Life</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>
      <div class="dropdown" id="ikesLifeDropdown" style="display: none">
        <div class="nav2-section first">
          <a href="/page/ikes-life" class="nav2-item highlight">See All Eras</a>
          <a href="/ikes-life/boyhood" class="nav2-item" target="_blank">Boyhood</a>
          <a href="/ikes-life/west-point" class="nav2-item">West Point</a>
          <a href="/era/early-military" class="nav2-item">Early Military</a>
          <a href="/era/general" class="nav2-item">The General</a>
          <a href="/era/presidency" class="nav2-item">Presidency</a>
          <a href="/ikes-life/statesman" class="nav2-item">Statesman</a>
        </div>
        <div class="nav2-section">
          <a href="/timeline" class="nav2-item" target="_blank">Interactive Timeline</a>
          <a href="/experience" class="nav2-item" target="_blank">Pivotal Moments</a>
        </div>
      </div>
    </div>

    <div class="nav1 nav-edu">
      <div class="nav1-wrapper">
        <a href="/#" class="nav1-item" id="eduLink">
          <span>IKEducation</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>
      <div class="dropdown" id="eduDropdown" style="display: none">
        <a href="/education-home/ikeducation" class="nav2-item">Explore Education</a>
        <a href="/page/educators-guide" class="nav2-item">Educator's Guide</a>
        <a href="/page/virtual-classroom" class="nav2-item">IKE Online</a>
        {# <a href="/page/lesson-plans" class="nav2-item">Lesson Plans</a> #}
        <a href="/page/book-your-experience" class="nav2-item">Book Your Experience</a>
        {# <a href="/page/teachers-resources" class="nav2-item">Teacher's Resources</a> #}
        <a href="/page/primary-source-library" class="nav2-item">Primary Source Library</a>
      </div>
    </div>

    {# <div class="nav1">
      <a href="/page/ikes-soldiers" class="nav1-item">Ike's Soldiers</a>
    </div> #}

    <div class="nav1 nav-soldiers">
      <div class="nav1-wrapper">
        <a href="/#" class="nav1-item" id="soldiersLink">
          <span>Ike's Soldiers</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>
      <div class="dropdown" id="soldiersDropdown" style="display: none;">
        <a href="/page/ikes-soldiers" class="nav2-item">See Ike's Soldiers</a>
        <a href="/page/submit-soldier" class="nav2-item">Submit a Soldier</a>
      </div>
    </div>

    <div class="nav1 nav-visit">
      <div class="nav1-wrapper">
        <a href="/#" class="nav1-item" id="visitLink">
          <span>Plan Your Visit</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>
      <div class="dropdown" id="visitDropdown" style="display: none;">
        <a href="/page/hours-visit-details" class="nav2-item">Hours & Visit Details</a>
        <a href="/page/events" class="nav2-item">Events</a>
        <a href="/page/book-your-experience" class="nav2-item">Book Your Experience</a>
      </div>
    </div>

    <div class="nav1 nav-join">
      <div class="nav1-wrapper">
        <a href="/#" class="nav1-item" id="joinLink">
          <span>Join &amp; Give</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </a>
      </div>
      <div class="dropdown" id="joinDropdown" style="display: none;">
        <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E252963&id=4" class="nav2-item">Donate</a>
        <a href="/page/friends-foundation" class="nav2-item">Friends of the Foundation</a>
        <a href="/page/sponsors" class="nav2-item">Sponsors</a>
        <a href="/page/donor-wall" class="nav2-item">Donor Wall</a>
        <a href="/page/kansas-tax-credits" class="nav2-item">Kansas Tax Credits</a>
        <a href="/page/volunteer-eisenhower-foundation" class="nav2-item">Volunteer</a>
      </div>
    </div>
  </div>
 
{% endmacro %}
