{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}


  <div class="nav-container">
  
    <div class="nav1 nav-about">
      <a href="" class="nav1-item" id="aboutUsLink">About Us</a>
      <div class="dropdown" id="aboutUsDropdown" style="display: none">
        <a href="/page/about-foundation" class="nav2-item">About The Fondation</a>
        <a href="/resources/home" class="nav2-item">IKE Insights</a>
        <a href="https://www.eisenhowerlibrary.gov/" class="nav2-item" target="_blank">Eisenhower Presidential Library</a>
        <a href="/page/research-travel-grants" class="nav2-item">Research Travel Grants</a>
        <a href="" class="nav2-item in-progress">Legacy Organizations</a>
        <a href="/page/eisenhower-memorial" class="nav2-item in-progress">Eisenhower Memorial</a>
      </div>
    </div>

    <div class="nav1">
      <a href="/page/ikes-life" class="nav1-item">Ike's Life</a>
      <div class="nav2">
        <a href="" class="nav2-item"></a>
      </div>
    </div>

    <div class="nav1 nav-edu">
      <a href="/#" class="nav1-item" id="eduLink">IKEducation</a>
      <div class="dropdown" id="eduDropdown" style="display: none">
        <a href="/education-home/ikeducation" class="nav2-item">Overview</a>
        <a href="/page/educators-guide" class="nav2-item">Educator's Guide</a>
        <a href="/page/lesson-plans" class="nav2-item">Lesson Plans</a>
        <a href="/page/book-your-experience" class="nav2-item">Book Your Experience</a>
        <a href="" class="nav2-item in-progress">Virtual Classroom</a>
        <a href="/page/research-travel-grants" class="nav2-item in-progress">Teacher's Resources</a>
      </div>
    </div>

    <div class="nav1">
      <a href="/page/ikes-soldiers" class="nav1-item">Ike's Solders</a>
    </div>
    <div class="nav1 nav-visit">
      <a href="/#" class="nav1-item" id="visitLink">Plan Your Visit</a>
      <div class="dropdown" id="visitDropdown" style="display: none;">
        <a href="/page/hours-visit-details" class="nav2-item">Hours & Visit Details</a>
        <a href="/page/events" class="nav2-item">Events</a>
        <a href="/page/book-your-experience" class="nav2-item in-progress">Book Your Experience</a>
      </div>
    </div>

    <div class="nav1">
      <a href="" class="nav1-item" id="joinLink">Join & Give</a>
      <div class="dropdown" id="joinDropdown">
        <a href="/page/hours-visit-details" class="nav2-item in-progress">Donate</a>
        <a href="/page/friends-foundation" class="nav2-item">Friends of the Foundation</a>
        <a href="/page/sponsors" class="nav2-item">Sponsors</a>
        <a href="/page/kansas-tax-credits" class="nav2-item">Kansas Tax Credits</a>
        <a href="/page/volunteer-eisenhower-foundation" class="nav2-item">Volunteer</a>
      </div>
    </div>
  </div>
 
{% endmacro %}
