
<!-- This file path:  
  /Users/websterjorgensen/Dev/ikemain/ike-drupal-ds4/web/themes/custom/iketheme/templates/navigation/menu--footer-nav.html.twig 
-->

{% import 'macros/menu-macros.html.twig' as menus %}


<div class="footer-container">
  <div class="footer-inner">

    <div class="footer-top">

      <div class="footer-info">
        <a class="logo" href="/">
          <img src="/sites/default/files/EF_New_transparent_0.png">
        </a>
        <div class="footer-info-item address">
          <p class="label-small">Address</p>
          <p>200 SE Fourth Street</p>
          <p>PO Box 295</p>
          <p>Abilene, KS 67410</p>
        </div>
        <div class="footer-info-item hours">
          <p class="label-small">Office Hours</p>
          <p>8 am - 5 pm</p>
        </div>
        <div class="footer-info-item phone">
          <p class="label-small">Phone</p>
          <p>785-280-9531</p>
        </div>
        <div class="footer-info-item social">
          <p class="label-small">Social</p>
          <div class="icons">
            <a href="https://www.facebook.com/eisenhowerfoundation" target="_blank">
              <i class="ri-facebook-fill"></i>
            </a>
            <a href="https://twitter.com/eisenhowerfound" target="_blank">
              <i class="ri-twitter-x-line"></i>
            </a>  
            <a href="https://www.youtube.com/user/EisenhowerMemorial" target="_blank">
              <i class="ri-youtube-fill"></i>
            </a>  
            <a href="https://www.instagram.com/eisenhowerfoundation/" target="_blank">
              <i class="ri-instagram-fill"></i>
            </a>  
          </div>
        </div>
      </div>

      {# <div class="footer-menu">
        {{ menus.menu_links(items, attributes, 0) }}
      </div> #}

    </div>

    <div class="footer-bottom">
      <div class="row1">
        <a href="/page/privacy-policy">Privacy Policy</a>
      </div>
      <div>
        <p class="label-small">© 2025 Eisenhower Foundation</p>
      </div>
    </div>

  </div>
</div>
