<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="8220farewell-address8221-to-the-nation" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/372.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/373.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/374.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/377.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Page 2 from Eisenhower's marked up reading copy of his "Farewell Address"
(Excerpts from Eisenhower's "Farewell Address" are inscribed on the memorial)</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower LIbrary</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">“Farewell Address” to the nation</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 17, 1961</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower gave his “Farewell Address” to the nation as president. This speech is known for Eisenhower’s warning about the corruption of the “military-industrial complex” - a term that Eisenhower introduced into political discourse - and the need for research to be conducted independent of special interests.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>