<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="earl-warren-supreme-court-nomination" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/244.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/245.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/246.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/249.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Earl Warren</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: cph 3a41979</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Earl Warren’s Supreme Court Nomination</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 11, 1954</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower nominated Earl Warren to become the 14th Chief Justice of the Supreme Court. The Warren Court would go on to become highly influential, deciding important Constitutional issues.  Noteworthy cases include: <em>Brown v. Board of Education</em> (1954), <em>Gideon v. Wainwright</em> (1963), <em>Griswold v. Connecticut</em> (1965), and <em>Miranda v. Arizona</em> (1966). </p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>