
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="paragraph-inner">
      {% block content %}
        <h2 class="heading-large">{{ content.field_heading_2 }}</h2>
        {{ content|without('field_heading_2') }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
