
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}

  <div class="body-quote">
    <div class="paragraph-inner">
      {% block content %}
        <div class="field--name-body">
          <blockquote>{{ content.field_text_quote|render|striptags }}</blockquote>
          <p class="attribution">{{ '--' ~ content.field_quote_attribution|render|striptags }}</p>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
