
{%
  set classes = [
    'content-wrapper',
    'flex-container',
    paragraph.field_image_position.value == 'image_right' ? 'imageRight' : 'imageLeft'
  ]
%}

<div class="paragraph--type--body-text">
  <div class="paragraph-inner">
    <div class="text-container">
      {% if content.field_heading_2|render|striptags is not empty %}
        <h2 class="field-text heading-large">{{ content.field_heading_2|render|striptags|raw  }}</h2>
      {% endif %}
      <div class="field-text">{{ content.field_text }}</div>
    </div>
  </div>
</div>
