
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div class="donate-button">
  <div class="block-inner">
    <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E252963&id=4">Donate</a>
  </div>
</div>
