<div id="block-iketheme-formforemaillist" class="contextual-region block block-block-content subscription-form education-form">
  <div class="block-inner">
    
    <div class="text-container">
      <div class="field field--name-field-form-title label-medium">
        Subscribe To Education Updates
      </div>

      <div class="heading-large">
        Get Updates About Our Education Programs Delivered To Your Inbox
      </div>

      <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div class="field-inner">
          <p class="body-medium">Enter your information below to receive emails about foundation news and upcoming events.</p>
        </div>
      </div>
    </div>

    {# Render the Webform using Drupal's `content` variable #}
    <div class="form-container">
      {{ content }}
    </div>

  </div>
</div>
