<div id="mobile-nav-container" class="mobile-nav-container">

  <div class="menu-header">
    <div class="menu-logo">
      <img src="/sites/default/files/EF_New_transparent_0.png" alt="Logo" />
    </div>
    <div class="menu-close">
      <a href="/#" onClick="toggleMenu(event)">
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#0F1729"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="nav1 nav-about-mobile">
    <a href="/#" class="lvl1 dropdown-trigger" id="aboutUsLinkMobile">
      <div class="label">About Us</div>
      <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Vector" d="M19 9L12 16L5 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <div class="accordionToggle" id="aboutUsAccordionToggle">
      <a href="/page/about-foundation" class="nav2-item">About The Foundation</a>
      <a href="/resources/home" class="nav2-item">IKE Insights</a>
      <a href="https://www.eisenhowerlibrary.gov/" class="nav2-item" target="_blank">Eisenhower Presidential Library</a>
      <a href="/page/research-travel-grants" class="nav2-item">Research Travel Grants</a>
      <a href="" class="nav2-item in-progress">Legacy Organizations</a>
      <a href="/page/eisenhower-memorial" class="nav2-item in-progress">Eisenhower Memorial</a>
    </div>
  </div>

  <div class="nav1">
    <a href="/page/ikes-life" class="lvl1">Ike's Life</a>
  </div>

  <div class="nav1 nav-edu-mobile">
    <a href="/#" class="lvl1 dropdown-trigger" id="eduLinkMobile">
      <div class="label">IKEducation</div>
      <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Vector" d="M19 9L12 16L5 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <div class="accordionToggle" id="eduAccordionToggle">
      <a href="/education-home/ikeducation" class="nav2-item">Overview</a>
      <a href="/page/educators-guide" class="nav2-item">Educator's Guide</a>
      <a href="/page/lesson-plans" class="nav2-item">Lesson Plans</a>
      <a href="/page/book-your-experience" class="nav2-item">Book Your Experience</a>
      <a href="/page/virtual-classroom" class="nav2-item">Virtual Classroom</a>
      <a href="/page/teachers-resources" class="nav2-item">Teacher's Resources</a>
      <a href="/page/primary-source-library" class="nav2-item">Primary Source Library</a>
    </div>
  </div>

  <div class="nav1">
    <a href="/page/ikes-soldiers" class="lvl1">Ike's Soldiers</a>
  </div>

  <div class="nav1 nav-visit-mobile">
    <a href="/#" class="lvl1 dropdown-trigger" id="visitLinkMobile">
      <div class="label">Plan Your Visit</div>
      <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Vector" d="M19 9L12 16L5 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <div class="accordionToggle" id="visitAccordionToggle">
      <a href="/page/hours-visit-details" class="nav2-item">Hours & Visit Details</a>
      <a href="/page/events" class="nav2-item">Events</a>
      <a href="/page/book-your-experience" class="nav2-item">Book Your Experience</a>
    </div>
  </div>

  <div class="nav1 nav-join-mobile">
    <a href="/#" class="lvl1 dropdown-trigger" id="joinLinkMobile">
      <div class="label">Join and Give</div>
      <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Vector" d="M19 9L12 16L5 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <div class="accordionToggle" id="joinAccordionToggle">
      <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E252963&id=4" class="nav2-item in-progress">Donate</a>
      <a href="/page/friends-foundation" class="nav2-item">Friends of the Foundation</a>
      <a href="/page/sponsors" class="nav2-item">Sponsors</a>
      <a href="/page/donor-wall" class="nav2-item">Donor Wall</a>
      <a href="/page/kansas-tax-credits" class="nav2-item">Kansas Tax Credits</a>
      <a href="/page/volunteer-eisenhower-foundation" class="nav2-item">Volunteer</a>
    </div>
  </div>

</div>
