<div id="mobile-menu-2" class="mobile-menu">
  {# <div class="mobile-menu-2-header">
    <a href="/" class="mobile-logo">
      <img src="/sites/default/files/IKE-Logo-80-Alternative.jpg" alt="Logo">
    </a>
    <button class="mobile-menu-2-close" onclick="closeMobileMenu()">✖</button>
  </div> #}

  <nav role="navigation" aria-labelledby="block-iketheme-mainnavigation2-2-menu">
    {{ content }}
    {{ dump(content) }}
  </nav>
</div>