<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="works-at-belle-springs-creamery" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/61.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/62.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/63.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/66.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Belle Springs Creamery</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library, ID: 64-483</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Works at Belle Springs Creamery</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">1909 -  1911</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower worked at the Belle Springs Creamery, and earned money to support his brother Edgar through two years of college at the University of Michigan. The brothers made a deal to take turns working to support each other through college.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>