<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="doud-dwight-is-born" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/974.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/975.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/976.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/979.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Doud "Icky" Dwight Eisenhower</span>

                <br>
                <span class="milestone-caption-txt">Eisenhower National Historic Site, ID: EISE 15817</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Doud Dwight is Born</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 24, 1917</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Doud “Icky” Dwight Eisenhower, the first child of Dwight and Mamie Eisenhower, was born in San Antonio, Texas. Doud caught scarlet fever in December 1920 and died on January 2, 1921.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>