<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="great-depression-begins" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/582.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/583.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/584.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/587.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Volunteers of America soup kitchen in Washington, DC</span>

                <br>
                <span class="milestone-caption-txt">Franklin D. Roosevelt Presidential Library, ID: 53227-(293)</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Great Depression begins</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">October 29, 1929</h2>



            <div class="milestone-body-txt xs-mb-36"><p>The Great Depression began in 1929 as stock prices began to fall. The stock market crashed on October 29, 1929, known as Black Tuesday. The crash set off a world-wide economic depression that lasted for years. In the United States unemployment rose to 25% and went even higher in some countries.</p></div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>