<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="establishment-of-nato-headquarters" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/195.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/196.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/197.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/200.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Opening day ceremonies of SHAPE headquarters</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Establishment of NATO headquarters</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 2, 1951</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Working with the various interests of the twelve initial member states of NATO required a deft touch and the creation of a functional organization was the crucial step in establishing Supreme Headquarters, Allied Powers Europe (SHAPE). Eisenhower used staff appointments to bind the member countries to their commitment to both NATO and SHAPE.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>