<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="rosa-parks-starts-the-montgomery-bus-boycott" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/827.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/828.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/829.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/832.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Rosa Parks with Dr. Martin Luther King, Jr.</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 306-PSD-65-1882</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Rosa Parks starts the Montgomery bus boycott</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">December 1, 1955</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Civil rights activist Rosa Parks refused to give up her seat to a white man on a bus in Montgomery, Alabama. Parks’ action sparked a movement and a legal challenge that led to the desegregation of city buses.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>