<div class="subtheme-view subtheme-button" data-nid="{{= nid }}">
	<div class="subtheme-frame">
		{{ if(thumbnail){ }}
		<div class="background"><img class="thumbnail" src="{{= thumbnail }}" alt="Eisenhower Thumbnail" /></div>
		{{ } }}
		<div class="decor frame-start"><!-- Decor frame for subtheme --></div>
		<div class="subtheme-content">
			<div class="title">{{= title }}</div>
			<img src="/modules/custom/ike_pivitol_moments/src/img/ui/watch_film_icon.png" class="icon is-hidden" alt="play icon" />
		</div>
		<div class="decor frame-end"><!-- Decor frame for subtheme --></div>
	</div>
</div>
