{# /Users/websterjorgensen/Dev/ikemain/ike-drupal-ds4/web/modules/custom/ike_pivitol_moments/src/partials/experience/_theme.tpl.html #}


<!-- <header class="header">
	<a class="link home" href="/">Dwight D.<br/>Eisenhower<br/>Memorial</a>
	<h1 class="title">{{= title }}</h1>
</header> -->
<section class="full-layer content">
	<section class="full-layer panorama-section">
		<!-- Add here parallax view component -->
	</section>
	
	<div class="vignette"><!-- CSS vignette --></div>
	
	<section class="full-layer theme-ui-section">
		<!-- Add here panorama ui view component -->
	</section>
	<section class="subthemes-section">
		<!-- Add here subthemes component -->
	</section>
	
	<section class="full-layer video-player-section">
		<!-- Add here video player component -->
	</section>
	<div class="error-message"><!-- Insert here error message if any -->
		<script type="text/html" id="flash-video-error-html">
			<p>Please <a href="http://get.adobe.com/flashplayer/" target="_blank">download and install the flash player</a> to play this video.</p>
		</script>
		<script type="text/html" id="flash-audio-error-html">
			<p>Please <a href="http://get.adobe.com/flashplayer/" target="_blank">download and install the flash player</a> to listen to the soundscape.</p>
		</script>
	</div>
</section>
