<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="the-chance-for-peace" data-mediatype="video" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1167.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1168.png" data-pivotalmomentlink="http://eisenhowermemorial.gov/experience/#/waging_peace" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="video-view">
                        <div class="video-container"></div>

                        <div class="fullscreen-wrapper">
                            <div class="fullscreen-icon"></div>
                        </div>
                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt"><i>Waging Peace, 1953 - Fighting To End All War</i>, <br>E-Memorial Pivotal Moment Film</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">pivotal moment</h4>

            <h1 class="milestone-title-txt xs-mb-5">“The Chance for Peace”</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 16, 1953</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Speaking three months into his presidency and in response to the recent death of Joseph Stalin, Eisenhower gave “The Chance for Peace” speech before the American Society of Newspaper Editors in Washington, DC. Eisenhower stressed the cost in terms of human effort and lives, as well as money, in continuing an aggressive arms race with the Soviet Union.</p>
</div>





            <a href="https://eisenhower-ike.s3-us-west-2.amazonaws.com/_8220_The_Chance_for_Peace_8221_.zip" download>
                <div class="padding-btn milestone-download-btn xs-mb-10">
                    <div class="download-icon"></div>

                    <div class="download-icon-hover"></div>

                    <span class="button-txt">download lesson plans</span>
                </div>
            </a>



            <a href="/experience/#/waging_peace" class="padding-btn milestone-explore-btn" target="_blank">
                <div class="explore-icon"></div>

                <div class="explore-icon-hover"></div>

                <span class="button-txt">

                        explore pivotal moment

                </span>
            </a>


        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>
