{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/413.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Reliance Building, Chicago, Illinois</span>
                
                <br>
                <span class="milestone-caption-txt">Historic American Buildings Survey, HABS ILL,16-CHIG,30--2</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Early Skyscrapers</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">1895</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Advances in building technology in the late nineteenth century made it possible to construct taller buildings without massive masonry foundations because of the invention of lighter steel frames and elevators. A key example is the Reliance Building in Chicago, built by the architectural firm of Burnham and Root. It was the first skyscraper to have large plate glass windows at each level of the building making the interior brighter and the exterior appear lighter.</p>
</div>
            

            
            
            

                  
             
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}