{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/686.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">The U.S. flag is lowered while the flag of the Philippines is raised during the Independence Day ceremony</span>
                
                <br>
                <span class="milestone-caption-txt">Republic of the Philippines Presidential Museum and Library</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">U.S. grants independence to Philippines</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">July 4, 1946</h2>
            
            
            <div class="milestone-body-txt xs-mt-30"><p>The United States of America and the Republic of the Philippines signed a Treaty of General Relations between the two governments on July 4, 1946. The treaty recognized the independence of the Republic of the Philippines and the relinquishment of American sovereignty over the Philippine Islands.</p></div>
            

            
            
            

                  
             
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}