<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="first-american-in-space" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1079.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1080.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1081.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1084.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Astronaut Alan B. Shepard, Jr., 1961</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 7430728</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">First American In space</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 5, 1961</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Alan Shepard became the first American to complete a suborbital space flight. Less than one month earlier, the Soviets had sent the first man into space, Yuri Gagarin.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>