{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/146.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Colonel George Barker, Lieutenant General Lesley J. McNair and Brigadier General Eisenhower studying situation maps,
Camp Polk, Louisiana, 1941</span>
                
                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary ID #64-57-6</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Louisiana Maneuvers</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">August 1941 - September 1941</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The 1941 Louisiana maneuvers, the largest ever conducted by the U.S. Army, allowed top military leaders to evaluate the rising crop of field grade officers, among them Eisenhower and Omar Bradley. Eisenhower, the chief of staff of the Third Army under Lt. General Walter Krueger at the time, distinguished himself.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}