{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/1162.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Air Force file photo of the first launch of a Trident missile, January 18, 1977, Cape Canaveral, Florida</span>
                
                <br>
                <span class="milestone-caption-txt">Naval Historical Center</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Nuclear Non-Proliferation Treaty</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">July 1, 1968</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The Non-Proliferation Treaty is an international agreement with the objective of preventing the spread of nuclear weapons, promoting cooperation in peaceful uses of nuclear energy and the goal of eventual complete nuclear disarmament. Signed by some of the world's major nuclear and non-nuclear powers including the Soviet Union and the United States, the treaty codified many of the ideals envisioned by Eisenhower.  For example, all signatories agreed to report to oversight by the International Atomic Energy Agency, which was created in response to Eisenhower's 1953 "Atoms for Peace" speech.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}