{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/132.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Major Eisenhower</span>
                
                <br>
                <span class="milestone-caption-txt">Eisenhower National Historic Site, ID: ENHS 1019</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Attends U.S. Army War College</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">August 27, 1927 - June 30, 1928</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The centerpiece of Eisenhower’s time at the Army War College (then located at Greenleaf’s Point in Washington, DC) was a research paper titled, “An Enlisted Reserve for the Regular Army.” Eisenhower’s report highlighted his views on the need for increased ready reserve forces in case of the outbreak of war, despite the nation’s overall isolationist stance.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}