{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/1155.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">The Officers of the War Plans Division in Washington, DC, from left to right: Col. W. K. Harrison, Col. Lee S. Gerow, Brig. Gen. Robert W. Crawford, Brig. Gen. Dwight D. Eisenhower, Brig. Gen. Leonard T. Gerow, Chief, Col. Thomas T. Handy, Col. Stephen H. Sherrill.</span>
                
                <br>
                <span class="milestone-caption-txt">U.S. Army</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer eisenhower"></div>

            <h4 class="milestone-super-title-txt eisenhower xs-mt-10">eisenhower</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Serves on General Staff</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">December 14, 1941 - June 23, 1942</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Following the bombing of Pearl Harbor, Eisenhower joined the War Department in Washington, DC, where Army Chief of Staff General George Marshall appointed him Deputy Chief for the Pacific and Far East.  During this time Eisenhower was promoted to Major General.  On June 23, 1942, Eisenhower departed Washington for England to assume command of the European Theater of Operations.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev eisenhower">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}