<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="assassination-of-archduke-franz-ferdinand" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1118.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1119.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1120.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1123.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Archduke Ferdinand and his wife shortly before their assassination by Gavrilo Princip</span>

                <br>
                <span class="milestone-caption-txt">Imperial War Museums, U.K., Catalog number: Q 79761</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Assassination of Archduke Franz Ferdinand</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 28, 1914</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The assassination of Archduke Franz Ferdinand of Austria-Hungary and his wife, Sophie, by a Serbian nationalist during a visit to Sarajevo sparked already existing tensions in Europe. Austria-Hungary issued an ultimatum to the Kingdom of Serbia. After Serbia rejected most of the demands, Austria-Hungary declared war, drawing much of Europe, and eventually the United States, into the conflict.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>