<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="state-of-alaska-enters-the-union" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/995.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/996.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/997.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1000.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Unfurling the new 49-star flag</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential Library, ID: 72-2933-2</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">State of Alaska enters the Union</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 3, 1959</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower and Congress approved Alaska as the forty-ninth state.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>