<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="visit-with-president-kennedy-at-camp-david" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/386.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/387.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/388.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/391.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">President John F. Kennedy and former President General Dwight D. Eisenhower meet at Camp David</span>

                <br>
                <span class="milestone-caption-txt">John F. Kennedy Library, Accession Number AR6533-B</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Visit with President Kennedy at Camp David</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 22, 1961</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower met with President John F. Kennedy at Camp David to discuss the failings of the Bay of Pigs invasion. In his 50th visit to the presidential retreat, the former president on this occassion took on the role of counselor-in-chief, lending his military expertise and firsthand knowledge of the challenges of the presidency to help the new president manage the debacle and ensure it would not be repeated.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>