<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="berlin-airlift" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/701.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/702.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/703.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/706.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Berliners watching a C-54 land at Berlin Tempelhof Airport</span>

                <br>
                <span class="milestone-caption-txt">United States Air Force Historical Research Agency via Cees Steijger (1991), "A History of USAFE", Voyageur, ISBN: 1853100757, ID: 070119-F-0000R-101</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Berlin Airlift</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 26, 1948</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The first Berlin crisis of the Cold War began when Soviet forces blockaded rail, road and water access to areas of Berlin controlled by the Allies since the end of World War II. The United States and United Kingdom responded by airlifting food and fuel to Berlin from Allied air bases in western Germany.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>