<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="first-mcdonald8217s" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/806.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/807.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/808.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/811.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">McDonald's store #1 located west of Chicago, Illinois</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: 2011631143</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">First McDonald’s</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 15, 1955</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Ray Kroc opened the first McDonald’s with the now iconic golden arches in Des Plaines, Illinois. Kroc’s business model was to build a fast food hamburger restaurant system that would be famous for providing food of consistently high quality that tasted just the same in Alaska as it did in Alabama.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>