<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="ve-day" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/624.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/625.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/626.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/629.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Top: German officers sign unconditional surrender, Reims, France;
Bottom: Allied force leaders at the signing</span>

                <br>
                <span class="milestone-caption-txt">Franklin D. Roosevelt Presidential Library, ID: 195337</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">VE day</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 8, 1945</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Victory in Europe Day commemorates the formal acceptance by the Allies of Nazi Germany’s unconditional surrender.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>