<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="8220iron-curtain8221-speech" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/673.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/674.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/675.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/678.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">President Truman at Churchill's Iron Curtain Speech</span>

                <br>
                <span class="milestone-caption-txt">Harry S. Truman LIbrary and Museum, ID: 59-1101</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">“Iron Curtain” speech</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">March 5, 1946</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Winston Churchill, the former prime minister of the United Kingdom, delivered a speech at Westminster College in Fulton, Missouri, that is considered to mark the beginning of the Cold War. Churchill warned of the consequences of Soviet aggression that was dividing the West from the Eastern bloc nations, saying, “From Stettin in the Baltic to Trieste in the Adriatic, an iron curtain has descended across the Continent.”</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>