/*!* extra.css *!*/
.top-nav-desktop-left {
  height: 50px;
}

.site-logo {
  float: left;
  z-index: 1;
}

.site-logo img {
  margin: 1rem;
  background-color: #fff;
}

.site-logo img {
  height: 75px;
  width: 75px;
  transition: all 500ms ease-in-out;
}

/* Credits */

.about-section.closed {
  display: none;
}

.about-section.open {
  display: block;
}

.about-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-section .about-box {
  position: absolute;
  top: 3em;
  bottom: 4em;
  left: 20%;
  right: 20%;
  background: black;
  color: white;
  font-size: 1em;
  font-family: "freight-text-pro", Georgia, serif;
  line-height: 1.5;
  padding: 4em 1.5em 2em 2.5em;
}

.about-section .about-box .about-title {
  position: absolute;
  top: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "proxima-nova", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}

.about-section .about-box .about-content {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.about-section .close-button {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: 1em;
  right: 1em;
}

.about-section .close-button:hover {
  cursor: pointer;
}

.about-section .full-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-section .full-layer.background {
  background: black;
  opacity: 0.6;
}

/* Footer Tweaks */

.site-content {
  height: calc(100vh - 80px);
}

/* Mobile Styles */

.mobile-credits-box {
  max-width: 75vw;
  margin: 0 auto 3rem auto;
  max-height: 30rem;
  overflow: auto;
  background-color: #8ac9cf;
  border-radius: 0.5rem;
}

.mobile-credits-box .citations {
  color: #161a25;
}

.mobile-credits-box.closed {
  display: none;
}


.is-device .top-nav-open .top-nav-menu-container>.top-nav-menu-items {
  margin-bottom: 25px;
}

.top-nav-desktop-left {
  display: flex;
  align-items: center;
}

.vertical-divider {
  width: 1px;
  height: 11px;
  display: inline-block;
  margin: 0 10px;
  border-left: 2px solid #81c0c6;
}

.lg-ml-5 {
  margin-left: 5px;
}

.top-nav-desktop-left {
  margin-left: 20px;
}
