<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="salk-vaccine-released-to-public" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1065.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1066.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1067.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1070.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Dr. Jonas Salk with his presidential citation presented by Eisenhower in recognition of his extraordinary achievement, April 22, 1955</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary, ID: 72-1322-4</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Salk vaccine released to public</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 12, 1955</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Dr. Jonas Salk developed the first effective polio vaccine in 1952, providing protection from one of the most feared public health problems in the world. The newly created Department of Health, Education and Welfare approved the vaccine for public release in 1955.  Deaths attributed to polio declined by 50% in the first year of inocluation.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>