<header class="top-nav">
  <div class="top-nav-desktop">
    <div class="top-nav-desktop-left">

      {# EF3-101 - Remove Logo #}
{#      <a class="site-logo" href="/">#}
{#        <img src="/modules/custom/ike_legacy_organizations/src/static/img/svg/logo.svg">#}
{#      </a>#}

      <a href="/" class="top-nav-txt legacy-org">Eisenhower Foundation</a>

      <div class="vertical-divider"></div>

      <a href="#timeline-intro" class="top-nav-txt legacy-org active">Legacy Organizations</a>

      <div class="vertical-divider"></div>

      <a href="/ikeducation/virtual-classroom" class="top-nav-txt">Virtual Classroom</a>
    </div>

{#    <div class="top-nav-desktop-right">#}
{#      <div class="top-nav-share-icon"></div>#}

{#      <a href="http://www.eisenhowermemorial.gov/#/credits" target="_blank">#}
{#        <span class="top-nav-txt lg-mr-17">Credits</span>#}
{#      </a>#}

{#      <!-- SHARE-->#}
{#      <div class="sharing-list is-invisible">#}
{#        <a class="sharing-item email">#}
{#          <span class="sharing-label-txt">Email</span>#}

{#          <div class="header-icon mail-icon"></div>#}
{#        </a>#}
{#        <a class="sharing-item facebook">#}
{#          <span class="sharing-label-txt">Facebook</span>#}

{#          <div class="header-icon facebook-icon"></div>#}
{#        </a>#}
{#        <a class="sharing-item twitter">#}
{#          <span class="sharing-label-txt">Twitter</span>#}

{#          <div class="header-icon twitter-icon"></div>#}
{#        </a>#}
{#        <a class="sharing-item googleplus">#}
{#          <span class="sharing-label-txt">Google+</span>#}

{#          <div class="header-icon google-icon"></div>#}
{#        </a>#}
{#      </div>#}
{#      <!-- END SHARE-->#}
{#    </div>#}
  </div>

  <div class="top-nav-mobile">
    <div class="top-nav-mobile-left">
      <div class="hamburger hamburger-icon"></div>

      <!-- <span class="top-nav-txt">Dwight D. Eisenhower Memorial</span> -->
      <div class="mobile-left-text">
      <a href="#timeline-intro" class="top-nav-txt legacy-org">Legacy Organizations</a>

      <div class="vertical-divider"></div>

      <a href="/ikeducation/virtual-classroom" class="top-nav-txt">Virtual Classroom</a>
      </div>
    </div>

    <div class="top-nav-desktop-right">

      <a href="/" target="_blank">
        <span class="top-nav-txt xs-mr-17">Home</span>
      </a>
      <!-- <a href="#" class="top-nav-txt lg-mr-17">Media Archive</a> -->
    </div>
  </div>
</header>
