<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="elvis-drafted-into-the-us-army" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/855.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/856.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/857.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/860.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Letter from Linda Kelly, Sherry Bane, and Mickie Mattson to President Eisenhower regarding Elvis Presley</span>

                <br>
                <span class="milestone-caption-txt">White House Central Files/Eisenhower Administration</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Elvis drafted into the U.S. Army</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">March 24, 1958</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Elvis Presley was at the height of his singing career when he was drafted into the U.S. Army. As a celebrity figure, Presley's willingness to enlist in the armed forces set an example for young Americans.  He served in Company D, 32nd Tank Battalion, 3rd Armor Corps in Friedberg, Germany where he obtained the rank of sergeant.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>