<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="atomic-bomb-dropped-on-japan" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/638.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/639.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/640.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/643.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Nuclear weapons test on Bikini Atoll</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, 2012648160</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Atomic bomb dropped on Japan</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">August 6, 1945</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>On August 6, 1945, an atomic bomb named “Little Boy” was detonated over Hiroshima, Japan. Three days later a second bomb known as “Fat Man” was dropped on Nagasaki, Japan. The two bombs killed more than 100,000 people and they remain the only instances of the use of nuclear weapons in warfare.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>