<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="american-assembly-at-columbia-university" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/188.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/189.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/190.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/193.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Cover of <i>The Secretary of State</i> by the American Assembly</span>

                <br>
                <span class="milestone-caption-txt">University of Michigan</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">American Assembly at Columbia University</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">October 2, 1950</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>While president of Columbia University, Eisenhower founded the American Assembly, a public policy institute to foster non-partisan discussions through meetings, research and publications. The organization’s home was at Arden House, a conference center owned by Columbia University and seen in the logo in the image.</p>
</div>







            <a href="https://www.eisenhowerfoundation.net/legacy#5767f78654cdbf2b8e4741cd" class="padding-btn milestone-explore-btn" target="_blank">
                <div class="explore-icon"></div>

                <div class="explore-icon-hover"></div>

                <span class="button-txt">

                        Click here to learn more about The American Assembly

                </span>
            </a>


        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>
