<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="watson-and-crick-discover-dna" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/771.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/772.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/773.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/776.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Double-stranded DNA helix</span>

                <br>
                <span class="milestone-caption-txt">U.S. Department of Energy</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Watson and Crick Discover DNA</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">April 25, 1953</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>“Molecular Structure of Nucleic Acids: A Structure for Deoxyribose Nucleic Acid” was an article published by Francis Crick and James D. Watson in the journal <em>Nature</em>. It was the first publication to describe the discovery of the double helix structure of DNA using X-ray infraction.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>