<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="potter-stewart-supreme-court-nomination" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1002.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1003.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1004.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1007.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Potter Stewart, January 28, 1976</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: 2002721286</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Potter Stewart’s Supreme Court Nomination</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 17, 1959</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower formally nominated Potter Stewart for Associate Justice of the Supreme Court. Stewart served until 1981, offering strong opinions in noteworthy cases such as: <em>Mapp v. Ohio </em>(1961), M<em>iranda v. Arizona </em>(1966) and <em>Roe v. Wade </em>(1973).</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>