<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="wwi-begins" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/477.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/478.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/479.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/482.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Company E, 314th Engineers, 89th Division, making rolling barbed wire entanglements</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 285377</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">WWI Begins</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">July 28, 1914</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>World War I, also known as the Great War, was an international conflict between the Allies: Great Britain, France, and Russia and the Central Powers: Germany and Austria-Hungary.  World War I greatly changed the nature of warfare with a new emphasis on mass-produced materials and the use of improved artillery, tanks, and submarines. Air power completely changed the way that war was fought.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>