<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="us-enters-wwii" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/603.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/604.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/605.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/608.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">United We Are Strong, United We Will Win Poster</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: cph 3g12529</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">U.S. enters WWII</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">December 8, 1941</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The day following the attack on Pearl Harbor, President Roosevelt gave one of his most famous speeches to the nation, “Yesterday, December 7, 1941 - a date which will live in infamy - the United States was suddenly and deliberately attacked by the naval and air forces of the Empire of Japan.” With these words, Roosevelt asked Congress to declare war on Japan. Three days later war on Germany was declared as well.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>