<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="amelia-earhart8217s-solo-flight-across-the-atlantic" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1058.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1059.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/1060.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/1063.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Amelia Earhart sitting in the cockpit of an Electra airplane, December 15, 1937</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: 2011649482</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Amelia Earhart’s solo flight across the Atlantic</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 20, 1932</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Amelia Earhart, an American aviation pioneer and author from Eisenhower’s home state of Kansas, was the first female aviator to fly solo nonstop across the Atlantic Ocean.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>