{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/770.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Joseph Stalin, ca. 1942</span>
                
                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: owi2001045684/PP</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Stalin dies</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">March 5, 1953</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Joseph Stalin, leader of the Soviet Union from the mid-1920s until his death of natural causes in March 1953, held the post of the General secretary of the Central Committee of the Communist Party. Although his successor, Nikita Khrushchev, denounced Stalin after his death, it did not bring about a thaw in Cold War relations. Khrushchev remained committed to the belief that communism would triumph over capitalism.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}