{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/574.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">First-nighters posing for the camera outside the Warners' Theater in New York City before the premiere of "Don Juan"</span>
                
                <br>
                <span class="milestone-caption-txt">U. S. National Archives and Records Administration, ID: 535750</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">First “Talkie” films</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">August 6, 1926</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The first full-length motion pictures with synchronized sound began to be produced in the mid-1920s and heralded the demise of silent films. Prior to this development, dialogue was shown on boards and music served as an accompaniment to the film. Among the first “talking” films were <em>Don Juan</em> with John Barrymore in 1926 and <em>The Jazz Singer</em> with Al Jolson in 1927.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}