{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/53.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">President Franklin D. Roosevelt signs the G.I. Bill in the Oval Office, with (L to R) Bennett “Champ” Clark, J. Hardin Peterson, John Rankin, Paul Cunningham, Edith N. Rogers, J.M. Sullivan, Walter George, John Stelle, Robert Wagner, (unknown) and Alben Barkley</span>
                
                <br>
                <span class="milestone-caption-txt">Franklin D. Roosevelt Presidential Library, ID: NPx 64-269</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">G.I. Bill of Rights</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">June 22, 1944</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The Servicemen’s Readjustment Act of 1944, known informally as the G.I. Bill, was a law that provided a range of benefits for returning World War II veterans. Benefits included low-interest mortgages and loans, tuition and living expenses to attend college, high school or vocational training, and a year of unemployment compensation.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}