<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="little-rock-nine-enters-central-high-school-with-the-support-of-101st-airborne" data-mediatype="video" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1101.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1102.png" data-pivotalmomentlink="http://eisenhowermemorial.gov/experience/#/little_rock" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="video-view">
                        <div class="video-container"></div>

                        <div class="fullscreen-wrapper">
                            <div class="fullscreen-icon"></div>
                        </div>
                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt"><i>Little Rock, 1957 – The Civil Rights Battleground</i>, <br>E-Memorial Pivotal Moment Film</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">pivotal moment</h4>

            <h1 class="milestone-title-txt xs-mb-5">Little Rock Nine enters Central HIgh School with the support of 101st Airborne</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 25, 1957</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower acts to enforce the rule of law by sending Federal troops into Little Rock, Arkansas, where a violent mob has prevented the integration of Central High School.</p>
</div>





            <a href="https://eisenhower-ike.s3-us-west-2.amazonaws.com/Little_Rock_Nine_enters_Central_HIgh_School_with_the_support_of_101st_Airborne.zip" download>
                <div class="padding-btn milestone-download-btn xs-mb-10">
                    <div class="download-icon"></div>

                    <div class="download-icon-hover"></div>

                    <span class="button-txt">download lesson plans</span>
                </div>
            </a>



            <a href="/experience/#/little_rock" class="padding-btn milestone-explore-btn" target="_blank">
                <div class="explore-icon"></div>

                <div class="explore-icon-hover"></div>

                <span class="button-txt">

                        explore pivotal moment

                </span>
            </a>


        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>
