<section class="contact-us">
	<h2 class="title">Contact Us</h2>
	<div class="form-container">
		<form method="post">
			<div class="field firstname">
				<span class="label">First Name</span>
				<input class="input" name="firstname" type="text" />
			</div>
			<div class="field lastname">
				<span class="label">Last Name</span>
				<input class="input" name="lastname" type="text" />
			</div>
			<div class="field email">
				<span class="label">Email Address</span>
				<input class="input" name="email" type="text" />
			</div>
			<div class="field subject">
				<span class="label">Subject</span>
				<input class="input" name="subject" type="text" />
			</div>
			<div class="field update">
				<input class="input checkbox" name="update" type="checkbox" />
				<span class="label">Receive updates and news on the Memorial and the Commission.</span>
			</div>
			<div class="field volunteer">
				<input class="input checkbox" name="volunteer" type="checkbox" />
				<span class="label">Volunteer your time or services to the Eisenhower Memorial Commission.</span>
			</div>
			<div class="field message">
				<span class="label">Message</span>
				<textarea class="input" name="message">
				</textarea>
			</div>
			<div class="field recaptcha">
				<!-- include recaptcha here -->
			</div>
			<a class="field button submit">Submit</a>
		</form>
	</div>
</section>
<section class="contact-info">
	<div class="contact-info-in">
		<h2 class="title">Contact Information</h2>
		<p class="address">
			Dwight D. Eisenhower Memorial Commission
			<br />
			1629 K Street NW
			<br />
			Suite 801
			<br />
			Washington, DC, 20006
			<br />
			T (202) 296-0004
			<br />
			F (202) 296-6464
		</p>
		<h2 class="title">Find Us Online</h2>
		<a href="http://twitter.com/#!/IStillLikeIke" target="_blank"><img class="icon" src="/static/img/icons/twitter.png" alt="Twitter Icon" /></a>
		<a href="http://www.facebook.com/pages/Dwight-D-Eisenhower-Memorial-Commission/123761077691404" target="_blank"><img class="icon" src="/static/img/icons/facebook.png" alt="Facebook Icon" /></a>
		<a href="http://www.youtube.com/user/EisenhowerMemorial" target="_blank"><img class="icon" src="/static/img/icons/youtube.png" alt="YouTube Icon" /></a>
	</div>
</section>
