<section class="credits">
	<h2 class="title">Credits</h2>
	<section class="section">
		<p class="section-content">
			<img src="/modules/custom/ike_pivitol_moments/src/img/logos/lp_logo.png" alt="Local Projects">
			<a class="link" href="http://www.localprojects.net" target="_blank">www.localprojects.net</a>
		</p>
	</section>
	<section class="section">
		<p class="section-content">
			<img src="/modules/custom/ike_pivitol_moments/src/img/logos/gehry_logo.png" alt="Gehry Partners, LLP">
			<a class="link" href="http://www.foga.com" target="_blank">www.foga.com</a>
		</p>
	</section>
	<section class="section">
		<p class="section-content">
			<img src="/modules/custom/ike_pivitol_moments/src/img/logos/camerapress.png" alt="Local Projects">
			<a class="link" href="http://www.camerapress.com" target="_blank">www.camerapress.com</a>
		</p>
	</section>
	<section class="section">
		<p class="section-content">
			The Estate of Yousuf Karsh
			<a class="link" href="http://www.karsh.org" target="_blank">www.karsh.org</a>
		</p>
	</section>
</section>
