<!--<div class="donate-wrapper">
	<div class="donate-header">
		<div class="donate-header-bkg">
			<video id="my-video" class="video" autoplay loop>
			  <source src="/static/video/EMC_Donor_Banner.mp4?_v=20190326" type="video/mp4">
			</video>
		</div>
		<div class="donate-header-text">
			<h2 class="donor-title-txt">Make a Contribution</h2>
			<p class="donor-subtitle-txt">Join us in honoring and celebrating Ike’s life and<br>legacy by memorializing him in our Nation’s capital.</p>
			<a href="https://www.pay.gov/paygov/forms/formInstance.html?agencyFormId=27119948" class="donate-btn donor-button-txt inverse" target="_blank">
				Donate at Pay.gov
			</a>  
			<a href="javascript:void(0);" id="payByCheck" class="donor-button-txt">or donate by check</a>
		</div>
	</div>

	<div class="donate-list">
		<h2 class="donor-title-txt">Donor Recognition</h2>
	</div>

 

</div>

-->

<div class="donate-wrapper">
    <div class="donate-header">
        <div class="donate-header-bkg">
            <video id="my-video" class="video" muted autoplay loop>
              <source src="/static/video/EMC_Donor_Banner.mp4" type="video/mp4">
            </video>
        </div>
        <div class="donate-header-text">
            <h2 class="donor-title-txt" style="font-size:35px;">Eisenhower Memorial<br><b>Opening Soon</b></h2>
            <div class="clock" style="margin:2em;"></div>
            <p class="donor-subtitle-txt">May 8, 2020<br>75th Anniversary of V-E Day</p>
            <!--<a href="https://www.pay.gov/paygov/forms/formInstance.html?agencyFormId=27119948" class="donate-btn donor-button-txt inverse" target="_blank">
                Donate at Pay.gov
            </a>
            <a href="javascript:void(0);" id="payByCheck" class="donor-button-txt">or donate by check</a>
    -->
    </div>
    </div>

    <div class="donate-list">
        <h2 class="donor-title-txt">Donor Recognition</h2>
    </div>
</div>

 
