<div class="ui link fullscreen-button">
	<a><img class="icon" src="/static/img/icons/fullscreen.png" alt="Fullscreen Icon" />Fullscreen</a>
</div>
<div class="ui fullscreen-overlay">
	<div class="overlay-background">
		<!-- Overlay background -->
	</div>
	<div class="sections">
		<!-- Add here image sections -->
	</div>
	<div class="sharing-box">
		<!-- Add here sharing component -->
	</div>
	<div class="thumbnail-grid">
		<!-- Add here thumbnails -->
	</div>
	<div class="sections-nav left">
		<a><img src="/static/img/ui/chevron_left.png" alt="Left Arrow" /></a>
	</div>
	<div class="sections-nav right">
		<a><img src="/static/img/ui/chevron_right.png" alt="Right Arrow" /></a>
	</div>
	<div class="link close-button">
		<a>Close</a><img class="icon" src="/static/img/ui/close.png" alt="Close Icon" />
	</div>
</div>
