<div class="donate">
	<section class="section">
		<h2 class="title">Make a Contribution</h2>
		<p class="text">
			Join us in honoring and celebrating Ike’s life and legacy by memorializing him in our Nation’s capital.
			<br />
			<br />
			The memorial is projected for completion in 2019, the 75th anniversary of D-Day. The American public is rallying together to help the Commission achieve a fundraising goal of $35 million from the private sector. We have a once-in-a-lifetime opportunity to make this vital memorial a reality. Today, we invite you to join us in recognizing a true American hero. Thank you for standing up and saying, “I Like Ike!”
		</p>
		<a class="button long" href="https://www.pay.gov/paygov/forms/formInstance.html?agencyFormId=27119948" target="_blank">Donate online at pay.gov</a>
	</section>
	<section class="section">
		<h2 class="title divider">
		<div class="ornament">
			<!-- ___ -->
		</div>
		<div class="text">
			or
		</div>
		<div class="ornament">
			<!-- ___ -->
		</div></h2>
		<p class="text">
			Checks payable to Dwight D. Eisenhower Memorial Commission can be mailed to:
		</p>
		<p class="text address">
			1629 K Street, N. W. Suite 801
			<br />
			Washington, D.C. 20006
			<br />
			Attn: Joyce Jacobson
		</p>
		<p class="text disclaimer">
			Donations are considered as gifts to the United States and are tax deductible under Section 170(c) of the United States Internal Revenue Code. Your donation will go directly into a separate Treasury Account specifically for the construction of the memorial
		</p>
		<p class="text">
			For additional information or questions, contact Joyce Jacobson: <a class="link" href="mailto:jjacobson@eisenhowermemorial.gov">jjacobson@eisenhowermemorial.gov</a>
		</p>
	</section>
</div>
<div class="actions">
	<div class="actions-in">	 
		<section class="section campaign">
			<h2 class="title">Donor Recognition</h2>
			<p>
				View the current list of Eisenhower Memorial donors.
			</p>
			<a class="button" href="https://s3.amazonaws.com/emc_media/misc/Donor%20List_150814.pdf" target="_blank">Download PDF</a>
		</section>
		<section class="section campaign">
			<h2 class="title">Campaign Materials</h2>
			<p>
				Download our complete donor documents.
			</p>
			<a class="button" href="https://s3.amazonaws.com/emc_media/misc/Donor%20Documents.pdf" target="_blank">Download PDF</a>
		</section>
		<section class="section update">
			<h2 class="title">Receive Updates</h2>
			<p>
				Receive progress updates on the Memorial and news about the Commission.
			</p>
			<a class="button" href="/content/contact-emc?updates=yes">Receive Updates</a>
		</section> 
		<section class="section find">
			<h2 class="title">Find Us Online</h2>
			<div class="links">
				<a href="http://twitter.com/#!/IStillLikeIke" target="_blank"><img class="icon" src="/static/img/icons/twitter.png" alt="Twitter Icon" /></a>
				<a href="http://www.facebook.com/pages/Dwight-D-Eisenhower-Memorial-Commission/123761077691404" target="_blank"><img class="icon" src="/static/img/icons/facebook.png" alt="Facebook Icon" /></a>
				<a href="http://www.youtube.com/user/EisenhowerMemorial" target="_blank"><img class="icon" src="/static/img/icons/youtube.png" alt="YouTube Icon" /></a>
			</div>
		</section>
	</div>
</div>
