<div class="ui link map-button">
	<a><img class="icon" src="/static/img/icons/map.png" alt="Map Icon" />View Map</a>
</div>
<div class="ui map-holder">
	<img class="map-image" src="" alt="Memorial Map Image">
	<img class="map-vignette" src="/static/img/main/image_vignette.png" />
	<img class="map-compass" src="/static/img/ui/compass.png" alt="Compass Image" />
	<div class="ui map-selectors">
		<!-- Insert pins here with class "map-selector"-->
	</div>
	<a class="link close-button"><img class="icon" src="/static/img/ui/close.png" alt="Close Icon" />Hide Map</a>
</div>
