<div class="full-layer check-view">
	<div class="full-layer background"></div>

	<div class="about-box donate-modal">
		<h2 class="about-title">Donate by check</h2>
		<div class="about-content"> 
			<p class="text">
				Checks payable to Dwight D. Eisenhower Memorial Commission can be mailed to:
			</p>
			<p class="text address">
				1629 K Street, N. W. Suite 801
				<br>
				Washington, D.C. 20006
				<br>
				Attn: Joyce Jacobson
			</p>
			<p class="text disclaimer">
				Donations are considered as gifts to the United States and are tax deductible under Section 170(c) of the United States Internal Revenue Code. Your donation will go directly into a separate Treasury Account specifically for the construction of the memorial
			</p>
			<p class="text">
				For additional information or questions, contact Joyce Jacobson: <a class="link" href="mailto:jjacobson@eisenhowermemorial.gov">jjacobson@eisenhowermemorial.gov</a>
			</p> 
		</div>
		<img src="/static/img/ui/close.png" alt="close button" class="close-button" />
	</div>
</div>