<div class="ui link sharing-button">
	<a><img class="icon" src="/modules/custom/ike_pivitol_moments/src/img/icons/share.png" alt="Sharing Icon" /><span class="label">Share</span></a>
</div>
<div class="ui sharing-list">
<!--	<a class="link sharing-item email"><img class="icon" src="/modules/custom/ike_pivitol_moments/src/img/icons/email.png" alt="Email Icon" /><span class="label">Email</span></a>-->
	<a class="link sharing-item facebook"><img class="icon" src="/modules/custom/ike_pivitol_moments/src/img/icons/facebook.png" alt="Facebook Icon" /><span class="label">Facebook</span></a>
	<a class="link sharing-item twitter"><img class="icon" src="/modules/custom/ike_pivitol_moments/src/img/icons/twitter.png" alt="Twitter Icon" /><span class="label">Twitter</span></a>
	<a class="link sharing-item youtube"><img class="icon" src="/modules/custom/ike_pivitol_moments/src/img/icons/youtube.png" alt="YouTube Icon" /><span class="label">YouTube</span></a>
</div>
