<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="us-military-desegregates" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/715.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/716.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/717.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/720.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">African-American and white soldiers during World War II</span>

                <br>
                <span class="milestone-caption-txt">Harry S. Truman Library &amp; Museum, ID: 72-3952</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">U.S. Military Desegregates</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">July 26, 1948</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>President Truman signed Executive Order 9981 on July 26, 1948, which declared, “that there shall be equality of treatment and opportunity for all persons in the armed services without regard to race, color, religion, or national origin.” However, it was during Eisenhower’s presidency that compliance in all branches of the military was achieved.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>