<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="korean-war-begins" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/729.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/730.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/731.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/734.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Honoring his famous "I Shall Go To Korea" campaign promise, President-elect Eisenhower reviews troops of the Republic of Korea's Capitol Division during his visit in December 1952</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary, ID: 77-18-867</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Korean War begins</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">June 25, 1950</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The Korean War arose from the division of Korea at the end of World War II and the global tensions of the Cold War that developed immediately afterwards. A United Nations force, led by the United States, fought for South Korea, and China, aided by the Soviet Union, fought for North Korea.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>