{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    
                        <div class="full-width"> 
                            <img src="/modules/custom/ike_timeline/src/static/img/assets/784.png">
                        </div>
                    
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt">Honoring his famous "I Shall Go To Korea" campaign promise, President-elect Eisenhower reviews troops of the Republic of Korea's Capitol Division during his visit in December 1952</span>
                
                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ID: 520995</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer history"></div>

            <h4 class="milestone-super-title-txt history xs-mt-10">history</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Korean War armistice</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">July 27, 1953</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>The Korean Armistice Agreement ended hostilities in the Korean War on July 27, 1953. Signed by representatives of United Nations Command and of North Korea, the armistice established the Korean Demilitarized Zone dividing North Korea and South Korea, formalized a cease-fire and finalized the repatriation of prisoners of war.</p>
</div>
            

            
            
            

                  
             
            
            <a href="" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev history">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}