{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    <div class="video-view">
                        <div class="video-container"></div>                      
                    </div>
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt"><i>NATO, 1951 - A Coalition United For Peace</i>, E-Memorial Pivotal Moment Film</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer pivotal moment"></div>

            <h4 class="milestone-super-title-txt pivotal moment xs-mt-10">pivotal moment</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Chosen as NATO’s SACEUR</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">December 19, 1950</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>Eisenhower's reputation and status as a world leader made him the first choice to be the Supreme Allied Commander, Europe (SACEUR) of the newly formed North Atlantic Treaty Organization (NATO). No other person had the qualifications and experience leading and managing forces and personalities across such a wide range of interests during Cold War tensions.</p>
</div>
            

            
            
            
            <div class="sponsor">
                
                <img src="/modules/custom/ike_timeline/src/static/img/assets/1110.png" width="" height="">
                
                
                <p class="sponsor-txt">
                    Made possible with the generous donation provided by The Starr Foundation, Maurice R. Greenberg, Chairman
                </p>
                
            </div>
            

            
            <a href="https://emcteaching.s3.amazonaws.com/Chosen_as_NATO_8217_s_SACEUR.zip" download>
                <div class="padding-btn milestone-download-btn xs-mt-20 xs-mb-10">
                    <div class="download-icon"></div>
                    
                    <div class="download-icon-hover"></div>
                   
                    <span class="button-txt">download lesson plans</span>               
                </div>
            </a>
                  
             
            
            <a href="http://eisenhowermemorial.gov/experience/#/nato" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        explore pivotal moment
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev pivotal moment">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}