{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header-mobile.html.twig" %}
{% endif %}<html><body><div class="milestone">
    <div class="milestone-content">
        <div class="milestone-image">
            <div class="milestone-image-wrapper xs-mb-15">  
 
                
                    <div class="video-view">
                        <div class="video-container"></div>                      
                    </div>
                
            </div>
            
            <div class="milestone-image-caption xs-mb-15">
                <span class="milestone-caption-txt"><i>West Point, 1911 – A Life in Service to His Country</i>, E-Memorial Pivotal Moment Film</span>
                
            </div> 
            
        </div>
        <div class="milestone-text">
            
                
            

            <div class="milestone-spacer pivotal moment"></div>

            <h4 class="milestone-super-title-txt pivotal moment xs-mt-10">pivotal moment</h4>
            
            <h1 class="milestone-title-txt xs-mt-20">Begins West Point education</h1>
            
            <h2 class="milestone-timespan-txt xs-mt-15">June 14, 1911</h2>
            
            
            <div class="milestone-body-txt xs-mt-30">
<p>At age 20, Eisenhower left his hometown of Abilene, Kansas for the United States Military Academy at West Point, the first step in what was to be a long and distinguished military career.</p>
</div>
            

            
            
            

            
            <a href="https://emcteaching.s3.amazonaws.com/Begins_West_Point_education.zip" download>
                <div class="padding-btn milestone-download-btn xs-mt-20 xs-mb-10">
                    <div class="download-icon"></div>
                    
                    <div class="download-icon-hover"></div>
                   
                    <span class="button-txt">download lesson plans</span>               
                </div>
            </a>
                  
             
            
            <a href="http://eisenhowermemorial.gov/experience/#/west_point" class="padding-btn milestone-explore-btn xs-mt-20 xs-mb-10" target="_blank">
                <div class="explore-icon"></div>
                
                <div class="explore-icon-hover"></div>
                
                <span class="button-txt">
                    
                        explore pivotal moment
                    
                </span>              
            </a>
            

            
        </div>
    </div> 

    <div class="milestone-links clearfix">
        <div class="milestone-prev pivotal moment">
            <span class="leftarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div>
        </div>
        
        <div class="milestone-next clearfix"> 
            <span class="rightarrow-icon"></span>
            <div class="milestone-prev-next-txt xs-pt-5"></div> 
        </div>
    </div>

    <div class="milestone-ui">
        <div class="milestone-close">
            <div class="close-icon"></div>
        </div>
    </div>
    
</div></body></html>{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer-mobile.html.twig" %}
{% endif %}