<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="jeannette-rankin-elected-to-us-congress" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/491.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/492.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/493.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/496.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Jeannette Rankin speaking from the balcony of the National American Woman Suffrage Association</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, Records of the National Woman's Party, ID: mnwp000156</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Jeannette Rankin elected to Congress</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">November 7, 1916</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Jeannette Rankin was the first woman to hold a high government office in the United States when elected to Congress from Montana. A lifelong pacifist, she was one of 56 members of Congress who voted against entry into World War I in 1917, and the only member of Congress to vote against declaring war on Japan after the attack on Pearl Harbor in 1941.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>