<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="national-security-act" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/694.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/695.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/696.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/699.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">President Truman signing National Security Act Amendment of 1949</span>

                <br>
                <span class="milestone-caption-txt">Harry S. Truman Library &amp; Museum, ID: 58-443</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">National Security Act</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 18, 1947</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>The National Security Act of 1947 represented a restructuring of the United States government’s military and intelligence agencies following World War II. In addition, the act established the National Security Council and the Central Intelligence Agency.  It also unified the Army, Navy and Air Force into a federated structure thereby establishing the Joint Chiefs of Staff. Eisenhower served informally as the first chair of the Joint Chiefs of Staff from November 1945 until February 1948.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>