<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="arpa-darpa" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/344.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/345.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/346.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/349.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Television and infrared observation satellite (TIROS) transmitted the first television picture from space</span>

                <br>
                <span class="milestone-caption-txt">NASA</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">ARPA/DARPA</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">February 7, 1958</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower created the Advanced Research Projects Agency (ARPA), later renamed the Defense Advanced Research Projects Agency (DARPA).  ARPA/DARPA was established to research and develop advanced science and technology projects, beyond immediate military requirements, which provided the U.S. a technological advantage in the Cold War.  DARPA projects would lay the groundwork for the creation of the internet.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>