<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Eisenhower</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta property="og:title" content="EMC"/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="EMC"/>
    <meta name="twitter:card" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/libs/normalize.css">
    <link rel="shortcut icon" href="/modules/custom/ike_timeline/src/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/modules/custom/ike_timeline/src/static/img/apple-touch-icon-precomposed.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body class="is-device jarst" ontouchstart>
    <div class="site-container">
      <header id="header" class="top-nav">
        <div class="top-nav-mobile clearfix">
          <div class="top-nav-mobile-left">
            <a class="top-nav-txt " href="/timeline">Eisenhower Interactive Timeline</a>
          </div>
          <div class="top-nav-mobile-right">
            <div class="search-icon inactive"></div>
            <div class="nav-icon">
              <span></span>
            </div>
          </div>
          <div class="top-nav-search">
            <input type="text" id="mobileSearch" class="search-txt" placeholder="search" autocomplete="off">
            <span class="close-small-icon"></span>
          </div>
        </div>

        <div class="top-nav-open">
          <div class="top-nav-menu-container">
            <div class="top-nav-menu-title-txt xs-pt-75">Menu</div>
            <ul class="top-nav-menu-items">
              <li>
                <a class="top-nav-menu-item-txt " href="/">Eisenhower Interactive Timeline</a>
              </li>
              <li>
                <a class="top-nav-menu-item-txt " href="/credits">Credits</a>
              </li>
            </ul>
            <div class="top-nav-footer">
              <div class="share-txt">Share this on</div>
              <div class="social-icons">
                <span class="facebook-icon inactive"></span>
                <span class="google-icon inactive"></span>
                <span class="mail-icon inactive"></span>
                <span class="twitter-icon inactive"></span>
              </div>
              <div class="top-nav-menu-helper-txt">This site is part of the</div>
              <div class="top-nav-menu-footer-txt xs-mt-20">Dwight D. Eisenhower Memorial</div>
            </div>
            <span class="close-icon"></span>
          </div>
        </div>
      </header>
      <section class="site-content-wrap">
        <div id="container" class="site-content">
          <!-- ============ PAGE CONTENT ============ -->
          <div id="timeline" class="overflow">
            <div class="milestone-container">
