<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="suez-crisis" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/33.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/34.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/35.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/38.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Ship passing through the Suez Canal</span>

                <br>
                <span class="milestone-caption-txt">Library of Congress, ID: matpc 23043</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Suez Crisis</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">October 29, 1956</h2>



            <div class="milestone-body-txt xs-mb-36">Eisenhower played a key role in ending the Suez Crisis of 1956. Following the President of Egypt Gamal Abdel Nasser’s decision to nationalize the Suez Canal on July 26, 1956, the French, British, and Israelis began a tripartite military mobilization against Egypt. Eisenhower pressured Britain and France to accept a United Nations cease-fire. Eisenhower’s handling of the Suez Crisis showed that he valued peace in the Middle East over protecting allied interests, as he barred even his closest allies from further military action.</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>