<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="sworn-in-as-president" data-mediatype="video" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/1086.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/1087.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="video-view">
                        <div class="video-container"></div>

                        <div class="fullscreen-wrapper">
                            <div class="fullscreen-icon"></div>
                        </div>
                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Video clip of Eisenhower's Inauguration (Excerpts from Eisenhower's "First Inaugural Address" are inscribed on the memorial)</span>

                <br>
                <span class="milestone-caption-txt">U.S. National Archives and Records Administration, ARC ID: 37025</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Sworn in as president</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">January 20, 1953</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Presidential candidate Eisenhower and his running mate, Richard Nixon, won the 1952 election against Illinois Governor Adlai Stevenson and running mate Senator John Sparkman by a large margin: 55% of the popular vote and 449 electoral votes.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>