<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="early-skyscrapers" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/407.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/408.png" data-category="History">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/409.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/412.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Reliance Building, Chicago, Illinois</span>

                <br>
                <span class="milestone-caption-txt">Historic American Buildings Survey, HABS ILL,16-CHIG,30--2</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">history</h4>

            <h1 class="milestone-title-txt xs-mb-5">Early Skyscrapers</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">1895</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Advances in building technology in the late nineteenth century made it possible to construct taller buildings without massive masonry foundations because of the invention of lighter steel frames and elevators. A key example is the Reliance Building in Chicago, built by the architectural firm of Burnham and Root. It was the first skyscraper to have large plate glass windows at each level of the building making the interior brighter and the exterior appear lighter.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>