<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="resigns-military-commission-to-run-for-president" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/202.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/203.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/204.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/207.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">Supreme Allied Commander Eisenhower</span>

                <br>
                <span class="milestone-caption-txt">North Atlantic Treaty Organization</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Resigns military commission to run for president</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 31, 1952</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Having decided to run for president, Eisenhower was relieved of command as NATO's Supreme Allied Commander, Europe at his request and retired from active military service. He left behind a legacy of preventing the spread of communism in Europe and promoting peace during the Cold War.<br>
<br>
<br>
 </p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>