<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="civil-rights-act-of-1957" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/337.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/338.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/339.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/342.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">President Eisenhower signs the Civil Rights Act of 1957</span>

                <br>
                <span class="milestone-caption-txt">Dwight D. Eisenhower Presidential LIbrary, ID: 67-174-4</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">Civil Rights Act of 1957</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">September 9, 1957</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower signed the Civil Rights Act of 1957, the first piece of civil rights legislation passed since Reconstruction. It established the Civil Rights Section of the Justice Department and a federal Civil Rights Commission with the authority to investigate discriminatory conditions and recommend corrective measures.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>