      <div class="citations" style="text-align: center">
        <div class="citations-wrapper clearfix">

          <div class="center">
            <span class="filter-txt active">Early Years (1890 -  1911)</span>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>Ellis Island, A view of the Emigrant Station in New York Harbor</i>
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Albert Einstein, ca. 1921
            </p>
            <p class="citation-credit">
              Library of Congress, ID: LC-H27-A-2848
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Belle Springs Creamery
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 64-483
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Early Ford automobile
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2011660900
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower birthplace in Denison, Texas
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 76-5-11
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              From left: &nbsp;Roy, Arthur, Edgar, Dwight
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 64-167-2
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              First Eisenhower family home in Abilene
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 62-296-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              First flight with Orville manning the aircraft and Wilbur looking on
            </p>
            <p class="citation-credit">
              Library of Congress, ID: ppprs 00626
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Frederick Jackson Turner
            </p>
            <p class="citation-credit">
              <em>The World's Work</em>, 1902
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Ike's high school graduation photo
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 64-170
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Marie Curie, 1890
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 96512741
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Newpaper article about the arrest of Homer Plessy
            </p>
            <p class="citation-credit">
              Daily Picayune , New Orleans, Louisiana
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Platform of the National Negro Committee, 1909
            </p>
            <p class="citation-credit">
              Library of Congress, ID: na0024
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Print featuring themes from the Spanish-American War
            </p>
            <p class="citation-credit">
              Library of Congress, ID: pga 01623
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Reliance Building, Chicago, Illinois
            </p>
            <p class="citation-credit">
              Historic American Buildings Survey, HABS ILL,16-CHIG,30--2
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              USS <i>Connecticut</i>
            </p>
            <p class="citation-credit">
              Library of Congress, ID: det1994011766/PP
            </p>
          </div>


          <div class="center">
            <span class="filter-txt active">Military Career (1911 -  1948)</span>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              "We Can Do It!" poster featuring the cultural icon Rosie the Riveter
            </p>
            <p class="citation-credit">
              National Museum of American History
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>D-Day, 1944 - The Decision That Changed the World</i>, E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>West Point, 1911 – A Life in Service to His Country</i>, E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              A computer room at NASA
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 278195
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Aerial view of the Pearl Harbor submarine base
            </p>
            <p class="citation-credit">
              Naval History and Heritage Command, ID: 80-G-451125
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              African-American and white soldiers during World War II
            </p>
            <p class="citation-credit">
              Harry S. Truman Library &amp; Museum, ID: 72-3952
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Amelia Earhart sitting in the cockpit of an Electra airplane, December 15, 1937
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2011649482
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Archduke Ferdinand and his wife shortly before their assassination by Gavrilo Princip
            </p>
            <p class="citation-credit">
              Imperial War Museums, U.K., Catalog number: Q 79761
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Arthur Garfield Hays reading the scientists’ testimony into the Scopes Monkey Trial record
            </p>
            <p class="citation-credit">
              Smithsonian Institution, ID: 2009-21079
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Berliners watching a C-54 land at Berlin Tempelhof Airport
            </p>
            <p class="citation-credit">
              United States Air Force Historical Research Agency via Cees Steijger (1991), "A History of USAFE", Voyageur, ISBN: 1853100757, ID: 070119-F-0000R-101
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Celebrating the end of World War I with a parade in New York City
            </p>
            <p class="citation-credit">
              Library of Congress, ID: ggbain 27744
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Charles Lindbergh, St. Louis, Missouri, 1923
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2002722130
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Colonel George Barker, Lieutenant General Lesley J. McNair and Brigadier General Eisenhower studying situation maps,
              Camp Polk, Louisiana, 1941
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary ID #64-57-6
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Company E, 314th Engineers, 89th Division, making rolling barbed wire entanglements
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 285377
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Doud "Icky" Dwight Eisenhower
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, ID: EISE 15817
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Duke Ellington (second from left) at William P. Gottlieb's home, Maryland, 1941
            </p>
            <p class="citation-credit">
              Library of Congress, ID: LC-GLB13- 0235
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Dwight D. Eisenhower and other officers at Camp Colt Headquarters
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, ID: ENHS 1021. Dwight D. Eisenhower Presidential Library, ID: 63-584-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower and Free French General Henri Honore Giraud salute the flags of both nations at Allied headquarters in Algiers, Algeria, 1942
            </p>
            <p class="citation-credit">
              Library of Congress, LC-USW33- 026191-C
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Father reading newspaper, two children viewing television
            </p>
            <p class="citation-credit">
              Library of Congress, ID: gsc 5a19812
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              First-nighters posing for the camera outside the Warners' Theater in New York City before the premiere of "Don Juan"
            </p>
            <p class="citation-credit">
              U. S. National Archives and Records Administration, ID: 535750
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              From left: Clement Attlee, Harry Truman, and Joseph Stalin, seated outdoors at Berlin conference
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 96522042
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              General MacArthur and Major Eisenhower reviewing a parade in the Philippines
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 77-18-20
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              German troops parade through Warsaw, Poland
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 559369
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Ike playing football
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 77-18-8
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Ike's West Point graduation photo
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 64-173-2
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Immigrants walking across pier from bridge, New York, Ellis Island
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 91482188
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Inauguration as President of Columbia University
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 63-185-37
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Installation views
            </p>
            <p class="citation-credit">
              Archives of American Art
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Jackie Robinson
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 6802718
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Jeannette Rankin speaking from the balcony of the National American Woman Suffrage Association
            </p>
            <p class="citation-credit">
              Library of Congress, Records of the National Woman's Party, ID: mnwp000156
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Last lifeboat successfully launched from the <i>Titanic</i>
            </p>
            <p class="citation-credit">
              National Archives and Records Administration, ARC ID: 278338
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Leon Trotsky, Vladimir Lenin, and Lev Kamenev - Bolshevik leaders of the Russian Revolution
            </p>
            <p class="citation-credit">
              New York Public Library Digital Collections, ID: 51923
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Location of American Cemeteries and Monuments
            </p>
            <p class="citation-credit">
              National Archives and Records Administration, ARC ID: 6003977
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Major Eisenhower
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, ID: ENHS 1019
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Major Eisenhower and Brigadier General Fox Conner in Panama
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, ID: ENHS 3784
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Manzanar Relocation Center, California
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2002695970
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              National Women's party headquarters, Washington, DC
            </p>
            <p class="citation-credit">
              Library of Congress, ID: hec 30267
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Nuclear weapons test on Bikini Atoll
            </p>
            <p class="citation-credit">
              Library of Congress, 2012648160
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Opening day ceremonies of SHAPE headquarters
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Painting of General Eisenhower in U.S. Army uniform
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, EISE 414
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Panoramic view of supplies being brought ashore for Allied troops
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 71-243
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Photograph of Eisenhower in 1926 at his family reunion immediately after his graduation
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 67-631
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Photograph of Jane Addams, Hull House, Chicago, Illinois, ca. 1913
            </p>
            <p class="citation-credit">
              Library of Congress, ID: ncl2004002841/PP
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Portrait of John Sheldon Doud Eisenhower, by C.J. Fox, 1944
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, ID: EISE 2936
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Franklin D. Roosevelt signs the G.I. Bill in the Oval Office, with (L to R) Bennett “Champ” Clark, J. Hardin Peterson, John Rankin, Paul Cunningham, Edith N. Rogers, J.M. Sullivan, Walter George, John Stelle, Robert Wagner, (unknown) and Alben Barkley
            </p>
            <p class="citation-credit">
              Franklin D. Roosevelt Presidential Library, ID: NPx 64-269
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Truman at Churchill's Iron Curtain Speech
            </p>
            <p class="citation-credit">
              Harry S. Truman LIbrary and Museum, ID: 59-1101
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Truman signing National Security Act Amendment of 1949
            </p>
            <p class="citation-credit">
              Harry S. Truman Library &amp; Museum, ID: 58-443
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Prohibition officers raiding the lunch room of 922 Pennsylvania Avenue, Washington, DC
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3b41627
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Pylons at Dwight D. Eisenhower President Library and Museum
            </p>
            <p class="citation-credit">
              Eisenhower Foundation
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              RMS <i>Lusitania</i>
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3g13287
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Residents of Oak Ridge, Tennessee, fill Jackson Square to celebrate the surrender of Japan
            </p>
            <p class="citation-credit">
              American Museum of Science and Energy, ID: PRO 946-24
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Station KDKA's radio room
            </p>
            <p class="citation-credit">
              George H. Clark Radioana Collection, Archives Center, National Museum of American History, Smithsonian Institution
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Supreme Allied Commander Eisenhower, wearing the five-star cluster of the newly-created rank of General of the Army, pictured at his headquarters in the European Theater of Operations
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 520686
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The Officers of the War Plans Division in Washington, DC, from left to right: Col. W. K. Harrison, Col. Lee S. Gerow, Brig. Gen. Robert W. Crawford, Brig. Gen. Dwight D. Eisenhower, Brig. Gen. Leonard T. Gerow, Chief, Col. Thomas T. Handy, Col. Stephen H. Sherrill.
            </p>
            <p class="citation-credit">
              U.S. Army
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The U.S. flag is lowered while the flag of the Philippines is raised during the Independence Day ceremony
            </p>
            <p class="citation-credit">
              Republic of the Philippines Presidential Museum and Library
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The official opening of the League of Nations
            </p>
            <p class="citation-credit">
              National Library of Norway
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The principal architects of the Treaty of Versailles: David Lloyd George of Britain, Vittorio Orlando of Italy, Georges Clemenceau of France, and Woodrow Wilson of the United States
            </p>
            <p class="citation-credit">
              Library of Congress, ID: ggbain 29038
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The whole convoy, Utah
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 98-3-140
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Top: German officers sign unconditional surrender, Reims, France;
              Bottom: Allied force leaders at the signing
            </p>
            <p class="citation-credit">
              Franklin D. Roosevelt Presidential Library, ID: 195337
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              U.S. Liberty ship <i>Robert Rowan</i> explodes off the coast of Gela, Sicily, July 11, 1943
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID:531165
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              United Nations Headquarters
            </p>
            <p class="citation-credit">
              Library of Congress, ID: ny0948
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              United We Are Strong, United We Will Win Poster
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3g12529
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              View of the judges' panel during testimony at the Nuremberg Trials
            </p>
            <p class="citation-credit">
              Harvard Law School Library, Harvard University
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Volunteers of America soup kitchen in Washington, DC
            </p>
            <p class="citation-credit">
              Franklin D. Roosevelt Presidential Library, ID: 53227-(293)
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Wedding portrait
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 62-322
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Zimmerman telegram decrypted and translated
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration
            </p>
          </div>


          <div class="center">
            <span class="filter-txt active">Post War (1948 -  1953)</span>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              "And Now the Super-Duper?" political cartoon on the H-Bomb
            </p>
            <p class="citation-credit">
              State Historical Society of Missouri, Collection Number 71
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              "Guard Your Freedom - Protect Your Rights" and other similar posters were designed to promote American values overseas
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 5729965
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>NATO, 1951 - A Coalition United For Peace</i>, E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>Winning the Presidency, 1952 - Daring All For Our Country</i>, E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Authentication page for an official copy of the NATO treaty, signed and sealed by Secretary of State Dean Acheson
            </p>
            <p class="citation-credit">
              State Department/U.S. Diplomacy Center
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Colonel Oveta Culp Hobby talks with Auxiliary Margaret Peterson and Captain Elizabeth Gilbert at Mitchel Field
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2003688487
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Cover of <i>The Secretary of State</i> by the American Assembly
            </p>
            <p class="citation-credit">
              University of Michigan
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              David Eisenhower at the entrance to Camp David, 1960
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Library, ID: 67-388-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Double-stranded DNA helix
            </p>
            <p class="citation-credit">
              U.S. Department of Energy
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Edward R. Murrow
            </p>
            <p class="citation-credit">
            </p><p>Ad for Pan American Coffee Bureau in <em>LIFE</em>&nbsp;magazine, pg. 59</p>

            <p>Wikimedia Commons</p>

            <p></p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower standing before the U.N. General Assembly
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 72-595-11
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Honoring his famous "I Shall Go To Korea" campaign promise, President-elect Eisenhower reviews troops of the Republic of Korea's Capitol Division during his visit in December 1952
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 77-18-867
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Honoring his famous "I Shall Go To Korea" campaign promise, President-elect Eisenhower reviews troops of the Republic of Korea's Capitol Division during his visit in December 1952
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 520995
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Iran-News Poster
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 6948849
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Joseph Stalin, ca. 1942
            </p>
            <p class="citation-credit">
              Library of Congress, ID: owi2001045684/PP
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Photo from <i>LIFE</i> magazine of television screen showing Richard Nixon delivering his "Checkers" speech
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 16916012
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Queen Elizabeth II and Prince Philip, Duke of Edinburgh, Coronation portrait, 1953
            </p>
            <p class="citation-credit">
              Library and Archives Canada, ID: 3242153
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Secretary of State John Foster Dulles with President Eisenhower
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 594350
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Senator Pat McCarran
            </p>
            <p class="citation-credit">
              Library of Congress, ID: hec2008009249
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Supreme Allied Commander Eisenhower
            </p>
            <p class="citation-credit">
              North Atlantic Treaty Organization
            </p>
          </div>


          <div class="center">
            <span class="filter-txt active">Presidency (1953 -  1961)</span>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              "Any Route Figured Out?" political cartoon on Eisenhower Doctrine
            </p>
            <p class="citation-credit">
              The State Historical Society of Missouri
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>Little Rock, 1957 – The Civil Rights Battleground</i>, <br>E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>Space Race, 1958 - Launching America’s Era of Space Exploration</i>, E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              <i>Waging Peace, 1953 - Fighting To End All War</i>, <br>E-Memorial Pivotal Moment Film
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              A cutaway diagram of Explorer I
            </p>
            <p class="citation-credit">
              NASA/Marshall Space Flight Center Collection
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              A worker in a Naval Supply Depot warehouse loads small items into baskets that are equipped with coded microchips for inventory control purposes
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 6442600
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Accompanied by his medical team, President Eisenhower made his first public appearance following a heart attack
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 72-1511-9
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Admission of the State of Hawaii into the Union - A Proclamation
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 1959-08-21-Proclamation #3309
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Affiliates of the People to People International program, John Hanes and Ed Lipscom call on President Eisenhower
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 72-2245-1 (NPS)
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Arkansas Governor Faubus besieged by newsmen following his two hour conference with President Eisenhower
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 67-178-9
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Astronaut Alan B. Shepard, Jr., 1961
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 7430728
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Audio clip of Eisenhower addressing nation regarding Central High School
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Begum Liaquat Ali Khan Meets James Killian, shown here at the far right during his tenure as the president of MIT
            </p>
            <p class="citation-credit">
              Department of State, Harry S. Truman Library and Museum
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Disneyland aerial view, Anaheim, California
            </p>
            <p class="citation-credit">
              USC Regional History Photo Collection
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Dr. Jonas Salk with his presidential citation presented by Eisenhower in recognition of his extraordinary achievement, April 22, 1955
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 72-1322-4
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Dwight and Mamie Eisenhower
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower LIbrary, ID: 65-766-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Earl Warren
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3a41979
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower Fellowships logo
            </p>
            <p class="citation-credit">

            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower family at Christmas
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 72-1574-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Eisenhower signing legislation authorizing the establishment of the U.S. Air Force Academy
            </p>
            <p class="citation-credit">
              U.S. Air Force Academy McDermott Library Archives
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Elementary students at an African-American school in Washington, DC
            </p>
            <p class="citation-credit">
              Library of Congress, ID: fsa 8d20301
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Enlargement of the 20-dollar bill
            </p>
            <p class="citation-credit">
              Wikimedia Commons
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Fidel Castro arrives at MATS Terminal, Washington, DC
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2004672759
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Heads of state of member SEATO nations, Manila, Philippines, October 24, 1966
            </p>
            <p class="citation-credit">
              Lyndon Baines Johnson Presidential Library, ID: C-3638-6
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Heidi and her master take a walk along opposite sides of the White House fence, March 11, 1959
            </p>
            <p class="citation-credit">
              National Park Service, ID: 72-3010-2
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Hungarian Revolution of 1956 Memorial near Parliament Building in Budapest
            </p>
            <p class="citation-credit">
              Wikimedia Commons
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              John Marshall Harlan, II
            </p>
            <p class="citation-credit">
              Wikimedia Commons
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Letter from Linda Kelly, Sherry Bane, and Mickie Mattson to President Eisenhower regarding Elvis Presley
            </p>
            <p class="citation-credit">
              White House Central Files/Eisenhower Administration
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Map of the Taiwan Strait
            </p>
            <p class="citation-credit">
              University of Texas at Austin
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              McDonald's store #1 located west of Chicago, Illinois
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2011631143
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Nixon and Khrushchev stand in front the exhibit during the exchange
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 16916096
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Page 2 from Eisenhower's marked up reading copy of his "Farewell Address"
              (Excerpts from Eisenhower's "Farewell Address" are inscribed on the memorial)
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower LIbrary
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Potter Stewart, January 28, 1976
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2002721286
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Eisenhower at a White House press conference
            </p>
            <p class="citation-credit">
              Eisenhower National Historic Site, EISE 1322/Dwight D. Eisenhower Presidential Library, ID: 72-2276-1
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Eisenhower giving a televised speech about science and national security
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2012649173
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Eisenhower on the reviewing stand with his grandchildren, Anne and David Eisenhower; and Vice President Nixon with his daughters, Julie and Tricia Nixon
              (Excerpts from Eisenhower's "Second Inaugural Address" are inscribed on the memorial)
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Eisenhower signs the Civil Rights Act of 1957
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential LIbrary, ID: 67-174-4
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President John F. Kennedy and former President General Dwight D. Eisenhower meet at Camp David
            </p>
            <p class="citation-credit">
              John F. Kennedy Library, Accession Number AR6533-B
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Rosa Parks with Dr. Martin Luther King, Jr.
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 306-PSD-65-1882
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Ship passing through the Suez Canal
            </p>
            <p class="citation-credit">
              Library of Congress, ID: matpc 23043
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Sign for the Interstate Highway System, saluting President Eisenhower, who initiated the system in the 1950s
            </p>
            <p class="citation-credit">
              Library of Congress, ID: 2011633914
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Sit-in at Woolworth's lunch counter, Tallahassee, Florida
            </p>
            <p class="citation-credit">
              State Library and Archives of Florida
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              St. Lawrence Seaway
            </p>
            <p class="citation-credit">
              Weber State University Stewart Library Digital Collections
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Steel sculpture "The Sentinels of Justice" at the Charles Evans Whittaker U.S. Courthouse, Kansas City, Missouri
            </p>
            <p class="citation-credit">
              Library of Congress, ID: highsm 11324
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Street rally in New York City under joint sponsorship of NAACP and Retail, Wholesale and Department Store Workers Union (District 65) in protest of the slaying of Emmett Till
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3c21590
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Television and infrared observation satellite (TIROS) transmitted the first television picture from space
            </p>
            <p class="citation-credit">
              NASA
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              The Sputnik 1 satellite on a rigging truck in the assembly shop
            </p>
            <p class="citation-credit">
              NASA
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Unfurling the new 49-star flag
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 72-2933-2
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Video clip of Eisenhower's Inauguration (Excerpts from Eisenhower's "First Inaugural Address" are inscribed on the memorial)
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ARC ID: 37025
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Video clip of President Eisenhower speaking at Geneva airport before the Summit
            </p>
            <p class="citation-credit">
              Internet Archive
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Volunteers track the flight paths of aircraft
            </p>
            <p class="citation-credit">
              Library of Congress, ID: fsa 8b06207
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              William J. Brennan, Jr.
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3b07877
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              William Rogers and Lawrence Walsh witness President Eisenhower signing the Civil Rights Bill
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Presidential Library, ID: 72-3417-1
            </p>
          </div>


          <div class="center">
            <span class="filter-txt active">Post Presidency (1961 -  1969)</span>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Air Force file photo of the first launch of a Trident missile, January 18, 1977, Cape Canaveral, Florida
            </p>
            <p class="citation-credit">
              Naval Historical Center
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Astronaut Buzz Aldrin on the surface of the moon
            </p>
            <p class="citation-credit">
              National Aeronautics and Space Administration
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Betty Friedan
            </p>
            <p class="citation-credit">
              Library of Congress, ID: cph 3c15884
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Dwight D. Eisenhower in retirement
            </p>
            <p class="citation-credit">
              Dwight D. Eisenhower Library, ID: 77-18-1502
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Funeral services for Dwight D. Eisenhower, Washington National Cathedral
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 194283
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Library at Eisenhower Foundation
            </p>
            <p class="citation-credit">
              Eisenhower Foundation
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Packer's coach, Vince Lombardi, making a point to an official at the Coliseum
            </p>
            <p class="citation-credit">
              Herald-Examiner Collection, Los Angeles Public Library, ID: LAPL00048933
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Place of Meditation
            </p>
            <p class="citation-credit">
              Eisenhower Foundation
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              President Lyndon B. Johnson signs the 1964 Civil Rights Act as Martin Luther King, Jr., and others, look on
            </p>
            <p class="citation-credit">
              Lyndon B. Johnson Presidential LIbrary
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Rachel Carson, 1944
            </p>
            <p class="citation-credit">
              U.S. Fish and Wildlife Service National Digital Library
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              Signing of the Voting Rights Act with President Johnson and Dr. Martin Luther King, Jr., President's Room, U.S. Capitol, Washington, DC
            </p>
            <p class="citation-credit">
              Lyndon B. Johnson Presidential Library, ID: A1030-17a
            </p>
          </div>

          <div class="xs-mb-20 citation-txt">
            <p class="citation-title">
              View of Crowd at 1963 March on Washington
            </p>
            <p class="citation-credit">
              U.S. National Archives and Records Administration, ID: 542045
            </p>
          </div>

        </div>
      </div>

