<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Eisenhower</title>

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


        <meta property="og:title" content="EMC">
        <meta property="og:image" content="">
        <meta property="og:description" content="">

        <meta property="og:site_name" content="EMC">


        <meta name="twitter:card" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <meta name="twitter:site" content="@">
        <meta name="twitter:creator" content="@">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


        <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/libs/normalize.css">
        <link rel="shortcut icon" href="/modules/custom/ike_timeline/src/static/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/timeline/static/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/timeline/static/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/timeline/static/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/timeline/static/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/timeline/static/img/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/timeline/static/img/apple-touch-icon-precomposed.png">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <!-- Add your site or application content here
        <script>window.jQuery || document.write('<script src="/timeline/static/js/libs-bower/jquery/dist/jquery.min.js"><\/script>')</script>-->


    </head>
    <body class="is-device jarst" ontouchstart>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> or
                <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
                to improve your experience.</p>
        <![endif]-->
        <div class="site-container">
          {% include '/modules/custom/ike_timeline/templates/page-header-mobile.html.twig' %}
            <section class="site-content-wrap">
                <div id="container" class="site-content">
                    <!-- ============ PAGE CONTENT ============ -->

                        <div id="timeline">


	<div class="loading-screen timeline active">
		<div style="background-image:url('/modules/custom/ike_timeline/src/static/img/gif/loading.gif')"></div>
	</div>

	<div class="milestone-container">
		<div class="loading-screen milestone">
			<div style="background-image:url('/modules/custom/ike_timeline/src/static/img/gif/loading.gif')"></div>
		</div>
	</div>

	<ul class="accordion">

				<li class="accordion-list" data-id="56b789863fdcfe342c064c75">
					<a class="js-accordion-trigger time-period clearfix">
						<div class="time-period-title-txt">Early Years</div>
							<span class="openarrow-icon"></span>
							<span class="collapsearrow-icon"></span>
						<div class="time-period-dates">1890 -  1911</div>
					</a>

					<ul class="submenu">
						<li class="grid-sizer">

						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99f8">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/17.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/0.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Closing of the American Frontier</div>
										<div class="event-date-txt xs-pt-5">June 1, 1890</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dae0e49b9072c3e2bb6">

								<div class="grid-item-thumbnail eisenhower lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/18.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/1.png"></div>

								<div class="grid-item-text eisenhower">
									<div class="event-text">
										<div class="event-title-txt">Born</div>
										<div class="event-date-txt xs-pt-5">October 14, 1890</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99f7">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/19.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/2.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Opening of Ellis Island</div>
										<div class="event-date-txt xs-pt-5">January 1, 1892</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dae0e49b9072c3e2bb7">

								<div class="grid-item-thumbnail eisenhower lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/20.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/3.png"></div>

								<div class="grid-item-text eisenhower">
									<div class="event-text">
										<div class="event-title-txt">Moves to Abilene</div>
										<div class="event-date-txt xs-pt-5">March 1892</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dae0e49b9072c3e2bb8">

								<div class="grid-item-thumbnail eisenhower lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/21.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/4.png"></div>

								<div class="grid-item-text eisenhower">
									<div class="event-text">
										<div class="event-title-txt">First known photograph</div>
										<div class="event-date-txt xs-pt-5">1893</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99f6">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/22.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/5.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Early Skyscrapers</div>
										<div class="event-date-txt xs-pt-5">1895</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99f9">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/23.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/6.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Plessy v. Ferguson</div>
										<div class="event-date-txt xs-pt-5">May 18, 1896</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99fa">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/24.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/7.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Spanish-American War</div>
										<div class="event-date-txt xs-pt-5">April 25, 1898</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99fb">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/25.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/8.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Marie Curie wins Nobel Prize</div>
										<div class="event-date-txt xs-pt-5">December 10, 1903</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99fc">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/26.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/9.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Wright Brothers’ first flight</div>
										<div class="event-date-txt xs-pt-5">December 17, 1903</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99fd">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/27.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/10.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Einstein publishes Theory of Relativity</div>
										<div class="event-date-txt xs-pt-5">September 26, 1905</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99fe">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/28.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/11.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Great White Fleet Sets Sail</div>
										<div class="event-date-txt xs-pt-5">December 16, 1907</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f99ff">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/29.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/12.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">Ford introduces the Model T</div>
										<div class="event-date-txt xs-pt-5">October 1, 1908</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dae0e49b9072c3e2bba">

								<div class="grid-item-thumbnail eisenhower lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/30.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/13.png"></div>

								<div class="grid-item-text eisenhower">
									<div class="event-text">
										<div class="event-title-txt">Works at Belle Springs Creamery</div>
										<div class="event-date-txt xs-pt-5">1909 -  1911</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dbf0e49b9072d3f9a00">

								<div class="grid-item-thumbnail history lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/31.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/14.png"></div>

								<div class="grid-item-text history">
									<div class="event-text">
										<div class="event-title-txt">NAACP founded</div>
										<div class="event-date-txt xs-pt-5">February 12, 1909</div>
									</div>
								</div>
							</li>


						<li class="grid-item not-loaded" data-id="56969dae0e49b9072c3e2bb9">

								<div class="grid-item-thumbnail eisenhower lazy" data-aspect-ratio="100" style="background-image:url(/modules/custom/ike_timeline/src/static/img/assets/32.png)" data-original="/modules/custom/ike_timeline/src/static/img/assets/15.png"></div>

								<div class="grid-item-text eisenhower">
									<div class="event-text">
										<div class="event-title-txt">Graduates From High School</div>
										<div class="event-date-txt xs-pt-5">May 27, 1909</div>
									</div>
								</div>
							</li>


					</ul>
				</li>


	</ul>




                            <div class="sponsor">

                                <img src="/modules/custom/ike_timeline/src/static/img/assets/16.png" width="" height="">


                            </div>


                        </div>

                </div>
            </section>
        </div>

            <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/screen.css">
            <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/sprites.css">
            <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/extra.css">

            <script src="/modules/custom/ike_timeline/src/static/js/libs-bower/jquery/dist/jquery.js"></script>
            <script src="/modules/custom/ike_timeline/src/static/js/extra.js"></script>

                  <script src="https://use.typekit.net/sls0opf.js"></script>
                  <script>try{Typekit.load({ async: true });}catch(e){}</script>


            <!-- ============ END PAGE STYLES ============ -->


            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '', '');
                ga('send', 'pageview');
            </script>



            <script>
                window.base_url = '/'.replace(/\//g, '')

                window.require = {
                    "config":{
                        "baseUrl":  window.base_url+"/static/js"
                    }
                }

            </script>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js" data-main="/modules/custom/ike_timeline/src/static/js/AppMain.min"></script>


    </body>
</html>
