<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Eisenhower Interactive Timeline</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta property="og:title" content="EMC" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="EMC" />
  <meta name="twitter:card" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">
  <link rel="stylesheet" href="/modules/custom/ike_timeline/src/static/css/libs/normalize.css">
  <link rel="shortcut icon" href="/modules/custom/ike_timeline/src/static/favicon.ico" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body class="is-device jarst mobile-handheld ios" ontouchstart>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    <header class="top-nav">
      <div class="top-nav-desktop clearfix">
        <div class="top-nav-desktop-left">

          {# EF3-101 - Remove Logo #}
{#          <a class="site-logo" href="/">#}
{#            <img src="/modules/custom/ike_timeline/src/static/img/logo.svg">#}
{#          </a>#}
          <a class="top-nav-txt lg-ml-5 inactive" href="/">Eisenhower Foundation</a>
          <div class="vertical-divider"></div>
          <a class="top-nav-txt lg-ml-5 active" href="/timeline">Interactive Timeline</a>
          <div class="vertical-divider"></div>
          <a class="top-nav-txt lg-ml-5 inactive" href="/ikeducation/lesson-plans">Lesson Plan Archive</a>
        </div>
        <div class="top-nav-desktop-right">
          <div class="top-nav-search-wrapper">
            <div class="search-icon-desktop"></div>
            <input type="text" id="search" class="search-txt" placeholder="search timeline" autocomplete="off">
            <div class="close-icon-small"></div>
          </div>
        </div>
      </div>
    </header>
</body>
