<html><body>
<p>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-header.html.twig" %}
{% endif %}</p>


                        <div class="milestone" data-id="st-lawrence-seaway" data-mediatype="image" data-downloaduri="/modules/custom/ike_timeline/src/static/img/assets/258.png" data-fullscreenimage="/modules/custom/ike_timeline/src/static/img/assets/259.png" data-category="Eisenhower">

    <div class="milestone-ui">
        <div class="milestone-close close-icon"></div>


        <div class="milestone-prev is-invisible">
            <div class="leftarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>


        <div class="milestone-next is-invisible">
            <div class="rightarrow-icon"></div>

            <div class="milestone-prev-next-txt"></div>
        </div>
    </div>

    <div class="milestone-content clearfix is-invisible">
        <div class="milestone-media">



            <div class="milestone-image-wrapper xs-mb-10">

                    <div class="full-width">

                        <img src="/modules/custom/ike_timeline/src/static/img/assets/260.png" width="" height="">





                        <a href="/modules/custom/ike_timeline/src/static/img/assets/263.png" class="download-media download-button-icon" target="_self" download></a>

                    </div>

            </div>


            <div class="milestone-image-caption xs-mb-10">
                <span class="milestone-caption-txt">St. Lawrence Seaway</span>

                <br>
                <span class="milestone-caption-txt">Weber State University Stewart Library Digital Collections</span>

            </div>
        </div>
        <div class="milestone-text">




            <h4 class="milestone-super-title-txt xs-mb-5">eisenhower</h4>

            <h1 class="milestone-title-txt xs-mb-5">St. Lawrence Seaway</h1>


            <h2 class="milestone-timespan-txt xs-mb-16 xl-mb-26">May 13, 1954</h2>



            <div class="milestone-body-txt xs-mb-36">
<p>Eisenhower signed the Wiley-Dondero Act authorizing a partnership with Canada to construct the St. Lawrence Seaway and to establish the St. Lawrence Seaway Development Corporation as the U.S. authority. The seaway opened the United States Midwest and the interior of Canada to ocean shipping.</p>
</div>








        </div>
    </div>
</div>
{% if variables.needs_wrapper %}
  {% include "@ike_timeline/page-footer.html.twig" %}
{% endif %}</body></html>